

.beta-top, .alpha-top {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  top: 0;
  background-color: #f2f2f2;
  z-index: 100;
}

.beta, .alpha {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  z-index: 100;
}

.alpha-label {
  background-color: black;
  border: none;
  color: white;
  font-weight: 700;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 0px;
  font-size: 14px !important;
}

.beta-label {
  background-color: #0052A3;
  border: none;
  color: white;
  font-weight: 700;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 0px;
  font-size: 14px !important;
}

.beta-fill, .alpha-fill {
  background-color: #f2f2f2;
  padding: .6em 1em .6em .6em;
}
