.alpha-label {

  background-color: black;
  border: none;
  color: white;
  font-weight: 700;
  padding: 2px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 0px;
  font-size: 14px !important;
  max-width: 60px;


}

.alpha-label-2 {

  background-color:;
  border-left: #333 8px solid !important;
  border: #333 1px solid;
  color: #333;
  font-weight: 700;
  padding: 0px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 0px;
  font-size: 14px !important;
  max-width: 65px;


}

.beta-label {

  background-color: #0052A3;
  border: none;
  color: white;
  font-weight: 700;
  padding: 2px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 0px;
  font-size: 14px !important;
  min-width: 57px;

}


.beta-label-2 {

  background-color:;
  border-left: #0052A3 8px solid !important;
  border: #0052A3 1px solid;
  color: #0052A3;
  font-weight: 700;
  padding: 0px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 0px;
  font-size: 14px !important;
  min-width: 65px;

}
