.component-tombstone {
  line-height:1.65em;
}


@media only screen and (max-width: 768px) {
  .btn-links-mobile {
    width: 100%;
  }
}

.pattern-demo.component {
  padding-top:35px;
}


.pattern-demo-design-variant {
  padding: 10px;
  padding-top:35px;
  margin-bottom: 10px;
  /* padding-bottom:35px; */
}

.btn-sm-txt {
  font-size:14px!important;
}
