
.guidance-ban-nav {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  top: 0;
  background-color: #26374a;
  z-index: 100;
  position: sticky;
}

.guidance-nav {
  color: white !important;
  text-decoration: underline;
  padding-top: 6px;
}

.guidance-nav a {
  color: white !important;
}

.guidance-nav a:hover {
  color: white !important;
}

.guidance-nav a:visited {
  color: white !important;
}

.guidance-nav i {
  text-decoration: none;
}

.guidance-ban-nav .btn-group .btn {
  height: 36px;
  padding-top: 5px;
  background-color: #26374a;
  color: white;
  border: 1px solid #4072bb;
}

.guidance-ban-nav .btn-group .active {
  background-color: #305991;
  font-weight: 800;
}

.guidance-ban-nav .btn-sm {
  padding-top: 5px;
}
@media only screen and (max-width: 600px) {
.pstn-get-code {
  position: absolute;
  top:0;
  right:0;
}
}
