/*alert design */
.alert:before {
	height: 34px;
	content: "";
	background-color: #fff;
	width: 6px;
	display: inline;
	margin-top: -1px;
	margin-left: -26px;
	position: absolute;
}
.alert-success, .alert-info, .alert-warning, .alert-danger {
	background: #fff !important;
}
.alert {
	border-width: 1px 1px 1px 4px !important;
	margin-left: 12px;
	padding-left: 20px;
	border-width: 0px 0px 0px 6px!important
}
.alert-success > :first-child::before, .alert-info > :first-child::before, .alert-warning > :first-child::before, .alert-danger > :first-child::before {
	font-size: 26px;
	margin-left: -1.48em;
	padding: 2px;
	line-height: 1.1em;
}
.alert > :first-child {
	margin-left: 0em;
}
.alert >:first-child::before {
	margin-right: 0.4em
}
/*targets the first h2 or h3 of alerts and matches the border color
.alert-info h2:first-child, .alert-info h3:first-child, .alert-info .h2:first-child, .alert-info .h3:first-child {
	color: #269abc
}
.alert-success h2:first-child, .alert-success h3:first-child, .alert-success .h2:first-child, .alert-success .h3:first-child {
	color: #278400
}
.alert-warning h2:first-child, .alert-warning h3:first-child, .alert-warning .h2:first-child, .alert-warning .h3:first-child {
	color: #f90
}
.alert-danger h2:first-child, .alert-danger h3:first-child, .alert-danger .h2:first-child, .alert-danger .h3:first-child {
	color: #d3080c
}
