/*Removes current class alerts overrides (remove when this code replaces current alert CSS) */
.experimental .alert-info > :first-child::before, .experimental .alert-success > :first-child::before, .experimental .alert-warning > :first-child::before, .experimental .alert-danger > :first-child::before {
	content: none;
}
.experimental .alert {
	background-color: inherit;
}
.experimental .alert > :first-child {
	margin-left: 15px;
}
/*replacement code */
.alert {
	margin-left: 10px;
	border-left: 6px solid #000;
	padding: 0 0 0 15px;
	background-clip: content-box;
	margin-bottom: 23px;
}
.alert > p, .alert > .ul, .alert > .ol {
	margin-bottom: 0px;
}
.alert>* {
	margin-left: 15px;
}
.alert details {
	margin-left: 0.5em;
	padding-top: 15px;
}
.alert >:first-child:not(details) {
	padding-top: 15px;
	margin-top: auto;
}
.alert >:last-child {
	padding-bottom: 25px;
}
.alert:before {
	font-size: 26px;
	margin-left: -1.27em;
	padding: 2px;
	line-height: 2.3em;
	font-family: "Glyphicons Halflings";
	position: absolute;
}
.alert-info {
	border-image: linear-gradient(to bottom, #269abc 16px, #269abc 16px, rgba(0,0,0,0) 16px, rgba(0,0,0,0) 48px, #269abc 48px, #269abc 48px) 1 100%;
	border-color: #269abc;
}
.alert-success {
	border-image: linear-gradient(to bottom, #278400 16px, #278400 16px, rgba(0,0,0,0) 16px, rgba(0,0,0,0) 48px, #278400 48px, #278400 48px) 1 100%;
	border-color: #278400;
}
.alert-warning {
	border-image: linear-gradient(to bottom, #f90 16px, #f90 16px, rgba(0,0,0,0) 16px, rgba(0,0,0,0) 48px, #f90 48px, #f90 48px) 1 100%;
	border-color: #f90;
}
.alert-danger {
	border-image: linear-gradient(to bottom, #d3080c 16px, #d3080c 16px, rgba(0,0,0,0) 16px, rgba(0,0,0,0) 48px, #d3080c 48px, #d3080c 48px) 1 100%;
	border-color: #d3080c;
}
.alert-info::before {
	content: "\e086";
	color: #269abc;
}
.alert-success::before {
	content: "\e084";
	color: #278400;
}
.alert-warning::before {
	content: "\e107";
	color: #f90;
}
.alert-danger::before {
	content: "\e101";
	color: #d3080c;
}
.alert-info.alert-bg {
	background-color: #d7faff;
}
.alert-success.alert-bg {
	background-color: #d8eeca;
}
.alert-warning.alert-bg {
	background-color: #f9f4d4;
}
.alert-danger.alert-bg {
	background-color: #f3e9e8;
}
.alert-info.alert-bg details>summary {
	color: #245269;
	font-weight: 700;
}
.alert-success.alert-bg details>summary {
	color: #2b542c;
	font-weight: 700;
}
.alert-warning.alert-bg details>summary {
	color: #66512c;
	font-weight: 700;
}
.alert-danger.alert-bg details>summary {
	color: #843534;
	font-weight: 700;
}
