@charset "utf-8";

/* CSS Document */
section.gc-nav.provisional h1 {
	font-size: 1.3em;
	color: #666;
	border-bottom: none;
}

/*page structure desktop (new) */
@media all and (min-width:992px) {
	section.gc-nav.provisional nav {
		position: relative;
		width: 33.33%;
		left: 66.66%;
		float: left;
		padding-left: 15px;
		margin-bottom: 30px;
	}
	section.gc-nav.provisional h1 {
		width: 66.66%;
		padding-right: 15px;
		margin-top: 20px;
		margin-bottom: -5px;
		font-weight: 500;
	}
	section.gc-nav-section.provisional {
		position: relative;
		width: 66.66%;
		float: left;
		padding-right: 15px;
	}
	section.gc-nav.provisional ~ section.gc-nav-section.provisional {
		right: 33.33%;
	}
	section.gc-nav.provisional ~ section.gc-nav-section.provisional h1 {
		margin-top: 0px
	}
	section.gc-nav-section.provisional + .pagedetails {
		clear: both;
	}
}
.provisional #gc-navseq-header {
	font-size: 1.2em;
	margin-top: 0px;
}
.provisional .gc-navseq {
	padding-left: 0.9em;
}
.provisional .gc-navseq .small,
.provisional .gc-navseq small {
	line-height: 0em;
}
.provisional .gc-navseq * {
	font-weight: inherit!important;
	line-height: inherit!important;
	font-size: inherit!important;
}

.provisional ol.gc-navseq {
	counter-reset: step-counter;
}
.provisional ol.gc-navseq > li {
	counter-increment: step-counter;
}
.provisional .gc-navseq > li {
	padding-bottom: 20px;
	list-style: none;
	padding-left: 1.2em;
	border-left: 5px solid #26374a;
	position: relative;
}

.provisional .gc-navseq > li > :first-child::before {
	border-radius: 50%;
	border: 3px solid #26374a;
	background-color: #fff;
	float: left;
	text-decoration: none;
	box-sizing: content-box;
	line-height: 1.3em;
	text-align: center;
	padding: 3px;
	-webkit-transition: all 0.2s; /* For Safari 3.1 to 6.0 */
	transition: all 0.2s;
	height: 1.3em;
	width: 1.3em;
	margin-left: -2.3em;
}

.provisional ol.gc-navseq > li > :first-child::before {
	content: counter(step-counter);
}

.provisional ul.gc-navseq > li > :first-child::before {
	height: 0.8em;
	width: 0.8em;
	margin-left: -2.05em;
	content: "";
}

.provisional .gc-navseq li a::before {
	text-decoration: underline;
}

.provisional ul.gc-navseq.noline > li {
	border-left: 5px solid transparent
}

.provisional .gc-navseq > li:last-child,
.provisional .gc-navseq > li.completed:last-child {
	border-left: 5px solid transparent;
	padding-bottom: 0;
}

.provisional ul.gc-navseq.noline > li > :first-child::before {
	margin-top: 0.2em
}

/*active*/
.provisional .gc-navseq li.active > :first-child::before {
	background-color: #26374a;
	color: #fff;
}

.provisional .gc-navseq li.active a {
	color: #333;
	cursor: default;
	text-decoration: none;
}

/*completed*/
.provisional .gc-navseq li.completed {
	border-color: #555;
}

.provisional .gc-navseq li.completed > :first-child::before {
	border-color: #555;
}

/*sub-steps*/
.provisional .gc-navseq li ul,
.provisional .gc-navseq li ol {
	margin-top: 16px!important;
}

.provisional ol.gc-navseq ol.gc-navseq {
	counter-reset: step-counter;
}

.provisional ol.gc-navseq ol.gc-navseq > li {
	counter-increment: step-counter;
}

.provisional ol.gc-navseq ol.gc-navseq > li > :first-child::before {
	content: counter(step-counter, upper-alpha);
}

/*sub-sub-steps */
.provisional ol.gc-navseq ol.gc-navseq ol.gc-navseq {
	counter-reset: step-counter;
}

.provisional ol.gc-navseq ol.gc-navseq ol.gc-navseq > li {
	counter-increment: step-counter;
}

.provisional ol.gc-navseq ol.gc-navseq ol.gc-navseq > li > :first-child::before {
	content: counter(step-counter, lower-roman);
}

/*custom list-type */
.provisional ol.gc-navseq.lst-lwr-rmn > li > :first-child::before {
	content: counter(step-counter, lower-roman)!important;
}

.provisional ol.gc-navseq.lst-upr-rmn > li > :first-child::before {
	content: counter(step-counter, upper-roman)!important;
}

.provisional ol.gc-navseq.lst-upr-alph > li > :first-child::before {
	content: counter(step-counter, upper-alpha)!important;
}

.provisional ol.gc-navseq.lst-lwr-alph > li > :first-child::before {
	content: counter(step-counter, lower-alpha)!important;
}

.provisional ol.gc-navseq.lst-num > li > :first-child::before {
	content: counter(step-counter)!important;
}

.provisional ul.gc-navseq > li:not(.active) > a:hover::before {
	width: 0.83em;
	height: 0.83em;
	margin-top: -0.1em;
	font-size: 1.2em;
	margin-left: -1.775em;
	line-height: 1.55;
}
.provisional ul.gc-navseq.noline > li:not(.active) > a:hover::before {
	margin-top: 0.15em;
}
.provisional ol.gc-navseq > li:not(.active) > a:hover::before {
	width: 1.33em;
	height: 1.33em;
	margin-top: -0.1em;
	margin-left: -2.05em;
	font-size: 1.2em;
	line-height: 1.3;
}

/*Vertical steps in mobile  */
@media screen and (max-width:991px) {
	section.gc-nav.provisional {
		margin-top: 30px;
		border-right: 5px solid #26374a;
		border-top: 5px solid #26374a;
		border-radius: 0 6px 6px 0;
	}

	section.gc-nav.provisional nav > .gc-navseq {
		padding-top: 15px;
		margin-top: -18px;
	}

	section.gc-nav.provisional nav > .gc-navseq > li:last-child {
		border-bottom: 5px solid #26374a;
		border-left: 5px solid #26374a;
		border-bottom-left-radius: 6px;
		padding-bottom: 24px;
	}

	section.gc-nav.provisional h1 {
		background-color: white;
		float: left;
		margin-bottom: -18px;
		margin-left: -20px;
		margin-right: 20px;
		margin-top: -40px;
		padding: 20px 10px 20px 20px;
	}
}

/*nav buttons */
.provisional .gc-navseq-nav-btn:hover,
.provisional .gc-navseq-nav-btn:focus,
.provisional .gc-navseq-nav-btn:visited {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	padding: 5px;
}

.provisional .gc-navseq-nav-btn {
	background-color: #26374a;
}

.provisional .gc-navseq-nav-btn:hover {
	background-color: #444;
}

.provisional .gc-navseq-nav-btn:not(:focus) {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: 0;
	overflow: hidden;
	position: absolute;
	width: 1px;
}

@media all and (min-width:992px) {
	.provisional #gc-navseq-nav {
		display: flex;
	}
}

@media all and (max-width:991px) {
	.provisional #gc-navseq-nav {
		padding-top: 15px;
		padding-bottom: 10px;
	}
}

.provisional #gc-navseq-nav {
	margin-bottom: 0;
	list-style: none;
	padding-left: 0;
}

.provisional .gc-navseq-nav-btn:focus {
	position: relative;
}

.provisional .gc-navseq > li > :first-child::before {
	position: absolute;
}

.provisional ol.gc-navseq > li > :first-child::before {
  content: counter(step-counter);
}

.provisional .gc-navseq > li {
	border-left: 5px solid #26374a;
	list-style: none;
	padding-bottom: 20px;
	padding-left: 1.2em;
	position: static;
}
