.provisional.followus h2 {
  font-size: 1.1em;
  margin-top: 10px;
}

.provisional.followus {
	padding: 0;
}

.provisional.followus h2 {
	display: block;
}

.provisional.followus h2, .provisional.followus ul {
	margin-left: 0;
}

.provisional.followus-vertical {
  line-height: 0em;
}

.provisional.followus-vertical, .provisional.followus {
  background-color: transparent;
}

.provisional.followus-vertical a {
  text-decoration: none;
}

.provisional.followus-vertical ul {
  display: block;
  list-style-type: none;
  margin-block-start: 1em;
  padding-inline-start: 1em;
  font-size: 16px;
	margin-block-end: 0em;
}

.provisional.followus-vertical ul li {
  margin-bottom: 15px;
}

.provisional.followus-vertical ul li:last-child {
  margin-bottom: 0px;
}

.provisional.followus-vertical ul li a {
  border: none;
  padding: 0px 5px;
}

.provisional .social-lnk {
  position: relative;
  bottom:-18px;
  left:45px;
}

.provisional.followus-vertical li {
  display: block;
  background-position: left;
}

.provisional .newicon.facebook {
  background: url("https://test.canada.ca/canada-child-benefit-2/validation/GCWeb/images/facebook.png") no-repeat;
  height: 38px;
  width: 38px;
  background-size: cover;
  display: block;
}

.provisional .newicon.twitter {
  background: url("https://test.canada.ca/canada-child-benefit-2/validation/GCWeb/images/twitter.png") no-repeat;
  height: 38px;
  width: 38px;
  background-size: cover;
  display: block;
}
.provisional .newicon.youtube {
  background: url("https://test.canada.ca/canada-child-benefit-2/validation/GCWeb/images/youtube.png") no-repeat;
  height: 38px;
  width: 38px;
  background-size: cover;
  display: block;
}
.provisional .newicon.instagram {
  background: url("https://test.canada.ca/canada-child-benefit-2/validation/GCWeb/images/instagram.png") no-repeat;
  height: 38px;
  width: 38px;
  background-size: cover;
  display: block;
}
.provisional .newicon.linkedin {
  background: url("https://test.canada.ca/canada-child-benefit-2/validation/GCWeb/images/instagram.png") no-repeat;
  height: 38px;
  width: 38px;
  background-size: cover;
  display: block;
}

.provisional.promo-social h3 {
  margin-top: 5px;
  text-decoration: underline;
}

.provisional .thumbnail {
  border-color: #335075;
  border-width: 1px;
  padding: 0px;
}

@media screen and (max-width: 991px) {
  .provisional .mobile-left {
    float: left !important; /* important is needed to override float right*/
  }
}
