.provisional.followus h2 {
  font-size: 1.1em;
  margin-top: 10px;
}

.followus.provisional {
	padding: 0;
}

.followus.provisional h2 {
	display: block;
}

.followus.provisional h2, .followus.provisional ul {
	margin-left: 0;
}

.provisional .followus {
  line-height: 0em;
}

.provisional .followus, .provisional.followus {
  background-color: transparent;
}

.provisional .followus a {
  text-decoration: none;
}

.provisional .followus ul {
  display: block;
  list-style-type: none;
  margin-block-start: 1em;
  padding-inline-start: 1em;
  font-size: 16px;
	margin-block-end: 0em;
}

.provisional .followus ul li {
  margin-bottom: 15px;
}

.provisional .followus ul li:last-child {
  margin-bottom: 0px;
}

.provisional .followus ul li a {
  border: none; 
  padding: 0px 5px;
}

.provisional .social-lnk {
  position: relative; 
  bottom:-18px;
  left:45px; 
}

.provisional .followus-vertical li {
  display: block;
  background-position: left;
}

.provisional .newicon.facebook {
  background: url("https://test.canada.ca/canada-child-benefit-2/validation/GCWeb/images/facebook.png") no-repeat;
  height: 36px;
  width: 36px;
  background-size: cover;
  display: block;
}

.provisional .newicon.twitter {
  background: url("https://test.canada.ca/canada-child-benefit-2/validation/GCWeb/images/twitter.png") no-repeat;
  height: 36px;
  width: 36px;
  background-size: cover;
  display: block;
}
.provisional .newicon.youtube {
  background: url("https://test.canada.ca/canada-child-benefit-2/validation/GCWeb/images/youtube.png") no-repeat;
  height: 36px;
  width: 36px;
  background-size: cover;
  display: block;
}
.provisional .newicon.instagram {
  background: url("https://test.canada.ca/canada-child-benefit-2/validation/GCWeb/images/instagram.png") no-repeat;
  height: 36px;
  width: 36px;
  background-size: cover;
  display: block;
}
.provisional .newicon.linkedin {
  background: url("https://test.canada.ca/canada-child-benefit-2/validation/GCWeb/images/instagram.png") no-repeat;
  height: 36px;
  width: 36px;
  background-size: cover;
  display: block;
}

.promo-social.provisional h3 {
  margin-top: 5px;
  text-decoration: underline;
}

.provisional .thumbnail {
  border-color: #335075;
  border-width: 1px;
  padding: 0px;
}
  
@media screen and (max-width: 991px) {
  .most-requested-bullets li {
    font-size: 19px;
    }

  .provisional .mobile-left {
    float: left !important; /* important is needed to override float right*/
  }
}
