.most-requested-bullets.experimental li {
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	font-weight: 600;
	line-height: 26px;
	margin-top: 0
}

.pstn-relative.experimental {
  position: relative;
}

.hide-hrztl-ovrflw.experimental {
  overflow-x: hidden;
}

.tt-img.experimental {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 25px;
  background-color: #f5f5f5;
}

.pagetag.experimental {
  max-width: 65ch;
}

.most-requested-bullets.with-img.experimental {
  margin-top: 0px;
}

.most-requested-bullets .float-left {
  padding-right: 0px;
}

.most-requested-bullets h2 {
	font-size: 1.2em;
}

.experimental .followus h2 {
  font-size: 1.1em;
  margin-top: 10px;
}

.experimental .followus {
  line-height: 0em;
  background-color: #f5f5f5;

}
.experimental .followus a {
  text-decoration: none;
}

.experimental .followus ul {
  display: block;
  list-style-type: none;
  margin-block-start: 1em;
  padding-inline-start: 1em;
  font-size: 16px;
	margin-block-end: 0em;
}

.experimental .followus ul li {
  margin-bottom: 15px;
}

.experimental .followus ul li:last-child {
  margin-bottom: 0px;
}

.experimental .followus ul li a {
  border: none; 
  padding: 0px 5px;
}

.experimental .social-lnk {
  position: relative; 
  bottom:-18px;
  left:45px; 
}

.experimental .facebook {
  background: url("https://test.canada.ca/canada-child-benefit-2/validation/GCWeb/images/facebook.png") no-repeat;
  height: 36px;
  width: 36px;
  background-size: cover;
  display: block;
}

.experimental .twitter {
  background: url("https://test.canada.ca/canada-child-benefit-2/validation/GCWeb/images/twitter.png") no-repeat;
  height: 36px;
  width: 36px;
  background-size: cover;
  display: block;
}
.experimental .youtube {
  background: url("https://test.canada.ca/canada-child-benefit-2/validation/GCWeb/images/youtube.png") no-repeat;
  height: 36px;
  width: 36px;
  background-size: cover;
  display: block;
}
.experimental .instagram {
  background: url("https://test.canada.ca/canada-child-benefit-2/validation/GCWeb/images/instagram.png") no-repeat;
  height: 36px;
  width: 36px;
  background-size: cover;
  display: block;
}

.promo-social.experimental h3 {
  margin-top: 5px;
  text-decoration: underline;
}

.experimental .thumbnail {
  border-color: #335075;
  border-width: 1px;
  padding: 0px;
}
  
.experimental .contributors {
	font-size: 16px;
	font-weight: 600;
}

.experimental .from {
	font-size: 17px;
	margin-top: 7px;
}

.experimental .contributors ul {
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: -50px;
	margin-inline-end: 0px;
	padding-inline-start: 0px;
}

@media screen and (min-width: 991px) {
  .experimental .contributors li {
      display: inline-block;
      float: left;
      margin-right: .7em;
  }
}

@media screen and (min-width: 991px) {
  .experimental .contributors li:first-child:before {
      content: none;
  }
  .experimental .contributors li:before {
      content: "\2022";
      margin-right: .7em;
  }
}

@media screen and (max-width: 1200px) {
 .experimental .contributors ul {
    margin-inline-start: -30px;
  }
}

@media screen and (max-width: 991px) {
  .most-requested-bullets li {
    font-size: 19px;
    }

  .experimental .mobile-left {
    float: left !important; /* important is needed to override float right*/
  }

  .experimental .contributors ul {
    margin-inline-start: 1.5em;
  }
}

/* part of guidance.css but needed to fix the button alignment here - delete after guidance PR is accepted */
.tt-img .btn-sm {
  margin-top: 16px;
  margin-left: 4px;
}
