#wb-bc li:first-child  {display:none;}
#wb-bc li:nth-child(2):before {display:none;}
#wb-bc li:nth-child(2) a {padding-left:0;}
#wb-bc ol {padding-left:0;}
h1 {margin-top:.25em;}
.transactBar {display:none;}
#wb-info nav h2, #wb-info nav ul {display:none;}
.ds-example {margin-top:15px;border: 1px solid #e3e3e3;
	box-shadow: 0px 0px 8px #e3e3e3;}

.ds-example>.wb-tabs>.tabpanels {background:#f9f9f9;}
.ds-example>.wb-tabs>.tabpanels legend {font-size:80%; font-weight:700; margin: 0 0 5px;}
.ds-example>.wb-tabs>.tabpanels fieldset {padding-top:0;}
.ds-example>.wb-tabs>.tabpanels>details>summary {background:#fff; border-radius: 0;}
.ds-example>.wb-tabs [role=tablist]>li:focus,.ds-example>.wb-tabs [role=tablist]>li:hover{background:#ddd;}
.ds-example>.wb-tabs {margin-bottom:0;}
.ds-example>.wb-tabs>.tabpanels>details {margin-bottom:0;}
.ds-example .panel-body {box-shadow: none;}
@media screen and (max-width: 991px){
	.ds-example>.wb-tabs .tgl-panel {
		margin-top:15px;
	}
}
@media screen and (min-width: 992px) {

.ds-example>.wb-tabs>.tabpanels>details {
	border:none; padding:15px;}
.ds-example>.wb-tabs [role=tablist]>li {border:none;background:none;}
.ds-example>.wb-tabs [role=tablist]>li.active a {border-width:0 0 4px;}

.ds-example>.wb-tabs>.tabpanels>details {padding: 30px;}
.ds-example>.wb-tabs>.tabpanels>details {background:#ffffff;padding: 30px; margin-bottom:0;}
}

.list-grid-hover .panel:hover {
	background-color:#f5f5f5;
	border: 1px solid #959595;
	box-shadow: 0px 0px 8px #e3e3e3;
}
.inset {
	border: 1px solid #e3e3e3;
	box-shadow: inset 0px 0px 8px #e3e3e3;
}
.outset {
	border: 1px solid #e3e3e3;
	box-shadow: 0px 0px 8px #e3e3e3;
}
@media screen and (max-width:767px){
	.col-xs-12 > td {min-height: auto !important;}
}
