.provisional.profile {
	position: relative;
	overflow-x: hidden;
}

.provisional.profile .pagetag {
	max-width: 65ch;
}

.provisional.single-feature figcaption {
	margin-top: 5px;
	text-decoration: underline;
}

.provisional .thumbnail {
	border-color: #335075;
	border-width: 1px;
	padding: 0px;
}

.provisional.contributors {
	font-size: 16px;
	font-weight: 600;
}

.provisional.from {
	font-size: 17px;
	margin-top: 7px;
}

.provisional.contributors ul {
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: -50px;
	margin-inline-end: 0px;
	padding-inline-start: 0px;
}

@media screen and (min-width: 991px) {
	.provisional.contributors li {
		display: inline-block;
		margin-right: .7em;
	}
}

@media screen and (min-width: 991px) {
	.provisional.contributors li:first-child:before {
		content: none;
	}

	.provisional.contributors li:before {
		content: "\2022";
		margin-right: .7em;
	}
}

@media screen and (max-width: 1200px) {
	.provisional.contributors ul {
		margin-inline-start: -30px;
	}
}

@media screen and (max-width: 991px) {
	.provisional.contributors ul {
		margin-inline-start: 1.5em;
	}
}
