  <section id="wp1-2">
    <h3>1.2 Consider the needs of the audience</h3>
    <p>When planning web content, consider people's needs. Make sure that the content is accessible, clear and adapted to the widest audience.</p>
  <!-- Writing for accessibility START id="wp1-2-1" --> 
  {% include style-guide/05-toc5-wp1-2-1.html %} 
  <!-- Writing for accessibility END --> 
  <!-- Writing for inclusivity START id="wp1-2-1b" --> 
  {% include style-guide/05-toc5-wp1-2-1b.html %} 
  <!--Writing for inclusivity END --> 
  <!-- Writing for readability START id="wp1-2-2" --> 
  {% include style-guide/05-toc5-wp1-2-2.html %} 
  <!-- Writing for readability END --> 
  <!-- Writing for specialized audiences START id="wp1-2-3.html" --> 
  {% include style-guide/05-toc5-wp1-2-3.html %} 
  <!-- Writing for specialized audiences END --> 
  <!-- Consider all screen sizes START id="wp1-2-4" --> 
  {% include style-guide/05-toc5-wp1-2-4.html %} 
  <!-- Consider all screen sizes END --> 
  </section>
