    <section id="wp1-2-1b">
      <h4>Writing for inclusivity</h4>
      <p>Make gender-inclusive writing your standard practice.</p>
      <p>For more guidance on inclusive writing, see the Language Portal of Canada’s guidelines and resources:</p>
      <ul>
        <li><a href="https://www.noslangues-ourlanguages.gc.ca/en/writing-tips-plus/inclusive-writing-guidelines-resources">Inclusive writing for English</a> (only in English)</li>
        <li><a href="https://www.noslangues-ourlanguages.gc.ca/fr/cles-de-la-redaction/ecriture-inclusive-lignes-directrices-ressources">Écriture inclusive – Lignes directrices et ressources, du Bureau de la traduction</a> (only in French)</li>
      </ul>
    </section>
