  <section id="wp1-1">
    <h3>1.1 Help people complete tasks</h3>
    <p>Most people come to a government website to complete a task and expect us to provide information that will help them. Tasks can be:</p>
    <ul>
      <li>transactional (submit a form or download a report)</li>
      <li>informational (find out how to collect a benefit or find a phone number)</li>
    </ul>
    <p>People trying to complete a task online usually don't read word by word. They scan quickly for words and links related to what they want to do. </p>
    <p>Government of Canada web content must be:</p>
    <ul>
      <li><strong>intuitive</strong>: give people who have no previous knowledge of the topic or process just enough information to complete a task on their own </li>
      <li><strong>comprehensive</strong>: give the appropriate details to specialists who have more knowledge of a topic or process </li>
      <li><strong>targeted</strong>: present the most important information first, in a way that is tailored to the needs of the audience, instead of giving all the options and leaving people to figure out which ones apply to them</li>
      <li><strong>consistent</strong>: use a standardized approach so that people can scan content quickly and easily with a sense of confidence and trust</li>
    </ul>
  </section>
