<section id="wp1-3">
  <h3>1.3 Provide equivalent content in both official languages</h3>
  <section class="alert alert-warning">
    <h4 class="h3">Official languages requirements</h4>
    <p>According to the <cite><a href="https://laws-lois.justice.gc.ca/eng/acts/o-3.01/page-1.html">Official Languages Act</a></cite>, you must publish communications and provide services to the public in both official languages.</p>
  </section>
  <p>Government content must:</p>
  <ul>
    <li>be professionally translated</li>
    <li>reflect Canadian writing conventions in English and French </li>
    <li>include fully bilingual images, multimedia files and transcripts, or contain equivalent information in both official languages</li>
  </ul>
  <h4>Persons responsible for official languages</h4>
  <p>The <a href="https://www.tbs-sct.gc.ca/psm-fpfm/ve/ol-lo/lst-eng.asp">person responsible for official languages in your institution</a> can help answer questions about your obligations and about exceptions.</p>
  <p>Your communications team can help determine whether it's appropriate to communicate with audiences in other languages, in addition to Canada's official language.</p>
</section>
