  <section id="wp1-2">
    <h3>1.2 Consider the needs of the audience</h3>
    <p>When planning web content, consider people's needs. Make sure that the content is accessible, clear and adapted to the widest audience.</p>
    <section id="wp1-2-1">
      <h4>Writing for accessibility</h4>
      <p>Making content accessible means a wide range of people can use it, including people with physical and cognitive disabilities (for example, reading disorders, attention deficit disorders, memory disorders).</p>
      <p>To make your content accessible, consider how assistive technologies work and how some writing practices may impact people's ability to read or understand text. Remember to also refer to the <cite><a href="https://www.w3.org/TR/WCAG/">Web Content Accessibility Guidelines (WCAG) 2.0</a></cite>.</p>
    </section>
