    <section id="wp1-2-4">
      <h4>Consider all screen sizes</h4>
      <p>People will view your content on different sizes of screens. Phone and tablet screens display less content than desktop and laptop screens.&nbsp;Readers who use small screens:</p>
      <ul>
        <li>have to go through more steps to access the same amount of information</li>
        <li>rely on their&nbsp;short-term memory&nbsp;to <a href="https://www.nngroup.com/articles/short-term-memory-and-web-usability/">recall information that isn't visible on the screen</a></li>
      </ul>
    </section>
