    <section id="wp1-2-3">
      <h4>Writing for specialized audiences</h4>
      <p>Sometimes, your content targets people who have in-depth knowledge of a subject.</p>
      <p>When writing for a specialized audience, you can use terms they're familiar with, even if those terms aren't familiar to a general audience.&nbsp; Include a summary in plain language for:</p>
      <ul>
        <li>people who aren't familiar with the subject </li>
        <li>specialists who might be scanning the content to decide whether it's relevant to their task</li>
      </ul>
    </section>
