<section id="wp2-9-1">
  <h4>Use a readability tool</h4>
  <p>You can use a readability tool like Flesch-Kincaid to check the reading level of your English content. This tool is available as part of Microsoft Word. It generally reflects the years of education needed to understand the text.</p>
  <p>To use Flesch-Kincaid: </p>
  <ol start="1" type="1">
    <li>in Word 2010 and later, click the <strong>File</strong> tab, and then click <strong>Options</strong></li>
    <li>click <strong>Proofing</strong></li>
    <li>under <strong>When correcting spelling and grammar in Word</strong>, make sure the <strong>Check grammar with spelling</strong> check box is selected</li>
    <li>select <strong>Show readability statistics &nbsp;</strong></li>
  </ol>
  <p>You can check the reading level of a whole page or just part of a page. To check the reading level:</p>
  <ol start="1" type="1">
    <li>accept any tracked changes</li>
    <li>place periods at the end of any bulleted items and headings (remove the periods before publishing) </li>
    <li>highlight the text in your Word document</li>
    <li>click the <strong>Review</strong> tab</li>
    <li>click <strong>Spelling &amp; Grammar</strong></li>
    <li>when Word has finished checking the text, it will ask whether you want to check the rest of the content</li>
    <li>click <strong>No</strong></li>
  </ol>
  <p>If your text contains technical terms that consist of long, multi-syllable words that you need to use for your specialized audience, remove these terms before you test the content for readability to see whether the surrounding text can be simplified. Reinsert the technical terms once you've simplified the surrounding text.</p>
  <p>The Readability Statistics dialog box will appear and show the Flesch-Kincaid grade level. </p>
  <figure class="mrgn-bttm-lg">
    <figcaption class="text-center"><strong>Figure 2</strong></figcaption>
    <img alt="Screen capture of a readability statistics dialog box in Microsoft Word. Text version below:" class="img-responsive center-block mrgn-bttm-md" src="/style-guide/images/fig-02-eng.jpg">
    <details>
      <summary> Figure 2 - Text version </summary>
      <p>A screen capture of Microsoft Word's readability statistics dialog box shows that a sample of text got a Flesch-Kincaid reading level of 5.8.</p>
    </details>
  </figure>
  <p>In newer versions of Microsoft Word, search for "Flesch-Kincaid" using the help feature.</p>
</section>
