<section id="wp2-9">
  <h3>2.9 Check the reading level of the content</h3>
  <p>Check the reading level of your text. Make sure that it meets the reading level you're targeting based on the literacy needs of your audience. Do this every so often while you're writing content. You can use various tools to do this. </p>
  <p>Readability tools help you check if content is too wordy or complex. Writing content at a reading level above grade 8 can make it difficult for many people to understand or complete their task.</p>  
  <!-- Use a readability tool START id="wp2-9-1" --> 
  {% include style-guide/06-toc6-wp2-9-1.html %} 
  <!-- Use a readability tool END --> 
  <!-- Follow the reading level requirements START id="wp2-9-2" --> 
  {% include style-guide/06-toc6-wp2-9-2.html %} 
  <!-- Follow the reading level requirements END --> 
  <!-- Verify whether the content is easy to understand START id="wp2-9-3" --> 
  {% include style-guide/06-toc6-wp2-9-3.html %} 
  <!-- Verify whether the content is easy to understand END -->
  <div class="well panel"> 
    <!--UPDATE LATER-->
    <p><a href="{{ site.urlconception }}/guide-redaction/#wp2-9" aria-label="See how the rule for measuring content for readability applies to content in French">See how this rule applies to content in French</a></p>
    <p><a href="mailto:?subject=Canada.ca%20Content%20Style%20Guide&amp;body=See%20the%20rule%20for%20measuring%20the%20reading%20level%20of%20content%20on%20Canada.ca:%20https://design.canada.ca/style-guide/#wp2-9" aria-label="Share the rule for measuring content for readability by email">Share this rule by email</a></p>
  </div>
</section>
