<section id="wp2-3">
  <h3>2.3 Use active voice and positive form</h3>
  <p>Whenever possible use the:</p>
  <ul>
    <li>active voice instead of the passive voice</li>
    <li>positive form instead of the negative form</li>
  </ul>
  <!-- Active or passive voice START id=wp2-3-1" --> 
  {% include style-guide/06-toc6-wp2-3-1.html %} 
  <!-- Active or passive voice END --> 
  <!-- Positive or negative form START id="wp2-3-2" --> 
  {% include style-guide/06-toc6-wp2-3-2.html %} 
  <!-- Positive or negative form END -->
  
  <div class="well panel"> 
    <!--UPDATE LATER-->
    <p><a href="{{ site.urlconception }}/guide-redaction/#wp2-3" aria-label="See how the rule for active voice and positive form applies to content in French">See how this rule applies to content in French</a></p>
    <p><a href="mailto:?subject=Canada.ca%20Content%20Style%20Guide&amp;body=See%20the%20rule%20for%20using%20the%20active%20voice%20and%20positive%20form%20on%20Canada.ca:%20https://design.canada.ca/style-guide/#wp2-3" aria-label="Share the rule for active voice and positive form by email">Share this rule by email</a></p>
  </div>
</section>
