  <section id="wp2-4">
    <h3>2.4 Use verbs instead of nouns formed from verbs</h3>
    <p>Avoid using nouns that are formed from verbs. They can be vague. Verbs alone clearly express the action needed.</p>
    <h4 class="h5">Examples <span class="wb-inv">of the use of verbs instead of nouns</span></h4>
    <p><strong>Write</strong>: apply<br>
      <strong>Instead of</strong>: submit your application</p>
    <p><strong>Write</strong>: consider<br>
      <strong>Instead of</strong>: take into consideration</p>
    <p><strong>Write</strong>: modify<br>
      <strong>Instead of</strong>: make a modification</p>
    <p><strong>Write</strong>: needs<br>
      <strong>Instead of</strong>: is in need of </p>
    <p>Always use the simplest form of a verb. When possible, use the present tense.</p>
    <div class="well panel"> 
      <!--UPDATE LATER-->
      <p><a href="{{ site.urlconception }}/guide-redaction/#wp2-4" aria-label="See how the rule for using verbs instead of nouns formed from verbs applies to content in French">See how this rule applies to content in French</a></p>
      <p><a href="mailto:?subject=Canada.ca%20Content%20Style%20Guide&amp;body=See%20the%20rule%20for%20using%20verbs%20instead%20of%20nouns%20formed%20from%20verbs%20on%20Canada.ca:%20https://design.canada.ca/style-guide/#wp2-4" aria-label="Share the rule for using verbs instead of nouns formed from verbs by email">Share this rule by email</a></p>
    </div>
  </section>
