  <section id="wp2-3-2">
      <h4>Positive or negative form</h4>
      <p>Whenever possible, tell people what they may or must do instead of what they may not or must not do. Avoid negatives, double negatives and exceptions to exceptions.</p>
      <h5>Examples <span class="wb-inv">of positive and negative sentences</span></h5>
      <p><strong>Positive</strong>: You're entitled to part of the deduction.<br>
        <strong>Negative</strong>: You're not entitled to the entire deduction.</p>
      <p><strong>Positive</strong>: The procedure will be effective.<br>
        <strong>Double</strong> <strong>negative</strong>: The procedure will not be ineffective.</p>
      <p><strong>Positive</strong>: You may claim a child born in 1972 or earlier as a dependent, if he or she has a mental or physical disability.<br>
        <strong>Double negative</strong>: You may not claim anything for a dependent child born in 1972 or earlier, unless the child has a mental or physical disability.</p>
      <p class="mrgn-tp-lg">If something has serious consequences, you can use the negative form to explain that something isn't possible or should not be done. </p>
      <h5>Examples <span class="wb-inv">of using the negative form for something that has serious consequences</span></h5>
      <p><strong>Write</strong>: Do&nbsp;<strong>not</strong>&nbsp;try to locate the source of carbon monoxide. Leave your home immediately and move to fresh air. </p>
      <div class="well panel"> 
        <!--UPDATE LATER-->
        <p><a href="{{ site.urlconception }}/guide-redaction/#wp2-3" aria-label="See how the rule for active voice and positive form applies to content in French">See how this rule applies to content in French</a></p>
        <p><a href="mailto:?subject=Canada.ca%20Content%20Style%20Guide&amp;body=See%20the%20rule%20for%20using%20the%20active%20voice%20and%20positive%20form%20on%20Canada.ca:%20https://design.canada.ca/style-guide/#wp2-3" aria-label="Share the rule for active voice and positive form by email">Share this rule by email</a></p>
      </div>
    </section>
