    <section id="wp2-1-1">
      <h4>Get to the point</h4>
      <p>Omit background information and messages that welcome people to your program or site. These kinds of messages get in people's way when they're trying to accomplish a task.</p>
      <p>Write direct statements.</p>
      <h5>Example <span class="wb-inv">of direct statements</span></h5>
      <p><strong>Write</strong>: Present your passport to the border officer.<br>
        <strong>Instead of</strong>: According to Canadian legislation, you're required to present your passport to the agent who will welcome you into the country. </p>
      <div class="well panel"> 
        <!--UPDATE LATER-->
        <p><a href="{{ site.urlconception }}/guide-redaction/#wp2-1" aria-label="See how the rule for the inverted pyramid structure applies to content in French">See how this rule applies to content in French</a></p>
        <p><a href="mailto:?subject=Canada.ca%20Content%20Style%20Guide&amp;body=See%20the%20rule%20for%20using%20the%20inverted%20pyramid%20structure%20to%20organize%20content%20on%20Canada.ca:%20https://design.canada.ca/style-guide/#wp2-1" aria-label="Share the rule for the inverted pyramid structure by email">Share this rule by email</a></p>
      </div>
    </section>
