<section id="wp2-7">
  <h3>2.7 Use short sentences and paragraphs</h3>
  <p>Be concise. Use as few words as possible to express an idea. By being concise, you'll help everyone, even specialists, complete the task they set out to do.</p>
  <p>Keep sentences and paragraphs short to make them easier to scan on any screen size. People who have learning disabilities may find it difficult to scan and understand long sentences and paragraphs. </p>
  <p>Try to keep sentences under 20 words. You can do this by:&nbsp; </p>
  <ul>
    <li>breaking long sentences into shorter ones</li>
    <li>limiting each sentence to 1 idea </li>
    <li>removing unnecessary words</li>
  </ul>
  <h4 class="h5">Examples <span class="wb-inv">of shortened sentences</span></h4>
  <p><strong>Write</strong>: We received your request for funding and approved it. <br>
    <strong>Instead of</strong>: We received your request for funding, which we've thoroughly reviewed and approved in a timely manner.</p>
  <p><strong>Write</strong>: We'll consider any type of investment.<br>
    <strong>Instead of</strong>: Any type of investment will be taken into consideration.</p>
  <p class="mrgn-tp-lg">Try to keep paragraphs to 3 sentences. You can do this by:</p>
  <ul>
    <li>developing 1 main idea per paragraph </li>
    <li>presenting a series of more than 2 ideas or words as a vertical list</li>
    <li>using a short form for a long title instead of repeating it</li>
  </ul>
  <div class="well panel"> 
    <!--UPDATE LATER-->
    <p><a href="{{ site.urlconception }}/guide-redaction/#wp2-7" aria-label="See how the rule for using short sentences and paragraphs applies to content in French">See how this rule applies to content in French</a></p>
    <p><a href="mailto:?subject=Canada.ca%20Content%20Style%20Guide&amp;body=See%20the%20rule%20for%20using%20short%20sentences%20and%20paragraphs%20on%20Canada.ca:%20https://design.canada.ca/style-guide/#wp2-7" aria-label="Share the rule for using short sentences and paragraphs by email">Share this rule by email</a></p>
  </div>
</section>
