<section id="wp2-9-3">
  <h4>Verify whether the content is easy to understand</h4>
  <p>Readability tools reveal the reading level of your content, but they can't tell you whether it makes sense. </p>
  <p>To check whether your content is easy to read and understand, test it:</p>
  <ul>
    <li>ask colleagues who aren't familiar with the subject to review the text for clarity and logic</li>
    <li>work with your communications team to set up usability testing for your content</li>
  </ul>
  <p>If your content has a high reading level, or if usability testing shows low task completion, try to: </p>
  <ul>
    <li>shorten words, sentences or paragraphs, but keep words of 3 or more syllables if they're well known</li>
    <li>replace technical jargon with terms that people will understand</li>
    <li>remove details that people don't need to complete the task</li>
    <li>replace secondary references to a program with "program" rather than using its full name or abbreviation</li>
    <li>create numbered or bulleted lists for key tasks</li>
  </ul>
</section>
