    <section id="wp2-3-1">
      <h4>Active or passive voice</h4>
      <p>In an active sentence, the subject does the action. The sentence is clear and direct.</p>
      <p>In a passive sentence, it may not be clear who or what is doing the action. </p>
      <h5>Example <span class="wb-inv">of passive and active sentences</span></h5>
      <p><strong>Active</strong>: We may ask you to provide proof of citizenship.<br>
        <strong>Passive</strong>: You may be asked to provide proof of citizenship.</p>
    </section>
