  <section id="wp2-7">
    <h3>2.7 Use short sentences and paragraphs</h3>
    <p>Be concise. Use as few words as possible to express an idea. By being concise, you'll help everyone, even specialists, complete the task they set out to do.</p>
    <p>Keep sentences and paragraphs short to make them easier to scan on any screen size. People who have learning disabilities may find it difficult to scan and understand long sentences and paragraphs. </p>
    <p>Try to keep sentences under 20 words. You can do this by:&nbsp; </p>
    <ul>
      <li>breaking long sentences into shorter ones</li>
      <li>limiting each sentence to 1 idea </li>
      <li>removing unnecessary words</li>
    </ul>
    <h4 class="h5">Examples <span class="wb-inv">of shortened sentences</span></h4>
    <p><strong>Write</strong>: We received your request for funding and approved it. <br>
      <strong>Instead of</strong>: We received your request for funding, which we've thoroughly reviewed and approved in a timely manner.</p>
    <p><strong>Write</strong>: We'll consider any type of investment.<br>
      <strong>Instead of</strong>: Any type of investment will be taken into consideration.</p>
  </section>
