  <section id="wp2-5">
    <h3>2.5 Avoid jargon, idioms and expressions </h3>
    <p>Where possible, avoid using jargon, idioms and expressions. Use the clearest, most popular term for your audience.</p>
    <p>Legal and technical terms and "government-speak" confuse most people.</p>
    <p>People who don't speak English or French might use online tools to translate text. These tools don't always translate idioms and expressions accurately. </p>
    <h4 class="h5">Examples <span class="wb-inv">of jargon, idioms and expressions</span></h4>
    <p><strong>Jargon</strong>: bench warrant (an order by a judge to arrest someone who didn't show up in court or comply with certain conditions)</p>
    <p><strong>Idiom</strong>: to hire a helping hand (meaning to hire an employee)</p>
    <p><strong>Expression</strong>: attack your least favourite task first (meaning do your least favourite task first)</p>
    <p class="mrgn-tp-lg">If you must include jargon familiar to your target audience, be sure to: </p>
    <ul>
      <li>explain it using simple, familiar words or give an example to help non-specialists understand</li>
      <li>never use jargon to explain jargon</li>
    </ul>
    <h4 class="h5">Examples <span class="wb-inv">of statements that avoid the use of jargon</span></h4>
    <p><strong>Write</strong>: You have to file your income tax return (T1) by April 30.<br>
      <strong>Instead of</strong>: You have to file your T1 return by April 30.</p>
    <p><strong>Write</strong>: Learn about savings plans that can help you save enough money to retire.<br>
      <strong>Instead of</strong>: Learn about different types of savings plans that will let you build up your retirement nest egg.</p>
    <div class="well panel"> 
      <!--UPDATE LATER-->
      <p><a href="{{ site.urlconception }}/guide-redaction/#wp2-5" aria-label="See how the rule for jargon, idioms and expressions applies to content in French">See how this rule applies to content in French</a></p>
      <p><a href="mailto:?subject=Canada.ca%20Content%20Style%20Guide&amp;body=See%20the%20rule%20for%20jargon,%20idioms%20and%20expressions%20on%20Canada.ca:%20https://design.canada.ca/style-guide/#wp2-5" aria-label="Share the rule for jargon, idioms and expressions by email">Share this rule by email</a></p>
    </div>
    <h4 class="h5">Identify keywords your audience is using to find your content</h4>
    <p>Tools you can use to see which search terms are most popular: </p>
    <ul>
      <li><a href="https://www.google.ca/trends/explore">Google Trends</a></li>
      <li><a href="https://adwords.google.com/keywordplanner">Google Keyword Planner</a></li>
      <li><a href="https://www.bing.com/toolbox/keywords">Bing Keyword Research</a></li>
      <li>Mozilla Firefox's Keywords Everywhere&nbsp; </li>
    </ul>
    <p>Refer to your analytics to find out which search terms your audience uses to find related content.</p>
  </section>
