<section id="toc6"> {% unless page.title == "2.0 Plain language" %}
  <h2>2.0 Plain language</h2>
  {% endunless %}
  <div class="row mrgn-tp-lg">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="mrgn-tp-sm">In this section</h3>
          <ul>
            <li><a href="#wp2-1">2.1 Start with the most important information</a></li>
            <li><a href="#wp2-2">2.2 Use simple and common words</a></li>
            <li><a href="#wp2-3">2.3 Use active voice and positive form</a>
              <ul>
                <li><a href="#wp2-3-1">Active or passive voice</a></li>
                <li><a href="#wp2-3-2">Positive or negative form</a></li>
              </ul>
            </li>
            <li><a href="#wp2-4">2.4 Use verbs instead of nouns formed from verbs</a></li>
            <li><a href="#wp2-5">2.5 Avoid jargon, idioms and expressions</a></li>
            <li><a href="#wp2-6">2.6 Use simple sentences</a></li>
            <li><a href="#wp2-7">2.7 Use short sentences and paragraphs</a></li>
            <li><a href="#wp2-8">2.8 Explain references to legislation</a></li>
            <li><a href="#wp2-9">2.9 Check the reading level of the content</a>
              <ul>
                <li><a href="#wp2-9-1">Use a readability tool</a></li>
                <li><a href="#wp2-9-2">Follow the reading level requirements</a></li>
                <li><a href="#wp2-9-3">Verify whether the content is easy to understand</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <section class="alert alert-warning">
    <h3>Plain language requirements</h3>
    <p>The use of plain language is a requirement of the <cite><a href="https://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=30682">Directive on the Management of Communications</a></cite>. </p>
  </section>
  <p>Writing in plain language doesn't mean over-simplifying or leaving out critical information. Using plain language actually makes critical information accessible and readable for everyone.</p>
  <p>By writing plainly and simply, you: </p>
  <ul>
    <li>increase the chances that people will find, read and understand your information from any device</li>
    <li>make your information more accessible to people with disabilities</li>
    <li>allow people who are reading your information on a small screen to see essential information first</li>
    <li>save resources when editing and translating your text</li>
    <li>improve task completion and cuts costs by, for example, reducing enquiries</li>
  </ul>
  <!-- Writing for accessibility START id="wp2-1" --> 
  {% include style-guide/06-toc6-wp2-1.html %} 
  <!-- Writing for accessibility END --> 
  <!-- Writing for accessibility START id="wp2-2" --> 
  {% include style-guide/06-toc6-wp2-2.html %} 
  <!-- Writing for accessibility END --> 
  <!-- Writing for accessibility START id="wp2-3" --> 
  {% include style-guide/06-toc6-wp2-3.html %} 
  <!-- Writing for accessibility END --> 
  <!-- Writing for accessibility START id="wp2-3-1" --> 
  {% include style-guide/06-toc6-wp2-3-1.html %} 
  <!-- Writing for accessibility END --> 
  <!-- Writing for accessibility START id="wp2-3-2" --> 
  {% include style-guide/06-toc6-wp2-3-2.html %} 
  <!-- Writing for accessibility END --> 
  <!-- Writing for accessibility START id="wp2-4" --> 
  {% include style-guide/06-toc6-wp2-4.html %} 
  <!-- Writing for accessibility END --> 
  <!-- Writing for accessibility START id="wp2-5" --> 
  {% include style-guide/06-toc6-wp2-5.html %} 
  <!-- Writing for accessibility END --> 
  <!-- Writing for accessibility START id="wp2-6" --> 
  {% include style-guide/06-toc6-wp2-6.html %} 
  <!-- Writing for accessibility END --> 
  <!-- Writing for accessibility START id="wp2-7" --> 
  {% include style-guide/06-toc6-wp2-7.html %} 
  <!-- Writing for accessibility END --> 
  <!-- Writing for accessibility START id="wp2-8" --> 
  {% include style-guide/06-toc6-wp2-8.html %} 
  <!-- Writing for accessibility END --> 
  <!-- Writing for accessibility START id="wp2-9" --> 
  {% include style-guide/06-toc6-wp2-9.html %} 
  <!-- Writing for accessibility END --> 
</section>
