  <section id="wp2-2">
    <h3>2.2 Use simple and common words</h3>
    <p>Replace long words with short, simple and everyday words that most people understand and use. Simple words have 2 syllables or less. They're easier to scan than long, complex words. </p>
    <h4>Example <span class="wb-inv">of simple and common words</span></h4>
    <p><strong>Write</strong>: ask<br>
      <strong>Instead of</strong>: make a request</p>
    <p><strong>Write</strong>: you must<br>
      <strong>Instead of</strong>: you shall</p>
    <p><strong>Write</strong>: to<br>
      <strong>Instead of</strong>: in order to</p>
    <p><strong>Write</strong>: before<br>
      <strong>Instead of</strong>: prior to</p>
    <p><strong>Write</strong>: get<br>
      <strong>Instead of</strong>: obtain</p>
    <div class="well panel"> 
      <!--UPDATE LATER-->
      <p><a href="{{ site.urlconception }}/guide-redaction/#wp2-1" aria-label="See how the rule for using simple and common words applies to content in French">See how this rule applies to content in French</a></p>
      <p><a href="mailto:?subject=Canada.ca%20Content%20Style%20Guide&amp;body=See%20the%20rule%20for%20using%20simple%20and%20common%20words%20on%20Canada.ca:%20https://design.canada.ca/style-guide/#wp2-2" aria-label="Share the rule for using simple and common words by email">Share this rule by email</a></p>
    </div>
  </section>
