<section id="wp3-1">
  <h3>3.1 Write directly to the person</h3>
  <p>Use an informal tone, and speak directly <strong>to</strong> people by using the second person ("you," "your"). </p>
  <h4 class="h5">Examples <span class="wb-inv">of statements that use the second person</span></h4>
  <ul>
    <li>Send your application to…</li>
    <li>To get this benefit you must…</li>
  </ul>  
  <!-- Address the person in page titles, links and navigation labels START id="wp3-1-2" --> 
  {% include style-guide/07-toc7-wp3-1-1.html %} 
  <!-- Address the person in page titles, links and navigation labels END --> 
  <!-- Don't use the first person START id="wp3-1-2" --> 
  {% include style-guide/07-toc7-wp3-1-2.html %} 
  <!-- Don't use the first person END -->
  <div class="well panel"> 
    <!--UPDATE LATER-->
    <p><a href="{{ site.urlconception }}/guide-redaction/#wp3-1" aria-label="See how the rule for writing directly to the audience applies to content in French">See how this rule applies to content in French</a></p>
    <p><a href="mailto:?subject=Canada.ca%20Content%20Style%20Guide&amp;body=See%20the%20rule%20for%20writing%20directly%20to%20the%20audience%20on%20Canada.ca:%20https://design.canada.ca/style-guide/#wp3-1" aria-label="Share the rule for writing directly to the audience by email">Share this rule by email</a></p>
  </div>
</section>
