<section id="toc7"> {% unless page.title == "3.0 Tone" %}
  <h2>3.0 Tone</h2>
  {% endunless %}
  <div class="row mrgn-tp-lg">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="mrgn-tp-sm">In this section</h3>
          <ul>
            <li><a href="#wp3-1">3.1 Write directly to the person</a>
              <ul>
                <li><a href="#wp3-1-1">Address the person in page titles, links and navigation labels</a></li>
                <li><a href="#wp3-1-2">Don't use the first person</a></li>
              </ul>
            </li>
            <li><a href="#wp3-2">3.2 Use "we" to refer to the Government of Canada</a>
              <ul>
                <li><a href="#wp3-2-1">Third parties</a></li>
              </ul>
            </li>
            <li><a href="#wp3-3">3.3 Expressing an obligation or a recommendation</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <p>The tone of the government's web content should be:</p>
  <ul>
    <li>direct</li>
    <li>informative</li>
    <li>conversational</li>
    <li>professional</li>
  </ul>
  <p>Write as if you were talking to your audience in person, but with the authority of an institution that provides information as part of its mandate.</p>
  
  <!-- 3.1 Write directly to the person START id="wp3-1" --> 
  {% include style-guide/07-toc7-wp3-1.html %} 
  <!-- 3.1 Write directly to the person END --> 
  <!-- 3.2 Use "we" to refer to the Government of Canada START id="wp3-2" --> 
  {% include style-guide/07-toc7-wp3-2.html %} 
  <!-- 3.2 Use "we" to refer to the Government of Canada END --> 
  <!-- 3.3 Expressing an obligation or a recommendation START id="wp3-3" --> 
  {% include style-guide/07-toc7-wp3-3.html %} 
  <!-- 3.3 Expressing an obligation or a recommendation END --> 
  
</section>
