<section id="wp3-3-1">
  <h4>Express an obligation</h4>
  <p>When telling people about:</p>
  <ul>
    <li>what the law requires them to do, use "must" instead of "legally required to" or similar language</li>
    <li>an administrative requirement, use "need to"</li>
  </ul>
  <h5>Example <span class="wb-inv">of statements that express legal and administrative requirements</span></h5>
  <p><strong>Legal</strong>: To be eligible for compassionate care benefits, you must be able to show that…<br>
    <strong>Administrative</strong>: After you apply online, you'll need to provide us with the following documents before we can finalize your claim.</p>
</section>
