<section id="wp3-1-1">
  <h4>Address the person in page titles, links and navigation labels</h4>
  <p>For page titles, links and navigation labels, use the possessive adjective "your" when the audience might consider the item being referred to as belonging to them.</p>
  <h5>Examples <span class="wb-inv">of navigation labels that address the person</span></h5>
  <ul>
    <li>Change your address</li>
    <li>Replace your card</li>
  </ul>
  <p class="mrgn-tp-lg">If the subject of the title, link or label refers to general information, use the indefinite article ("a" or "an") or no article at all.</p>
  <h5>Examples <span class="wb-inv">of navigation labels that don't use a possessive adjective</span></h5>
  <ul>
    <li>Start a new business</li>
    <li>Pay application fees</li>
  </ul>
</section>
