<section id="wp3-3">
  <h3>3.3 Expressing an obligation or a recommendation</h3>
  <p>As a government organization, we often publish rules, information and instructions that are set out in law. We also provide advice on how to follow them. </p>
  <!-- Express an obligation id="wp3-3-1" --> 
  {% include style-guide/07-toc7-wp3-3-1.html %} 
  <!-- Express an obligation END --> 
  <!-- Express a recommendation id="wp3-3-2" --> 
  {% include style-guide/07-toc7-wp3-3-2.html %} 
  <!-- Express a recommendation END -->
  <div class="well panel"> 
    <!--UPDATE LATER-->
    <p><a href="{{ site.urlconception }}/guide-redaction/#wp3-3" aria-label="See how the rule for expressing an obligation or a recommendation applies to content in French">See how this rule applies to content in French</a></p>
    <p><a href="mailto:?subject=Canada.ca%20Content%20Style%20Guide&amp;body=See%20the%20rule%20for%20expressing%20an%20obligation%20or%20a%20recommendation%20on%20Canada.ca:%20https://design.canada.ca/style-guide/#wp3-3" aria-label="Share the rule for expressing an obligation or a recommendation by email">Share this rule by email</a></p>
  </div>
</section>
