<section id="wp3-1-2">
  <h4>Don't use the first person</h4>
  <p>Don't switch from speaking to people to speaking on their behalf. Don't use "I" or "my" statements.</p>
  <h5>Example <span class="wb-inv">of statements that don't use "I" or "my"</span></h5>
  <p><strong>Write</strong>:</p>
  <ul>
    <li>How to renew your passport</li>
    <li>Renew your passport</li>
  </ul>
  <p><strong>Instead of</strong>: How do I renew my passport?</p>
  <h5>Exception</h5>
  <p>You may use "my" in content, page titles and links for proper names (such as My Service Canada Account).</p>
</section>
