<section id="wp3-2">
  <h3>3.2 Use "we" to refer to the Government of Canada</h3>
  <p>We generally provide information to people from the perspective of the government as a whole rather than from a specific institution.</p>
  <p>Use "we" and "our" when writing on behalf of the Government of Canada. </p>
  <h4 class="h5">Examples <span class="wb-inv">of statements that use "we" or "our" to refer to the Government of Canada</span></h4>
  <p><strong>Write</strong>: If you started a new&nbsp;claim within the last 52 weeks and there are still weeks payable on that claim,&nbsp;we will automatically renew your existing claim.<br>
    <strong>Instead of</strong>: If you started a new&nbsp;claim within the last 52 weeks and there are still weeks payable on that claim,&nbsp;Service Canada will automatically renew your existing claim.</p>
  <p class="mrgn-tp-lg">Use "Government of Canada" when:</p>
  <ul>
    <li>describing Canada's stance on a topic relative to another named jurisdiction (country, province, territory city, etc.)</li>
    <li>explaining Canada's role with respect to a topic or issue </li>
  </ul>
  <p>Use the name of a specific institution in situations when the:</p>
  <ul>
    <li>institution will be contacting the person</li>
    <li>person needs to contact the institution by phone, mail or online process</li>
    <li>role of the institution in a process is relevant to the task</li>
  </ul>
  <h4 class="h5">Examples <span class="wb-inv">of statements that refer to specific institutions</span></h4>
  <ul>
    <li>The Canada Revenue Agency will inform you if you have to repay&nbsp;benefits.</li>
    <li>The Canadian Food Inspection Agency gives permits for some meat products. </li>
    <li>All restricted or controlled drugs need an import permit from Health Canada.</li>
  </ul>
  <p class="mrgn-tp-lg">Don't include references to your website on your website. </p>
  <h4 class="h5">Example <span class="wb-inv">of a statement that doesn't refer to Canada.ca on the Canada.ca site</span></h4>
  <p><span id="exmp1"><strong>Write</strong>: <a href="#exmp1" aria-label="Example of an effective hyperlink reference. The full text simulates the hyperlink.">Determine whether you're eligible</a>. <br>
    </span> <span id="exmp2"><strong>Instead of</strong>: Get <a href="#exmp2" aria-label="Example of an ineffective hyperlink reference. The text &quot;more information about eligibility on the Canada.ca website&quot; simulates the hyperlink">more information about eligibility on the Canada.ca website</a>.</span></p>
  <!-- Third parties id="wp3-2-1" --> 
  {% include style-guide/07-toc7-wp3-2-1.html %} 
  <!-- Third parties END -->
  <div class="well panel"> 
    <!--UPDATE LATER-->
    <p><a href="{{ site.urlconception }}/guide-redaction/#wp3-2" aria-label="See how the rule for referring to the Government of Canada applies to content in French">See how this rule applies to content in French</a></p>
    <p><a href="mailto:?subject=Canada.ca%20Content%20Style%20Guide&amp;body=See%20the%20rule%20for%20using%20'we'%20on%20Canada.ca%20to%20refer%20to%20the%20Government%20of%20Canada:%20https://design.canada.ca/style-guide/#wp3-2" aria-label="Share the rule for referring to the Government of Canada by email">Share this rule by email</a></p>
  </div>
</section>
