<section id="wp3-1">
  <h3>3.1 Write directly to the person</h3>
  <p>Use an informal tone, and speak directly <strong>to</strong> people by using the second person ("you," "your"). </p>
  <h4 class="h5">Examples <span class="wb-inv">of statements that use the second person</span></h4>
  <ul>
    <li>Send your application to…</li>
    <li>To get this benefit you must…</li>
  </ul>
  
  <!-- Address the person in page titles, links and navigation labels START id="wp3-1-2" --> 
  {% include style-guide/07-toc7-wp3-1-1.html %} 
  <!-- Address the person in page titles, links and navigation labels END --> 
  <!-- Don't use the first person START id="wp3-1-2" --> 
  {% include style-guide/07-toc7-wp3-1-2.html %} 
  <!-- Don't use the first person END --> 
  
</section>
