<section id="wp4-10">
  <h3>4.10 Addresses</h3>  
  <!-- Mailing addresses START id="wp4-10-1" --> 
  {% include style-guide/08-toc8-wp4-10-1.html %} 
  <!-- Mailing addresses  END --> 
  <!-- Email addresses START id="wp4-10-2" --> 
  {% include style-guide/08-toc8-wp4-10-2.html %} 
  <!-- Email addresses  END -->  
  <div class="well panel"> 
    <!--UPDATE LATER-->
    <p><a href="{{ site.urlconception }}/guide-redaction/#wp4-10-2" aria-label="See how the style rules for addresses apply to content in French">See how this rule applies to content in French</a></p>
    <p><a href="mailto:?subject=Canada.ca%20Content%20Style%20Guide&amp;body=%20See%20the%20style%20rules%20for%20times,%20phone%20numbers%20and%20mailing%20addresses%20on%20Canada.ca:%20https://design.canada.ca/style-guide/#wp4-10-2" aria-label="Share the style rules addresses by email">Share this rule by email</a></p>
  </div>
</section>
