<section id="wp4-8">
  <h3>4.8 Times</h3>
  <ul>
    <li>4:30&nbsp;pm</li>
    <li>9&nbsp;am to 5&nbsp;pm</li>
  </ul>
  <div class="well panel"> 
    <!--UPDATE LATER-->
    <p><a href="{{ site.urlconception }}/guide-redaction/#wp4-8" aria-label="See how the style rules for times apply to content in French">See how this rule applies to content in French</a></p>
    <p><a href="mailto:?subject=Canada.ca%20Content%20Style%20Guide&amp;body=%20See%20the%20style%20rules%20for%20times,%20phone%20numbers%20and%20mailing%20addresses%20on%20Canada.ca:%20https://design.canada.ca/style-guide/#wp4-8" aria-label="Share the style rules for times by email">Share this rule by email</a></p>
  </div>
</section>
