<section id="wp4-3">
  <h3>4.3 Symbols</h3>
  <p>Some symbols make web content more difficult to read while others improve readability. Research whether they're understood by a wide audience before using them.</p>
  <h4>Ampersand</h4>
  <ul>
    <li>Spell out the word "and" instead of using an ampersand (&amp;)</li>
    <li>Use the ampersand only for proper names when it's part of a company name and in certain abbreviations, including:
      <ul>
        <li>R&amp;D (research and development)</li>
        <li>O&amp;M (operating and maintenance)</li>
      </ul>
    </li>
  </ul>
  <h4>Percent</h4>
  <ul>
    <li>20% (not 20 percent)</li>
    <li>A quarter or one quarter (not ¼)</li>
    <li>Half (not ½)</li>
  </ul>
  <h4>Currency</h4>
  <ul>
    <li>$100 per month</li>
  </ul>
  <div class="well panel"> 
    <!--UPDATE LATER-->
    <p><a href="{{ site.urlconception }}/guide-redaction/#wp4-3" aria-label="See how the rule for symbols applies to content in French">See how this rule applies to content in French</a></p>
    <p><a href="mailto:?subject=Canada.ca%20Content%20Style%20Guide&amp;body=See%20the%20rule%20for%20using%20symbols%20on%20Canada.ca:%20https://design.canada.ca/style-guide/#wp4-3" aria-label="Share the rule for symbols by email">Share this rule by email</a></p>
  </div>
</section>
