<section id="wp4-9">
  <h3>4.9 Phone numbers</h3>
  <p>Use non-breaking hyphens (Ctrl+Shift+Hyphen) in phone numbers. For example:</p>
  <ul>
    <li>if you need help, call 1-800-622-6232</li>
    <li>613-999-9900 ext.&nbsp;123</li>
  </ul>
  <div class="well panel"> 
    <!--UPDATE LATER-->
    <p><a href="{{ site.urlconception }}/guide-redaction/#wp4-9" aria-label="See how the style rules for phone numbers apply to content in French">See how this rule applies to content in French</a></p>
    <p><a href="mailto:?subject=Canada.ca%20Content%20Style%20Guide&amp;body=%20See%20the%20style%20rules%20for%20times,%20phone%20numbers%20and%20mailing%20addresses%20on%20Canada.ca:%20https://design.canada.ca/style-guide/#wp4-9" aria-label="Share the style rules for times, phone numbers and mailing addresses by email">Share this rule by email</a></p>
  </div>
</section>
