<section id="wp4-6">
  <h3>4.6 Numbers</h3>
  <h4>General </h4>
  <ul>
    <li>Write numbers as numerals (0, 1, 2, 3, etc.), except in:
      <ul>
        <li>proper names (First Baptist Church) </li>
        <li>titles (Three Men in a Boat)</li>
        <li>figurative expressions (one day, things will be better)</li>
      </ul>
    </li>
    <li>Keep Roman numerals when used in proper names (<cite>Canada Gazette</cite>, Part II)</li>
    <li>Place a non-breaking space (Ctrl+Shift+Spacebar) between all numeral and word combinations ($5&nbsp;million,&nbsp;20 years) </li>
    <li>Write first, second, third, and so on, up to and including ninth</li>
    <li>Use the ordinal indicator in the same text size (not in superscript) for numbers 10 and above (10th, 50th, 150th) </li>
    <li>Use "to" instead of an en dash in number ranges (for example, $4,000 to $10,000, 4 to 10 years)</li>
  </ul>
  <h4>Ages</h4>
  <ul>
    <li>Adults aged 30 or more </li>
    <li>People 30 to 65 years old</li>
    <li>A 10-year-old child</li>
  </ul>
  <div class="well panel"> 
    <!--UPDATE LATER-->
    <p><a href="{{ site.urlconception }}/guide-redaction/#wp4-6" aria-label="See how the style rule for numbers applies to content in French">See how this rule applies to content in French</a></p>
    <p><a href="mailto:?subject=Canada.ca%20Content%20Style%20Guide&amp;body=See%20the%20style%20rule%20for%20numbers%20on%20Canada.ca:%20https://design.canada.ca/style-guide/#wp4-6" aria-label="Share the style rule for numbers by email">Share this rule by email</a></p>
  </div>
</section>
