<section id="wp4-1">
  <h3>4.1 Capitalization and punctuation </h3>
  <p>Use these styles for capitalization and punctuation of content in text, links and applications.</p>
  <p>Capitalize the main words of:</p>
  <ul>
    <li>titles of official publications (such as reports, frameworks, strategies and plans)</li>
    <li>institution names</li>
    <li>program names</li>
    <li>titles of policy instruments</li>
    <li>titles of legislation (in other words, acts and regulations)</li>
    <li>Government of Canada</li>
  </ul>
  <p>Lowercase the short form of proper names.</p>
  <h4 class="h5">Example <span class="wb-inv">of proper names and their short forms</span></h4>
  <p><strong>Full names</strong>: Agriculture and Agri-Food Canada, Canada Pension Plan, the Public Service of Canada<br>
    <strong>Short form</strong>: the department, the plan, the public service</p>
  <h5>All caps</h5>
  <p>Don't capitalize all the letters in a word.</p>
  <p><strong>Exceptions</strong></p>
  <ul>
    <li>Abbreviations (although avoid them unless they're necessary)</li>
    <li>Military exercise or operation names (for example, Operation PROVISION)</li>
  </ul>  
  <!-- Titles, headings and subheadings START id="wp4-1-1" --> 
  {% include style-guide/08-toc8-wp4-1-1.html %} 
  <!-- Titles, headings and subheadings  END --> 
  <!-- Lists START id="wp4-1-2" --> 
  {% include style-guide/08-toc8-wp4-1-2.html %} 
  <!-- Lists END --> 
  <!-- Links START id="wp4-1-3" --> 
  {% include style-guide/08-toc8-wp4-1-3.html %} 
  <!-- Links  END --> 
  <!-- Commas START id="wp4-1-4" --> 
  {% include style-guide/08-toc8-wp4-1-4.html %} 
  <!-- Commas  END --> 
  <!-- Hyphen and dashes START id="wp4-1-5" --> 
  {% include style-guide/08-toc8-wp4-1-5.html %} 
  <!-- Hyphen and dashes  END --> 
</section>
