<section id="wp4-2">
  <h3>4.2 Underlining, bold and italics</h3>
  <p>Formatting must support the most important information on the page. </p>
  <p>Don't combine styles, like underlining and bold formatting, unless it's part of the hyperlinked text found on a topic page.</p>
  <h4>Underlining</h4>
  <p>Use underlining for links only.</p>
  <h4>Bold</h4>
  <p>Use bold for emphasis, <strong>but</strong> use it sparingly: the more you use it, the less effective it is.</p>
  <h4>Italics</h4>
  <p>People with dyslexia or other reading disorders may find it difficult to read italicized text.</p>
  <p>Don't use italics:</p>
  <ul>
    <li>for design or decorative purposes</li>
    <li>to emphasize a word or phrase (use bold sparingly instead)</li>
    <li>for long passages of text, such as quotations</li>
    <li>in page titles</li>
  </ul>
  <p>Follow <cite><a href="https://www.btb.termiumplus.gc.ca/tcdnstyl-chap?lang=eng&amp;lettr=chap_catlog&amp;info0=6#zz6">The Canadian Style</a></cite>'s rules for applying italics for the following:</p>
  <ul>
    <li>French and foreign words (article 6.03)</li>
    <li>Latin terms and abbreviations (article 6.04)</li>
    <li>titles of publications (including acts and legislation) and works of art (article 6.05)</li>
    <li>legal references (article 6.06)</li>
    <li>mathematical, statistical and scientific material (article 6.11)</li>
  </ul>
  <div class="well panel"> 
    <!--UPDATE LATER-->
    <p><a href="{{ site.urlconception }}/guide-redaction/#wp4-2" aria-label="See how the rule for bold, italics and underlining applies to content in French">See how this rule applies to content in French</a></p>
    <p><a href="mailto:?subject=Canada.ca%20Content%20Style%20Guide&amp;body=See%20the%20rule%20for%20using%20bold,%20italics%20and%20underlining%20on%20Canada.ca:%20https://www.tbs-sct.gc.ca/hgw-cgf/oversight-surveillance/communications/csc-grc-eng.asp#wp4-2" aria-label="Share the rule for capitalization and punctuation by email">Share this rule by email</a></p>
  </div>
</section>
