<section id="wp4-5">
  <h3>4.5 Contractions</h3>
  <p>Use contractions that people use when they speak. They're easier to scan than the full form.</p>
  <p>Use most positive contractions of auxiliary verbs. For example:</p>
  <ul>
    <li>you've (you have), you're (you are), you'll (you will) or you'd (you would)</li>
    <li>we've (we have), we're (we are), we'll (we will) or we'd (we would)</li>
  </ul>
  <p>Use some negative contractions of auxiliary verbs. For example:</p>
  <ul>
    <li>can't (cannot)</li>
    <li>don't (do not) or didn't (did not)</li>
    <li>won't (will not)</li>
    <li>isn't (is not)</li>
    <li>weren't (were not) or wasn't (was not)</li>
    <li>aren't (are not)</li>
  </ul>
  <p>Use, but don't confuse:</p>
  <ul>
    <li><strong>its</strong> (possessive) and <strong>it's</strong> (it is)</li>
    <li><strong>they're</strong> (they are) and <strong>their</strong> (possessive)</li>
  </ul>
  <p>Uncommon or more complex contractions can be harder for people with low literacy skills to understand. </p>
  <p>Don't use: </p>
  <ul>
    <li>should've (should have) or could've (could have)</li>
    <li>shouldn't (should not), couldn't (could not) or wouldn't (would not)</li>
    <li>mightn't (might not)</li>
    <li>mustn't (must not)</li>
    <li>it'll (it will)</li>
  </ul>
  <h4>Negative contractions: exceptions</h4>
  <p>Don't<strong> </strong>use contractions when there is a <strong>critical</strong> difference between two things, for example, between doing and not doing something.</p>
  <h5>Example <span class="wb-inv">of statements showing differences that are critical and not critical</span></h5>
  <p><strong>Critical</strong>: Do <strong>not</strong> drive while taking this medicine.<br>
    <strong>Not critical</strong>: Most people<strong> don't</strong> have reactions to the flu vaccine.</p>
  <div class="well panel"> 
    <!--UPDATE LATER-->
    <p>This rule doesn't apply in French.</p>
    <p><a href="mailto:?subject=Canada.ca%20Content%20Style%20Guide&amp;body=See%20the%20rule%20for%20using%20contractions%20on%20Canada.ca:%20https://design.canada.ca/style-guide/#wp4-5" aria-label="Share the rule for contractions by email">Share this rule by email</a></p>
  </div>
</section>
