<section id="wp4-11">
  <h3>4.11 Words and expressions in transition</h3>
  <p>Words and expressions in transition are those written commonly in 2 or more different ways. Reduce confusion by using the following spellings: </p>
  <ul>
    <li>website (not "web site")</li>
    <li>web page (not "webpage")</li>
    <li>web (not "Web")</li>
    <li>email (not "e-mail")</li>
    <li>online (not "on line")</li>
  </ul>
  <div class="well panel"> 
    <!--UPDATE LATER-->
    <p>This rule doesn't apply to content in French.</p>
    <p><a href="mailto:?subject=Canada.ca%20Content%20Style%20Guide&amp;body=See%20the%20rule%20for%20words%20and%20expressions%20in%20transition%20on%20Canada.ca:%20https://design.canada.ca/style-guide/#wp4-11" aria-label="Share the rule for words and expressions in transition by email">Share this rule by email</a></p>
  </div>
</section>
