<section id="toc7">
{% unless page.title == "3.0 Tone" %}
          <h2>3.0 Tone</h2>
{% endunless %}	
  <div class="row mrgn-tp-lg">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="mrgn-tp-sm">In this section</h3>
          <ul>
            <li><a href="#wp3-1">3.1 Write directly to the person</a>
              <ul>
                <li><a href="#wp3-1-1">Address the person in page titles, links and navigation labels</a></li>
                <li><a href="#wp3-1-2">Don't use the first person</a></li>
              </ul>
            </li>
            <li><a href="#wp3-2">3.2 Use "we" to refer to the Government of Canada</a>
              <ul>
                <li><a href="#wp3-2-1">Third parties</a></li>
              </ul>
            </li>
            <li><a href="#wp3-3">3.3 Expressing an obligation or a recommendation</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <p>The tone of the government's web content should be:</p>
  <ul>
    <li>direct</li>
    <li>informative</li>
    <li>conversational</li>
    <li>professional</li>
  </ul>
  <p>Write as if you were talking to your audience in person, but with the authority of an institution that provides information as part of its mandate.</p>
  <section id="wp3-1">
    <h3>3.1 Write directly to the person</h3>
    <p>Use an informal tone, and speak directly <strong>to</strong> people by using the second person ("you," "your"). </p>
    <h4 class="h5">Examples <span class="wb-inv">of statements that use the second person</span></h4>
    <ul>
      <li>Send your application to…</li>
      <li>To get this benefit you must…</li>
    </ul>
    <section id="wp3-1-1">
      <h4>Address the person in page titles, links and navigation labels</h4>
      <p>For page titles, links and navigation labels, use the possessive adjective "your" when the audience might consider the item being referred to as belonging to them.</p>
      <h5>Examples <span class="wb-inv">of navigation labels that address the person</span></h5>
      <ul>
        <li>Change your address</li>
        <li>Replace your card</li>
      </ul>
      <p class="mrgn-tp-lg">If the subject of the title, link or label refers to general information, use the indefinite article ("a" or "an") or no article at all.</p>
      <h5>Examples <span class="wb-inv">of navigation labels that don't use a possessive adjective</span></h5>
      <ul>
        <li>Start a new business</li>
        <li>Pay application fees</li>
      </ul>
    </section>
    <section id="wp3-1-2">
      <h4>Don't use the first person</h4>
      <p>Don't switch from speaking to people to speaking on their behalf. Don't use "I" or "my" statements.</p>
      <h5>Example <span class="wb-inv">of statements that don't use "I" or "my"</span></h5>
      <p><strong>Write</strong>:</p>
      <ul>
        <li>How to renew your passport</li>
        <li>Renew your passport</li>
      </ul>
      <p><strong>Instead of</strong>: How do I renew my passport?</p>
      <h5>Exception</h5>
      <p>You may use "my" in content, page titles and links for proper names (such as My Service Canada Account).</p>
      <h4>See how this rule applies in French</h4>
      <ul>
        <li><span lang="fr"><a href="{{ site.urlconception }}/guide-redaction/#wp3-1">3.1 Écrire directement à la personne</a></span></li>
      </ul>
      <div class="mrgn-tp-lg">
        <div class="wb-share btn btn-default" data-wb-share='{"custType": " rule for writing directly to the audience", "title": "3.1 Write directly to the person", "url": "{{ site.url }}/style-guide/#wp3-1", "pnlId": "wp3-1"}'></div>
      </div>
    </section>
  </section>
  <section id="wp3-2">
    <h3>3.2 Use "we" to refer to the Government of Canada</h3>
    <p>We generally provide information to people from the perspective of the government as a whole rather than from a specific institution.</p>
    <p>Use "we" and "our" when writing on behalf of the Government of Canada. </p>
    <h4 class="h5">Examples <span class="wb-inv">of statements that use "we" or "our" to refer to the Government of Canada</span></h4>
    <p><strong>Write</strong>: If you started a new&nbsp;claim within the last 52 weeks and there are still weeks payable on that claim,&nbsp;we will automatically renew your existing claim.<br>
      <strong>Instead of</strong>: If you started a new&nbsp;claim within the last 52 weeks and there are still weeks payable on that claim,&nbsp;Service Canada will automatically renew your existing claim.</p>
    <p class="mrgn-tp-lg">Use "Government of Canada" when:</p>
    <ul>
      <li>describing Canada's stance on a topic relative to another named jurisdiction (country, province, territory city, etc.)</li>
      <li>explaining Canada's role with respect to a topic or issue </li>
    </ul>
    <p>Use the name of a specific institution in situations when the:</p>
    <ul>
      <li>institution will be contacting the person</li>
      <li>person needs to contact the institution by phone, mail or online process</li>
      <li>role of the institution in a process is relevant to the task</li>
    </ul>
    <h4 class="h5">Examples <span class="wb-inv">of statements that refer to specific institutions</span></h4>
    <ul>
      <li>The Canada Revenue Agency will inform you if you have to repay&nbsp;benefits.</li>
      <li>The Canadian Food Inspection Agency gives permits for some meat products. </li>
      <li>All restricted or controlled drugs need an import permit from Health Canada.</li>
    </ul>
    <p class="mrgn-tp-lg">Don't include references to your website on your website. </p>
    <h4 class="h5">Example <span class="wb-inv">of a statement that doesn't refer to Canada.ca on the Canada.ca site</span></h4>
    <p><span id="exmp1"><strong>Write</strong>: <a href="#exmp1" aria-label="Example of an effective hyperlink reference. The full text simulates the hyperlink.">Determine whether you're eligible</a>. <br>
      </span> <span id="exmp2"><strong>Instead of</strong>: Get <a href="#exmp2" aria-label="Example of an ineffective hyperlink reference. The text &quot;more information about eligibility on the Canada.ca website&quot; simulates the hyperlink">more information about eligibility on the Canada.ca website</a>.</span></p>
    <section id="wp3-2-1">
      <h4>Third parties</h4>
      <p>Don't provide information on behalf of another organization. Don't duplicate information provided on another organization's website. Instead, direct people to that website to get the information.</p>
      <p>Name the other organization when your content refers to it.</p>
      <h5>Example <span class="wb-inv">of a reference to a third party</span></h5>
      <p><strong>Write</strong>: If you plan to <a href="https://www.cbp.gov/travel">travel to or transit through the United States</a>, find out about the rules you need to follow from U.S. Customs and Border Protection.<br>
        <strong>Instead of</strong>: If you plan to travel to or transit through the U.S., CBSA encourages you to visit the <a href="https://www.cbp.gov/travel">U.S. Customs and Border Protection website</a> for information on the U.S. Western Hemisphere Travel Initiative, and the requirements for entering or returning to the U.S.</p>
    </section>
    <h4>See how this rule applies in French</h4>
    <ul>
      <li><span lang="fr"><a href="{{ site.urlconception }}/guide-redaction/#wp3-2">3.2 Utiliser le pronom &laquo;&nbsp;nous&nbsp;&raquo; pour désigner le gouvernement du Canada</a></span></li>
    </ul>
    <div class="mrgn-tp-lg">
      <div class="wb-share btn btn-default" data-wb-share='{"custType": " rule for referring to the Government of Canada", "title": "3.2 Use we to refer to the Government of Canada", "url": "{{ site.url }}/style-guide/#wp3-2", "pnlId": "wp3-2"}'></div>
    </div>
  </section>
  <section id="wp3-3">
    <h3>3.3 Expressing an obligation or a recommendation</h3>
    <p>As a government organization, we often publish rules, information and instructions that are set out in law. We also provide advice on how to follow them. </p>
    <section id="wp3-3-1">
      <h4>Express an obligation</h4>
      <p>When telling people about:</p>
      <ul>
        <li>what the law requires them to do, use "must" instead of "legally required to" or similar language</li>
        <li>an administrative requirement, use "need to"</li>
      </ul>
      <h5>Example <span class="wb-inv">of statements that express legal and administrative requirements</span></h5>
      <p><strong>Legal</strong>: To be eligible for compassionate care benefits, you must be able to show that…<br>
        <strong>Administrative</strong>: After you apply online, you'll need to provide us with the following documents before we can finalize your claim.</p>
    </section>
    <section id="wp3-3-2">
      <h4>Express a recommendation</h4>
      <p>When telling people that they're allowed to perform an action:</p>
      <ul>
        <li>do use "may" or "might" (expresses permission or a possibility)</li>
        <li>don't use "can" or "could" (expresses ability)</li>
      </ul>
    </section>
    <h4>See how this rule applies in French</h4>
    <ul>
      <li><span lang="fr"><a href="{{ site.urlconception }}/guide-redaction/#wp3-3">3.3 Exprimer une obligation ou une recommandation</a></span></li>
    </ul>
    <div class="mrgn-tp-lg">
      <div class="wb-share btn btn-default" data-wb-share='{"custType": " rule for expressing an obligation or a recommendation", "title": "3.3 Expressing an obligation or a recommendation", "url": "{{ site.url }}/style-guide/#wp3-3", "pnlId": "wp3-3"}'></div>
    </div>
  </section>
</section>
