<section id="wp4-1-1">
  <h4>Titles, headings and subheadings</h4>
  <ul>
    <li>Capitalize the first letter of the first word (sentence case) of all page titles, headings, subheadings, table captions and table headers</li>
    <li>Capitalize proper nouns in page titles, headings and subheadings</li>
    <li>Don't use punctuation at the end of page titles, headings and subheadings </li>
  </ul>
  <h5>Exceptions</h5>
  <ul>
    <li>You may use punctuation at the end of page titles, headings and subheadings for campaign slogans </li>
    <li>Only use question marks when asking for information in a form, wizard, survey or quiz</li>
  </ul>
  <h5>Example <span class="wb-inv">of question marks being used in forms, wizards, surveys or quizzes</span></h5>
  <figure class="mrgn-bttm-lg">
    <figcaption class="text-center"> <strong>Figure 3</strong> </figcaption>
    <img alt="A web page containing a heading with a question mark. Text version below:" class="img-responsive center-block" id="fig3" src="/style-guide/images/fig-03-eng.jpg">
    <details class="brdr-tp brdr-rght brdr-bttm brdr-lft">
      <summary class="wb-toggle" data-toggle="'{&quot;print&quot;:&quot;on&quot;}'"> Figure 3 - Text version </summary>
      <p>A web page containing a heading with a question mark. </p>
      <ul>
        <li>Title of page
          <ul>
            <li>Find out if you need to charge GST/HST</li>
          </ul>
        </li>
        <li>Plain language summary of page
          <ul>
            <li>Answer a few questions to find out if you need to charge or collect the tax and register to get a GST/HST account number. Businesses with lower revenue and those that deal in certain goods and services might not need to charge tax.</li>
          </ul>
        </li>
        <li>Heading
          <ul>
            <li>Do you or your organization already have a GST/HST account?</li>
          </ul>
        </li>
        <li>2 clickable options
          <ul>
            <li>Yes</li>
            <li>No</li>
          </ul>
        </li>
        <li>Action button to continue process
          <ul>
            <li>Next</li>
          </ul>
        </li>
      </ul>
    </details>
  </figure>
</section>
