<section id="wp5-2-3">
  <h4>Bulleted lists</h4>
  <p>Place only one idea in each bulleted item. If you need to include more information to explain an idea, use sub-bullets, but use them sparingly.</p>
  <h5>Example <span class="wb-inv">of bulleted list items</span></h5>
  <p><strong>Write</strong>:<br>
    To draft a high-quality source document:</p>
  <ul>
    <li>organize your ideas
      <ul>
        <li>arrange your ideas from most to least important to the task</li>
        <li>test your order with a representative audience</li>
      </ul>
    </li>
    <li>use the active voice</li>
    <li>use the right words</li>
    <li>write short sentences and paragraphs</li>
    <li>follow the guidelines in the <cite>Canada.ca Content Style Guide</cite></li>
  </ul>
  <p><strong>Instead of</strong>:<br>
    To draft a high-quality source document:</p>
  <ul>
    <li>organize your ideas</li>
    <li>arrange your ideas from most to least important to the task</li>
    <li>test your order with a representative audience</li>
    <li>do not use the passive voice</li>
    <li>it is important to use the right words</li>
    <li>use only short sentences and paragraphs</li>
    <li>use the Canada.ca Content Style Guide to ensure you have followed the guidelines</li>
  </ul>
  <p>Take a look at the <a href="#wp4-1">section on capitalization and punctuation rules that apply to lists</a>.</p>
</section>
