<section id="wp4-7">
  <h3>4.7 Dates</h3>
  <ul>
    <li>Write dates without an ordinal indicator ("st," "nd," "rd," "th") </li>
  </ul>
  <p class="mrgn-lft-lg"><strong>Write</strong>: July&nbsp;31, 2016, or just July&nbsp;31 if the year is already clear<br>
    <strong>Instead of</strong>: July&nbsp;31st, 2016, or July&nbsp;31st</p>
  <ul>
    <li>Use non-breaking spaces between the month and the day </li>
    <li>Use the numeric date format <strong>only</strong> when space is limited (for example, in a table)
      <ul>
        <li>write yyyy-mm-dd</li>
        <li>explain the format in surrounding text (for example, notes, legends)</li>
      </ul>
    </li>
    <li>Capitalize the first letter of the month (for example, January, February, March)</li>
    <li>Abbreviate month names when space is limited (for example, Jan, Feb, Mar)</li>
  </ul>
  <h4>Date ranges</h4>
  <ul>
    <li>Use "to" instead of an en dash in date ranges. For example:
      <ul>
        <li>calendar year 2014</li>
        <li>Monday to Friday</li>
        <li>March 29 to April 4</li>
        <li>fiscal year 2015 to 2016</li>
        <li>January to March 2016 (instead of Q1, Q2, Q3 or Q4)</li>
      </ul>
    </li>
    <li>For date ranges like fiscal years, explain what period the range covers in surrounding text. For example:
      <ul>
        <li>This report covers the 2015 to 2016 fiscal year. A fiscal year runs from April 1 to March 31.</li>
      </ul>
    </li>
  </ul>
  <h4>See how this rule applies in French</h4>
  <ul>
    <li><span lang="fr"><a href="{{ site.urlconception }}/guide-redaction/#wp4-7">4.7 Dates</a></span></li>
  </ul>
  <div class="mrgn-tp-lg">
    <div class="wb-share btn btn-default" data-wb-share='{"custType": " rule for abbreviations and acronyms", "title": "4.7 Dates", "url": "https://design.canada.ca/style-guide/#wp4-7", "pnlId": "wp4-7"}'></div>
  </div>
</section>
