<section id="wp5-1-1">
  <h4>Make the page title unique</h4>
  <p>Most search engines identify relevant search results based on:</p>
  <ul>
    <li>page title </li>
    <li>headings </li>
    <li>subheadings</li>
  </ul>
  <p>They display the page title as a link on the results page.</p>
  <p>Unique page titles help search engines tell the difference between similar pages. They also help ensure that people don't need to look at many pages with the same name to find the information they need.</p>
  <p>Check whether your page title is unique by using a search engine. Search for the title of the page followed by "site:" and the domain extension (for example, "food&nbsp;safety&nbsp;site:gc.ca" or "food&nbsp;safety&nbsp;site:canada.ca"). </p>
</section>
