<section id="toc9"> {% unless page.title == "5.0 Content structure" %}
  <h2>5.0 Content structure</h2>
  {% endunless %}
  <div class="row mrgn-tp-lg">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="mrgn-tp-sm">In this section</h3>
          <ul class="list-unstyled">
            <li><a href="#wp5-1">5.1 Write useful page titles and headings</a>
              <ul>
                <li><a href="#wp5-1-1">Make the page title unique</a></li>
                <li><a href="#wp5-1-2">Use a page title, headings and subheadings to show structure</a></li>
              </ul>
            </li>
            <li><a href="#wp5-2">5.2 Use lists to help people scan </a>
              <ul>
                <li><a href="#wp5-2-1">Lead-in sentence</a></li>
                <li><a href="#wp5-2-2">Numbered lists</a></li>
                <li><a href="#wp5-2-3">Bulleted lists</a></li>
                <li><a href="#wp5-2-4">Alphabetical lists</a></li>
              </ul>
            </li>
            <li><a href="#wp5-3">5.3 Use tables to organize data</a>
              <ul>
                <li><a href="#wp5-3-1">Use column and row headers</a></li>
                <li><a href="#wp5-3-2">Use the simplest structure possible</a></li>
                <li><a href="#wp5-3-3">Limit the use of texture and colour</a></li>
                <li><a href="#wp5-3-4">Avoid having blank cells</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>  
  <!-- 5.1 Write useful page titles and headings START id="wp5-1" --> 
  {% include style-guide/09-toc9-wp5-1.html %} 
  <!-- 5.1 Write useful page titles and headings  END --> 
  <!-- 5.2 Use lists to help people scan START id="wp5-2" --> 
  {% include style-guide/09-toc9-wp5-2.html %} 
  <!-- 5.2 Use lists to help people scan  END --> 
  <!-- 5.3 Use tables to organize data START id="wp5-3" --> 
  {% include style-guide/09-toc9-wp5-3.html %} 
  <!-- 5.3 Use tables to organize data  END -->  
</section>
