<section id="wp4-10">
  <h3>4.10 Addresses</h3>
  <!-- Mailing addresses START id="wp4-10-1" --> 
  {% include style-guide/09-toc8-wp4-10-1.html %} 
  <!-- Mailing addresses END --> 
  <!-- 4.2 Underlining, bold and italics START id="wp4-10-2" --> 
  {% include style-guide/09-toc8-wp4-10-2.html %} 
  <!-- 4.2 Underlining, bold and italics END -->
  <ul>
    <li><span lang="fr"><a href="{{ site.urlconception }}/guide-redaction/#wp4-8">4.8 Heures</a></span></li>
  </ul>
  <div class="mrgn-tp-lg">
    <div class="wb-share btn btn-default" data-wb-share='{"custType": " rules for times, phone numbers and mailing addresses", "title": "4.8 Times", "url": "https://design.canada.ca/style-guide/#wp4-10", "pnlId": "wp4-10"}'></div>
  </div>
</section>
