<section id="wp5-2-1">
  <h4>Lead-in sentence</h4>
  <p>If you need to clarify the relationship between each element, start the list with a lead-in paragraph that:</p>
  <ul>
    <li>introduces or applies to all the list items </li>
    <li>emphasizes the common element between all the items</li>
  </ul>
  <p>If necessary, specify "all" or "or" in the introductory paragraph to clarify whether the list is comprehensive or conditional. For example, you can write:</p>
  <ul>
    <li>"You must meet all of the following requirements:"</li>
    <li>"To be eligible, you must meet 1 or more of the following requirements:"</li>
  </ul>
</section>
