<section id="wp5-1-2">
  <h4>Use a page title, headings and subheadings to show structure</h4>
  <p>The page title, headings and subheadings help people find information on the screen easily. Use headings to divide text into logical sections approximately every 200 words.</p>
  <p>Structuring headings clearly helps establish the authority of one heading over another.</p>
  <p>For the page <strong>title</strong>:</p>
  <ul>
    <li>use this style: Heading 1</li>
    <li>apply a Heading 1 only once per page </li>
  </ul>
  <p>For the <strong>main sections</strong>: </p>
  <ul>
    <li>use this style: Heading 2</li>
    <li>can appear many times</li>
  </ul>
  <p>For <strong>subsections</strong>: </p>
  <ul>
    <li>use this style: Heading 3</li>
    <li>can appear many times and in many main sections</li>
  </ul>
  <p>For <strong>sub-subsections</strong>: </p>
  <ul>
    <li>use this style: Heading 4 (and so on)</li>
    <li>can appear many times in many subsections</li>
  </ul>
  <details>
    <summary>Structure your content with automated style features</summary>
    <p>Having clear and consistently formatted headings helps your web team produce the web pages more quickly and with fewer errors.</p>
    <p>Use the automated styles feature of your word processing software to structure headings. The styles feature clearly differentiates headings from content and helps you format headings consistently.</p>
    <h5>Table of contents</h5>
    <p>Use the table of contents feature from your Word processing software to automatically generate a table of contents based on the heading levels in your document. Then, check the table of contents to make sure you've correctly structured the page title, headings and subheadings.</p>
    <p>Delete the table of contents before you send the document for approval if it isn't required for the final online version.</p>
    <h5>Navigation pane</h5>
    <p>Use the navigation pane feature in Microsoft Word. When you select Find (or press Control + F), a small window will display all the headings in your document.</p>
  </details>
  <h5 class="h4">Publication and program titles usually don't make good web page titles</h5>
  <p>Using the titles of reports, brochures, publications or programs as the web page title can make it difficult for people to find your content, even if it relates to their task.</p>
  <p>The titles of publications are usually not written in plain language, short enough or descriptive enough.</p>
  <p>To help make sure your page ranks high in search results, use page titles that:</p>
  <ul>
    <li>are short</li>
    <li>describe the page accurately </li>
    <li>are relevant to what people type into search engines</li>
  </ul>
  <p class="mrgn-tp-lg">When you post a publication online, you must adapt it for the web. Here are some things you can do to get better results: </p>
  <h4>Write a title that describes the contents of the page</h4>
  <p>The web page title (Heading1) is the title you see at the top of the page when you're looking at it. Make sure that it accurately describes, in plain language, what your publication is about. </p>
  <h4>Use the first paragraph to introduce your publication </h4>
  <p>The first paragraph of your web page should introduce your publication in plain language. It helps people who've landed on the page decide whether they've found what they are looking for. You can include the title of your publication here. </p>
  <h4>Include keywords in the page's metadata </h4>
  <p>Use the title tag and the description metadata field to improve where your publication ranks in search results. Here's what you can do: </p>
  <p><strong>Title tag</strong>: The page title tag is the blue hyperlinked text you see when a search engine generates a list of results. Write an effective page title (Heading1), and use it as your title tag. </p>
  <p><strong>Description metadata field</strong>: The description metatdata is the content you see under the blue hyperlinked text in search results. <strong>Avoid listing only keywords</strong>, because search engines might ignore these. Write 1 or 2 short sentences that summarize the page. Make sure they contain keywords that people use when searching for your content (for example, abbreviations familiar to your audience). </p>
  <p>Refer to the <a href="#toc6">section on plain language</a> for tips on using simple and common words as keywords.</p>
</section>
