<section id="wp5-1">
  <h3>5.1 Write useful page titles and headings</h3>
  <p>In your page title, accurately describe what's on the page. A descriptive page title is important because search engines often display the title without the context that the rest of the page provides.</p>
  <p>Most people scan page titles and headings, looking for keywords that will confirm that they have found what they're looking for. People who use assistive technology may listen for keywords using software or may use keyboard shortcuts to access all the headings on a page.</p>
  <p>When writing a page title, heading or subheading, make sure that it: </p>
  <ul>
    <li>gives a clear idea of what follows </li>
    <li>is short and contains no unnecessary words </li>
    <li>contains the most relevant terms at the beginning </li>
    <li>makes sense on its own</li>
    <li>is followed by text and not by another heading, unless the heading introduces a table of contents on the same page </li>
    <li>has no punctuation at the end</li>
    <li>contains no abbreviation unless the audience knows it better than it knows its long-form equivalent </li>
    <li>contains no promotional messaging (boastful, subjective claims) because it might confuse and stop people from navigating to the page </li>
  </ul>
  <!-- Make the page title unique START id="wp5-1-1" --> 
  {% include style-guide/09-toc9-wp5-1-1.html %} 
  <!-- Make the page title unique  END --> 
  <!-- Use a page title, headings and subheadings to show structure START id="wp5-1-2" --> 
  {% include style-guide/09-toc9-wp5-1-2.html %} 
  <!-- Use a page title, headings and subheadings to show structure  END -->  
  <div class="well panel"> 
    <!--UPDATE LATER-->
    <p><a href="{{ site.urlconception }}/guide-redaction/#wp5-1" aria-label="See how the rule for writing useful page titles and headings applies to content in French">See how this rule applies to content in French</a></p>
    <p><a href="mailto:?subject=Canada.ca%20Content%20Style%20Guide&amp;body=See%20the%20rule%20for%20writing%20useful%20page%20titles%20and%20headings%20on%20Canada.ca:%20https://design.canada.ca/style-guide/#wp5-1" aria-label="Share the rule for writing useful page titles and headings by email">Share this rule by email</a></p>
  </div>
</section>
