<section id="wp5-3-4">
  <h4>Avoid having blank cells </h4>
  <p>Assistive technologies like a screen reader will notify the person if the cell is blank. If a cell has no value, explain why in your table's: </p>
  <ul>
    <li>notes </li>
    <li>legend</li>
    <li>caption</li>
    <li>surrounding content</li>
  </ul>
  <p>You may also write one of the following in the cell, as long as it's clear and doesn't create visual noise that would distract your audience:</p>
  <ul>
    <li>"no data" </li>
    <li>"0" (zero)</li>
    <li>"n/a" (not applicable)</li>
  </ul>
</section>
