<section id="wp5-3">
  <h3>5.3 Use tables to organize data</h3>
  <p>Use tables to organize and present data. Make sure that the:</p>
  <ul>
    <li>value of each cell relates to the column and row headers</li>
    <li>entries in a column don't contain information that could be considered a subhead </li>
    <li>value of each cell aligns with the column header that appears directly above it </li>
  </ul>
  <p>Give your table a clear title that describes the information in it.</p>
  <h4 class="h5">Example <span class="wb-inv">of a table that organizes data</span></h4>
  <table class="table table-condensed table-bordered">
    <caption>
    <strong>Comparison of net budgetary authorities and expenditures for Vote 1 as of December 31, for fiscal years 2011 to 2012 and 2012 to 2013 ($ millions)</strong>
    </caption>
    <thead>
      <tr class="active">
        <th scope="col">Vote 1</th>
        <th scope="col" class="text-center">2011 to 2012</th>
        <th scope="col" class="text-center">2012 to 2013</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Net budgetary authorities</th>
        <td class="text-right">287.4</td>
        <td class="text-right">252.4</td>
      </tr>
      <tr>
        <th scope="row">Year-to-date expenditures ending December 31</th>
        <td class="text-right">184.1</td>
        <td class="text-right">154.6</td>
      </tr>
    </tbody>
  </table>
  <!-- Lead-in sentence START id="wp5-3-1" --> 
  {% include style-guide/09-toc9-wp5-3-1.html %} 
  <!-- Lead-in sentence  END --> 
  <!-- Numbered lists START id="wp5-3-2" --> 
  {% include style-guide/09-toc9-wp5-3-2.html %} 
  <!-- Numbered lists  END --> 
  <!-- Bulleted lists START id="wp5-3-3" --> 
  {% include style-guide/09-toc9-wp5-3-3.html %} 
  <!-- Bulleted lists  END --> 
  <!-- Alphabetical lists START id="wp5-3-4" --> 
  {% include style-guide/09-toc9-wp5-3-4.html %} 
  <!-- Alphabetical lists  END -->
  <div class="well panel"> 
    <!--UPDATE LATER-->
    <p><a href="{{ site.urlconception }}/guide-redaction/#wp5-3" aria-label="See how the rule for using tables to organize data applies to content in French">See how this rule applies to content in French</a></p>
    <p><a href="mailto:?subject=Canada.ca%20Content%20Style%20Guide&amp;body=See%20the%20rule%20for%20using%20tables%20to%20organize%20data%20on%20Canada.ca:%20https://design.canada.ca/style-guide/#wp5-3" aria-label="Share the rule for using tables to organize data by email">Share this rule by email</a></p>
  </div>
</section>
