<section id="wp5-2">
  <h3>5.2 Use lists to help people scan </h3>
  <p>A short vertical list is easier for people to scan and remember than a long paragraph. If possible, aim for maximum of 7 items in your list.</p>
  <p>When writing lists:</p>
  <ul>
    <li>use positive statements as much as possible</li>
    <li>place negatively phrased items together, if you must use them</li>
    <li>use consistent grammatical structure. For example, if you:
      <ul>
        <li>use the imperative mood (or command) for the first item of your list, use the same mood for each subsequent list item</li>
        <li>start your first item with a noun, start the other list items with nouns</li>
      </ul>
    </li>
    <li>if a list contains more than 7 items, consider breaking it up into categories </li>
  </ul>  
  <!-- Lead-in sentence START id="wp5-2-1" --> 
  {% include style-guide/09-toc9-wp5-2-1.html %} 
  <!-- Lead-in sentence  END --> 
  <!-- Numbered lists START id="wp5-2-2" --> 
  {% include style-guide/09-toc9-wp5-2-2.html %} 
  <!-- Numbered lists  END --> 
  <!-- Bulleted lists START id="wp5-2-3" --> 
  {% include style-guide/09-toc9-wp5-2-3.html %} 
  <!-- Bulleted lists  END --> 
  <!-- Alphabetical lists START id="wp5-2-4" --> 
  {% include style-guide/09-toc9-wp5-2-4.html %} 
  <!-- Alphabetical lists  END -->  
  <div class="well panel"> 
    <!--UPDATE LATER-->
    <p><a href="{{ site.urlconception }}/guide-redaction/#wp5-2" aria-label="See how the rule for using lists to support scanning applies to content in French">See how this rule applies to content in French</a></p>
    <p><a href="mailto:?subject=Canada.ca%20Content%20Style%20Guide&amp;body=See%20the%20rule%20for%20using%20lists%20to%20support%20scanning%20on%20Canada.ca:%20https://design.canada.ca/style-guide/#wp5-2" aria-label="Share the rule for using lists to support scanning by email">Share this rule by email</a></p>
  </div>
</section>
