<section id="wp5-3-2">
  <h4>Use the simplest structure possible</h4>
  <p>It can be difficult to make tables accessible and easy to read for people using screen readers or mobile devices.</p>
  <p>To make information useful to the widest possible audience:</p>
  <ul>
    <li>turn a complex table into one or more simple tables</li>
    <li>convert a table to a list if the data is simple</li>
  </ul>
  <h5 class="h4">Before: complex table</h5>
  <p>The following table is complex and poorly designed. It would be difficult for someone using a screen reader or a mobile device to access and understand the information.</p>
  <h6 class="h5">Example <span class="wb-inv">of a complex table</span></h6>
  <table class="table table-bordered table-condensed">
    <caption class="text-center">
    <strong>National Hockey League Stanley Cup Canadian winning teams (1927–2013)</strong>
    </caption>
    <thead>
      <tr class="active">
        <th colspan="6" scope="colgroup"><strong>Eastern Conference</strong></th>
        <th colspan="4" scope="colgroup"><strong>Western Conference</strong></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="col">Team</th>
        <th scope="col">Wins</th>
        <th scope="col">Team</th>
        <th scope="col">Wins</th>
        <th scope="col">Team</th>
        <th scope="col">Wins</th>
        <th scope="col">Team</th>
        <th scope="col">Wins</th>
        <th scope="col">Team</th>
        <th scope="col">Wins</th>
      </tr>
      <tr>
        <td>Montréal Canadiens</td>
        <td class="text-right">22</td>
        <td>Toronto Maple Leafs</td>
        <td class="text-right">11</td>
        <td>Ottawa Senators</td>
        <td class="text-right">1</td>
        <td>Edmonton Oilers</td>
        <td class="text-right">5</td>
        <td>Calgary Flames</td>
        <td class="text-right">1</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td class="small" colspan="10"><p>Source : <a href="https://www.nhl.com">nhl.com</a></p></td>
      </tr>
    </tfoot>
  </table>
  <h5 class="h4">After: simple tables</h5>
  <p>The complex table easily converts into simple tables.</p>
  <h6 class="h5">Example: one simple table</h6>
  <table class="table table-bordered table-condensed">
    <caption class="text-center">
    <strong>National Hockey League Stanley Cup Canadian winning teams (1927 to 2013)</strong>
    </caption>
    <thead>
      <tr class="active">
        <th class="text-center" scope="col">Team</th>
        <th class="text-center" scope="col">Conference </th>
        <th class="text-center" scope="col">Wins </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Montreal Canadiens</th>
        <td>Eastern </td>
        <td class="text-right">22</td>
      </tr>
      <tr>
        <th scope="row">Toronto Maple Leafs</th>
        <td>Eastern </td>
        <td class="text-right">11</td>
      </tr>
      <tr>
        <th scope="row">Edmonton Oilers</th>
        <td>Western </td>
        <td class="text-right">5</td>
      </tr>
      <tr>
        <th scope="row">Calgary Flames</th>
        <td>Western </td>
        <td class="text-right">1</td>
      </tr>
      <tr>
        <th scope="row">Ottawa Senators</th>
        <td>Eastern</td>
        <td class="text-right">1</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td class="small" colspan="3"><p>Source : <a href="https://www.nhl.com">nhl.com</a></p></td>
      </tr>
    </tfoot>
  </table>
  <p class="mrgn-tp-lg">If it's important to highlight Stanley Cup championships by NHL conference (region), present the information using 2 simpler tables, and use table titles to clarify which conference the teams represent.</p>
  <h6 class="h5">Example: multiple simple tables </h6>
  <table class="table table-bordered table-condensed">
    <caption class="text-center">
    <strong>Table 1: Eastern conference: National Hockey League Stanley Cup Canadian winning teams (1927 to 2013)</strong>
    </caption>
    <thead>
      <tr class="active">
        <th class="text-center" scope="col">Team </th>
        <th class="text-center" scope="col">Wins </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Montreal Canadiens</th>
        <td class="text-right">22</td>
      </tr>
      <tr>
        <th scope="row">Toronto Maple Leafs</th>
        <td class="text-right">11</td>
      </tr>
      <tr>
        <th scope="row">Ottawa Senators</th>
        <td class="text-right">1</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td class="small" colspan="2"><p>Source : <a href="https://www.nhl.com">nhl.com</a></p></td>
      </tr>
    </tfoot>
  </table>
  <table class="table table-bordered table-condensed">
    <caption class="text-center">
    <strong>Table 2: Western conference: National Hockey League Stanley Cup Canadian winning teams (1927 to 2013)</strong>
    </caption>
    <thead>
      <tr class="active">
        <th class="text-center" scope="col">Team </th>
        <th class="text-center" scope="col">Wins</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Edmonton Oilers</th>
        <td class="text-right">5</td>
      </tr>
      <tr>
        <th scope="row">Calgary Flames</th>
        <td class="text-right">1</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td class="small" colspan="2"><p>Source : <a href="https://www.nhl.com">nhl.com</a></p></td>
      </tr>
    </tfoot>
  </table>
  <p class="mrgn-tp-md">The complex table also easily converts into 2 lists. </p>
  <h6 class="h5">Example: convert tables to text </h6>
  <p><strong>Eastern conference National Hockey League</strong>:</p>
  <p>The Stanley Cup Canadian winning teams from 1927 to 2013</p>
  <ul>
    <li>Montreal Canadiens: 22</li>
    <li>Toronto Maple Leafs: 11</li>
    <li>Ottawa Senators: 1</li>
  </ul>
  <p><strong>Western conference National Hockey League </strong>: </p>
  <p>The Stanley Cup Canadian winning teams from 1927 to 2013</p>
  <ul>
    <li>Edmonton Oilers: 5</li>
    <li>Calgary Flames: 1</li>
  </ul>
</section>
