<section id="wp5-3-3">
  <h4>Limit the use of texture and colour </h4>
  <p>Avoid formatting cells with textures or colours, because it can make text difficult to read.</p>
  <p>If you must use textures and colours in a table, explain what they mean (for example, in a table note or in a legend). Make sure you comply with the <a href="https://www.w3.org/TR/2008/REC-WCAG20-20081211/#visual-audio-contrast-contrast">minimum colour contrast rules (1.4.3)</a> from the <cite>Web Content Accessibility Guidelines (WCAG) 2.0</cite>.</p>
  <p><strong>Never</strong> rely on colour or texture alone to convey important information.</p>
</section>
