<section id="wp4-10">
  <h3>4.10 Addresses</h3>
  <section id="wp4-10-1">
    <h4>Mailing addresses</h4>
    <ul>
      <li>Abbreviate street types, street direction and province or territory</li>
      <li>Use the <a href="https://www.canadapost.ca/tools/pg/manual/PGaddress-e.asp#1442131">correct abbreviations for provinces and territories</a></li>
      <li>Insert 2 spaces between the province or territory abbreviation and the postal code</li>
      <li>Use uppercase to write the letters in the postal code</li>
      <li>Don't use punctuation except for a hyphen between the unit designator and the civic number</li>
    </ul>
    <p>[Organization name or person name]<br>
      [Additional delivery information]<br>
      [Suite or office]-[Civic number] [Street name] [Abbreviated street type] [Abbreviated street direction]<br>
      [City] [Two-letter province or territory abbreviation] [Postal code]</p>
    <h4 class="h5">Example<span class="wb-inv"> of a mailing address.</span></h4>
    <p>Integrity Regime<br>
      Departmental Oversight Branch<br>
      Public Services and Procurement Canada<br>
      Portage III Tower A 10A1 <br>
      105-11 Laurier St<br>
      Gatineau QC&nbsp;&nbsp;K1A 0S5</p>
  </section>
  <section id="wp4-10-2">
    <h4>Email addresses</h4>
    <p>Spell out email addresses instead of embedding them within your text.</p>
    <p><strong>Write</strong>:</p>
    <ul>
      <li>Please submit your request by email to <a href="mailto:abcxyz@canada.ca">abcxyz@canada.ca</a>.</li>
      <li>Please submit your request by email: <a href="mailto:abcxyz@canada.ca">abcxyz@canada.ca</a>.</li>
    </ul>
    <p><strong>Instead of</strong>: <a href="mailto:abcxyz@canada.ca">Email us</a> to submit a request.</p>
    <h4>See how this rule applies in French</h4>
    <ul>
      <li><span lang="fr"><a href="{{ site.urlconception }}/guide-redaction/#wp4-8">4.8 Heures</a></span></li>
    </ul>
    <div class="mrgn-tp-lg">
      <div class="wb-share btn btn-default" data-wb-share='{"custType": " rules for times, phone numbers and mailing addresses", "title": "4.8 Times", "url": "https://design.canada.ca/style-guide/#wp4-8", "pnlId": "wp4-8"}'></div>
    </div>
  </section>
</section>
