<section id="wp4-11">
  <h3>4.11 Words and expressions in transition</h3>
  <p>Words and expressions in transition are those written commonly in 2 or more different ways. Reduce confusion by using the following spellings: </p>
  <ul>
    <li>website (not "web site")</li>
    <li>web page (not "webpage")</li>
    <li>web (not "Web")</li>
    <li>email (not "e-mail")</li>
    <li>online (not "on line")</li>
  </ul>
  <h4>See how this rule applies in French</h4>
  <p>This rule doesn't apply to content in French.</p>
  <div class="mrgn-tp-lg">
    <div class="wb-share btn btn-default" data-wb-share='{"custType": " rule for words and expressions in transition", "title": "4.11 Words and expressions in transition", "url": "https://design.canada.ca/style-guide/#wp4-11", "pnlId": "wp4-11"}'></div>
  </div>
</section>
