<section id="wp4-4">
  <h3>4.4 Abbreviations and acronyms</h3>
  <p>Don't use an abbreviation or acronym unless it's better known to the widest audience than its long-form equivalent. For example: </p>
  <ul>
    <li>EI</li>
    <li>RCMP</li>
    <li>T4</li>
  </ul>
  <h4>Research common keywords</h4>
  <p>Check your analytics to find out what keywords your audiences are using to find your content.</p>
  <p>If you have to use a multi-word term more than once on a web page, use the full term the first time you use it. For any further uses of the term:</p>
  <ul>
    <li>use a short form such as "the program" or "the plan," in lower case instead of repeating the full term or using an abbreviation</li>
    <li>only use an abbreviation for a secondary reference if analytics data or usability testing determines that people often use and search for the abbreviation </li>
  </ul>
  <p>Always spell out an abbreviation the first time you use it on a page.&nbsp; </p>
  <h4 class="h5">Example <span class="wb-inv">of statements that avoid the use of abbreviations and acronyms</span></h4>
  <p><strong>Write</strong>: There are 15 client contact centres across Canada.<br>
    <strong>Instead of</strong>: There are 15 CCCs across Canada.</p>
  <p><strong>Write</strong>: The&nbsp;act&nbsp;strengthens the Government of Canada's commitment to…<br>
    <strong>Instead of</strong>: The&nbsp;EEA&nbsp;strengthens the Government of Canada's commitment to…</p>
  <p>Include abbreviations that your audience uses in your metadata (for example, in the description field) to help search engines find your page more easily.</p>
  <h4>Avoid abbreviations and acronyms by rethinking the content</h4>
  <p>If your content contains a lot of abbreviations and acronyms, rethink its structure. Consider placing related content under distinct headings and sections.</p>
  <p>For example, when introducing legal requirements, use the title of the act once, if necessary, and then talk about what people "must" do. The context will make it clear that the things they "must" do are requirements under the act. Don't use the abbreviation for the act, because it makes the text harder to follow. </p>
  <p>Close the topic before referring to other obligations under different legislation.</p>
  
  <!-- Latin abbreviationsSTART id="wp4-4-1" --> 
  {% include style-guide/09-toc8-wp4-1-1.html %} 
  <!-- Latin abbreviations END -->
  
  <h4>See how this rule applies in French</h4>
  <ul>
    <li><span lang="fr"><a href="{{ site.urlconception }}/guide-redaction/#wp4-4">4.4 Abréviations, acronymes et référence</a></span></li>
  </ul>
  <div class="mrgn-tp-lg">
    <div class="wb-share btn btn-default" data-wb-share='{"custType": " rule for abbreviations and acronyms", "title": "4.4 Abbreviations and acronyms", "url": "https://design.canada.ca/style-guide/#wp4-4", "pnlId": "wp4-4"}'></div>
  </div>
</section>
