<section id="wp4-1-1">
  <h4>Titles, headings and subheadings</h4>
  <ul>
    <li>Capitalize the first letter of the first word (sentence case) of all page titles, headings, subheadings, table captions and table headers</li>
    <li>Capitalize proper nouns in page titles, headings and subheadings</li>
    <li>Don't use punctuation at the end of page titles, headings and subheadings </li>
  </ul>
  <h5>Exceptions</h5>
  <ul>
    <li>You may use punctuation at the end of page titles, headings and subheadings for campaign slogans </li>
    <li>Only use question marks when asking for information in a form, wizard, survey or quiz</li>
  </ul>
  <h5>Example <span class="wb-inv">of question marks being used in forms, wizards, surveys or quizzes</span></h5>
  <div class="row">
    <div class="mrgn-tp-lg mrgn-bttm-lg col-md-8">
      <figure class="pattern-demo"><img alt="A web page containing a heading with a question mark." class="img-responsive" id="fig1" src="{{ site.url }}/style-guide/images/fig-03-eng.jpg" />
        <figcaption class="text-center"><strong>Figure 3: Web page containing a heading with a question mark</strong></figcaption>
      </figure>
    </div>
  </div>
  <p>The example shows a page containing a heading with a question mark.</p>
  <ul>
    <li>Title of page
      <ul>
        <li>Find out if you need to charge GST/HST</li>
      </ul>
    </li>
    <li>Plain language summary of page
      <ul>
        <li>Answer a few questions to find out if you need to charge or collect the tax and register to get a GST/HST account number. Businesses with lower revenue and those that deal in certain goods and services might not need to charge tax.</li>
      </ul>
    </li>
    <li>Heading
      <ul>
        <li>Do you or your organization already have a GST/HST account?</li>
      </ul>
    </li>
    <li>2 clickable options
      <ul>
        <li>Yes</li>
        <li>No</li>
      </ul>
    </li>
    <li>Action button to continue process
      <ul>
        <li>Next</li>
      </ul>
    </li>
  </ul>
</section>
