<section id="wp4-1-2">
  <h4>Lists</h4>
  <ul>
    <li>Avoid having more than 1 sentence in a single list item</li>
    <li>Don't end the list items with any punctuation</li>
  </ul>
  <p>When list items are grammatically independent of each other or follow a heading, capitalize the first letter of each list&nbsp;item.</p>
  <h5>Example <span class="wb-inv">of punctuation in independent list items</span></h5>
  <p><strong>Most requested</strong></p>
  <ul>
    <li><a href="https://canadabusiness.ca/eng/page/2852/pof-191/">Financing your new business</a></li>
    <li><a href="https://www.canadabusiness.ca/eng/page/2772/">Financing for innovation</a></li>
    <li><a href="https://www.ic.gc.ca/eic/site/csbfp-pfpec.nsf/eng/h_la00007.html">Find a loan for your small business</a></li>
    <li><a href="{{ site.urlcanadaca }}/en/employment-social-development/programs/job-grant/employers.html">Canada job grants for employers</a></li>
  </ul>
  <p class="mrgn-tp-lg">When the meaning of list items depends on a lead-in phrase, don't capitalize the first letter of each unless it's a proper name.</p>
  <h5>Example <span class="wb-inv">of punctuation in interdependent list items preceded by a colon</span></h5>
  <p>Representatives can be:</p>
  <ul>
    <li>citizenship or immigration consultants</li>
    <li>lawyers</li>
    <li>other representatives</li>
  </ul>
</section>
