<section id="toc8"> {% unless page.title == "4.0 Style" %}
  <h2>4.0 Style</h2>
  {% endunless %}
  <div class="row mrgn-tp-lg">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="mrgn-tp-sm">In this section</h3>
          <ul>
            <li><a href="#wp4-1">4.1 Capitalization and punctuation</a>
              <ul>
                <li><a href="#wp4-1-1">Titles, headings and subheadings</a></li>
                <li><a href="#wp4-1-2">Lists</a></li>
                <li><a href="#wp4-1-3">Links</a></li>
                <li><a href="#wp4-1-4">Commas</a></li>
                <li><a href="#wp4-1-5">Hyphen and dashes</a></li>
              </ul>
            </li>
            <li><a href="#wp4-2">4.2 Underlining, bold and italics</a></li>
            <li><a href="#wp4-3">4.3 Symbols</a></li>
            <li><a href="#wp4-4">4.4 Abbreviations and acronyms</a>
              <ul>
                <li><a href="#wp4-4-1">Latin abbreviations</a></li>
              </ul>
            </li>
            <li><a href="#wp4-5">4.5 Contractions</a></li>
            <li><a href="#wp4-6">4.6 Numbers</a></li>
            <li><a href="#wp4-7">4.7 Dates</a></li>
            <li><a href="#wp4-8">4.8 Times</a></li>
            <li><a href="#wp4-9">4.9 Phone numbers</a></li>
            <li><a href="#wp4-10">4.10 Addresses</a></li>
            <li><a href="#wp4-11">4.11 Words and expressions in transition</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <p>On the web, less is more. Keep style and punctuation simple. Formatting (such as bold, italics and underlining) and complex punctuation can be distracting and make reading difficult for many people.</p>
  
  <!-- 4.1 Capitalization and punctuation START id="wp4-1" --> 
  {% include style-guide/09-toc8-wp4-1.html %} 
  <!-- 4.1 Capitalization and punctuation END --> 
  <!-- 4.2 Underlining, bold and italics START id="wp4-2" --> 
  {% include style-guide/09-toc8-wp4-2.html %} 
  <!-- 4.2 Underlining, bold and italics END --> 
  <!-- 4.3 Symbols START id="wp4-3" --> 
  {% include style-guide/09-toc8-wp4-3.html %} 
  <!-- 4.3 Symbols END --> 
  <!-- 4.4 Abbreviations and acronyms START id="wp4-4" --> 
  {% include style-guide/09-toc8-wp4-4.html %} 
  <!-- 4.4 Abbreviations and acronyms END --> 
  <!-- 4.5 Contractions START id="wp4-5" --> 
  {% include style-guide/09-toc8-wp4-5.html %} 
  <!-- 4.5 Contractions END --> 
  <!-- 4.6 Numbers START id="wp4-6" --> 
  {% include style-guide/09-toc8-wp4-6.html %} 
  <!-- 4.6 Numbers END --> 
  <!-- 4.7 Dates START id="wp4-7" --> 
  {% include style-guide/09-toc8-wp4-7.html %} 
  <!-- 4.7 Dates END --> 
  <!-- 4.8 Times START id="wp4-8" --> 
  {% include style-guide/09-toc8-wp4-8.html %} 
  <!-- 4.8 Times END --> 
  <!-- 4.9 Phone numbers START id="wp4-9" --> 
  {% include style-guide/09-toc8-wp4-9.html %} 
  <!-- 4.9 Phone numbers END --> 
  <!-- 4.10 Addresses START id="wp4-10" --> 
  {% include style-guide/09-toc8-wp4-10.html %} 
  <!-- 4.10 Addresses END --> 
  <!-- 4.11 Words and expressions in transition START id="wp4-11" --> 
  {% include style-guide/09-toc8-wp4-11.html %} 
  <!-- 4.11 Words and expressions in transition END --> 
  
</section>
