 <section id="wp4-10-2">
      <h4>Email addresses</h4>
      <p>Spell out email addresses instead of embedding them within your text.</p>
      <p><strong>Write</strong>:</p>
      <ul>
        <li>Please submit your request by email to <a href="mailto:abcxyz@canada.ca">abcxyz@canada.ca</a>.</li>
        <li>Please submit your request by email: <a href="mailto:abcxyz@canada.ca">abcxyz@canada.ca</a>.</li>
      </ul>
      <p><strong>Instead of</strong>: <a href="mailto:abcxyz@canada.ca">Email us</a> to submit a request.</p>
      <h4>See how this rule applies in French</h4>
 </section>
