<section id="wp6-1-1">
  <h4>Functional images</h4>
  <p>Functional images:</p>
  <ul>
    <li>illustrate information or data to help people understand it</li>
    <li>explain a complex concept </li>
    <li>illustrate concrete things (such as a valid passport, species at risk, standard symbols)</li>
    <li>convey branding (such as approved logos and campaign graphics)</li>
  </ul>
  <p>Functional images add value to the content because they provide more information than can be provided through text alone. Examples of functional images: </p>
  <ul>
    <li>infographics</li>
    <li>charts </li>
    <li>graphs </li>
  </ul>
  <p><a href="#wp6-2">Include the appropriate alternative text</a> to describe the image for people who are unable to view it.</p>
  <h5>Example <span class="wb-inv">of functional images</span></h5>
  <figure class="mrgn-bttm-lg">
    <figcaption class="text-center"> <strong>Figure 4</strong> </figcaption>
    <img alt="Map of Canada: current conditions" class="img-responsive center-block" src="/style-guide/images/fig-04-eng.jpg">
    <details>
      <summary>Figure 4 - Text version </summary>
      <table class="table table-bordered table-condensed">
        <thead>
          <tr class="active">
            <th scope="col"><strong>City</strong></th>
            <th scope="col"><strong>Condition</strong></th>
            <th scope="col"><strong>Temperature</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Calgary</td>
            <td>Mainly sunny</td>
            <td class="text-right">0°C</td>
          </tr>
          <tr>
            <td>Charlottetown</td>
            <td>Drifting snow</td>
            <td class="text-right">-11°C</td>
          </tr>
          <tr>
            <td>Edmonton</td>
            <td>(no data)</td>
            <td class="text-right">0°C</td>
          </tr>
          <tr>
            <td>Fredericton</td>
            <td>Sunny</td>
            <td class="text-right">-12°C</td>
          </tr>
          <tr>
            <td>Halifax</td>
            <td>Mainly sunny</td>
            <td class="text-right">-7°C</td>
          </tr>
          <tr>
            <td>Iqaluit</td>
            <td>Drifting snow</td>
            <td class="text-right">-22°C</td>
          </tr>
          <tr>
            <td>Montréal</td>
            <td>Sunny</td>
            <td class="text-right">-16°C</td>
          </tr>
          <tr>
            <td>Ottawa (Kanata - Orléans)</td>
            <td>Mainly sunny</td>
            <td class="text-right">-15°C</td>
          </tr>
          <tr>
            <td>Prince George</td>
            <td>Partly cloudy</td>
            <td class="text-right">2°C</td>
          </tr>
          <tr>
            <td>Québec</td>
            <td>Partly cloudy</td>
            <td class="text-right">-19°C</td>
          </tr>
          <tr>
            <td>Regina</td>
            <td>Cloudy</td>
            <td class="text-right">-4°C</td>
          </tr>
          <tr>
            <td>Saskatoon</td>
            <td>Mist</td>
            <td class="text-right">-8°C</td>
          </tr>
          <tr>
            <td>St. John's</td>
            <td>Mist</td>
            <td class="text-right">2°C</td>
          </tr>
          <tr>
            <td>Thunder Bay</td>
            <td>Partly cloudy</td>
            <td class="text-right">-14°C</td>
          </tr>
          <tr>
            <td>Toronto</td>
            <td>Light snow</td>
            <td class="text-right">-6°C</td>
          </tr>
          <tr>
            <td>Vancouver</td>
            <td>Mostly cloudy</td>
            <td class="text-right">9°C</td>
          </tr>
          <tr>
            <td>Victoria</td>
            <td>Light rain</td>
            <td class="text-right">8°C</td>
          </tr>
          <tr>
            <td>Whitehorse</td>
            <td>Partly cloudy</td>
            <td class="text-right">-19°C</td>
          </tr>
          <tr>
            <td>Winnipeg</td>
            <td>Sunny</td>
            <td class="text-right">-18°C</td>
          </tr>
          <tr>
            <td>Yellowknife</td>
            <td>Mainly sunny</td>
            <td class="text-right">-28°C</td>
          </tr>
        </tbody>
      </table>
    </details>
  </figure>
  <figure class="mrgn-bttm-lg">
    <figcaption class="text-center"> <strong>Figure 5</strong> </figcaption>
    <img alt="Bar chart for number of pages by main purpose and audience" class="img-responsive center-block" src="/style-guide/images/fig-05-eng.png">
    <details>
      <summary> Figure 5 - Text version </summary>
      <table class="table table-bordered table-condensed">
        <thead>
          <tr class="active">
            <td></td>
            <th scope="col"><strong>Education</strong></th>
            <th scope="col"><strong>Task</strong></th>
            <th scope="col"><strong>Navigation</strong></th>
            <th scope="col"><strong>Support</strong></th>
            <th scope="col"><strong>Information</strong></th>
            <th scope="col"><strong>Corporate</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">General</th>
            <td class="text-right">2</td>
            <td class="text-right">0</td>
            <td class="text-right">20</td>
            <td class="text-right">4</td>
            <td class="text-right">100</td>
            <td class="text-right">50</td>
          </tr>
          <tr>
            <th scope="row">Students</th>
            <td class="text-right">2</td>
            <td class="text-right">2</td>
            <td class="text-right">1</td>
            <td class="text-right">5</td>
            <td class="text-right">50</td>
            <td class="text-right">0</td>
          </tr>
          <tr>
            <th scope="row">Business</th>
            <td class="text-right">60</td>
            <td class="text-right">10</td>
            <td class="text-right">20</td>
            <td class="text-right">90</td>
            <td class="text-right">50</td>
            <td class="text-right">8</td>
          </tr>
          <tr>
            <th scope="row">Professional</th>
            <td class="text-right">46</td>
            <td class="text-right">26</td>
            <td class="text-right">5</td>
            <td class="text-right">101</td>
            <td class="text-right">200</td>
            <td class="text-right">142</td>
          </tr>
          <tr>
            <th scope="row">Lawyer</th>
            <td class="text-right">0</td>
            <td class="text-right">2</td>
            <td class="text-right">4</td>
            <td class="text-right">0</td>
            <td class="text-right">300</td>
            <td class="text-right">300</td>
          </tr>
        </tbody>
      </table>
    </details>
  </figure>
</section>
