<section id="toc9">
  <h2>5.0 Content structure</h2>
  <div class="row mrgn-tp-lg">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="mrgn-tp-sm">In this section</h3>
          <ul class="list-unstyled">
            <li><a href="#wp5-1">5.1 Write useful page titles and headings</a>
              <ul>
                <li><a href="#wp5-1-1">Make the page title unique</a></li>
                <li><a href="#wp5-1-2">Use a page title, headings and subheadings to show structure</a></li>
              </ul>
            </li>
            <li><a href="#wp5-2">5.2 Use lists to help people scan </a>
              <ul>
                <li><a href="#wp5-2-1">Lead-in sentence</a></li>
                <li><a href="#wp5-2-2">Numbered lists</a></li>
                <li><a href="#wp5-2-3">Bulleted lists</a></li>
                <li><a href="#wp5-2-4">Alphabetical lists</a></li>
              </ul>
            </li>
            <li><a href="#wp5-3">5.3 Use tables to organize data</a>
              <ul>
                <li><a href="#wp5-3-1">Use column and row headers</a></li>
                <li><a href="#wp5-3-2">Use the simplest structure possible</a></li>
                <li><a href="#wp5-3-3">Limit the use of texture and colour</a></li>
                <li><a href="#wp5-3-4">Avoid having blank cells</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <p>The structure and layout of content components help people find what they need quickly. Content components include: </p>
  <ul>
    <li>page title</li>
    <li>headings</li>
    <li>lists </li>
    <li>tables</li>
  </ul>
  <h3>On a web page</h3>
  <p>Make sure you:</p>
  <ul>
    <li>divide the page into logical sections to give an overview of the information it contains</li>
    <li>focus on the task and show only the information people need to complete the task</li>
  </ul>
  <p>Structure the content components efficiently to make your page:</p>
  <ul>
    <li>more visible to search engines and easier to find</li>
    <li>easier to view on mobile devices</li>
  </ul>
  <h3>Across multiple web pages</h3>
  <p>Think about how a person will journey through the content. If: </p>
  <ul>
    <li>your web page content covers too many topics, you might need to divide it into several pages</li>
    <li>several web pages contain pieces of content that relate to the same subject, consider combining them into a single page</li>
  </ul>
  <section id="wp5-1">
    <h3>5.1 Write useful page titles and headings</h3>
    <p>In your page title, accurately describe what's on the page. A descriptive page title is important because search engines often display the title without the context that the rest of the page provides.</p>
    <p>Most people scan page titles and headings, looking for keywords that will confirm that they have found what they're looking for. People who use assistive technology may listen for keywords using software or may use keyboard shortcuts to access all the headings on a page.</p>
    <p>When writing a page title, heading or subheading, make sure that it: </p>
    <ul>
      <li>gives a clear idea of what follows </li>
      <li>is short and contains no unnecessary words </li>
      <li>contains the most relevant terms at the beginning </li>
      <li>makes sense on its own</li>
      <li>is followed by text and not by another heading, unless the heading introduces a table of contents on the same page </li>
      <li>has no punctuation at the end</li>
      <li>contains no abbreviation unless the audience knows it better than it knows its long-form equivalent </li>
      <li>contains no promotional messaging (boastful, subjective claims) because it might confuse and stop people from navigating to the page </li>
    </ul>
    <section id="wp5-1-1">
      <h4>Make the page title unique</h4>
      <p>Most search engines identify relevant search results based on:</p>
      <ul>
        <li>page title </li>
        <li>headings </li>
        <li>subheadings</li>
      </ul>
      <p>They display the page title as a link on the results page.</p>
      <p>Unique page titles help search engines tell the difference between similar pages. They also help ensure that people don't need to look at many pages with the same name to find the information they need.</p>
      <p>Check whether your page title is unique by using a search engine. Search for the title of the page followed by "site:" and the domain extension (for example, "food&nbsp;safety&nbsp;site:gc.ca" or "food&nbsp;safety&nbsp;site:canada.ca"). </p>
    </section>
    <section id="wp5-1-2">
      <h4>Use a page title, headings and subheadings to show structure</h4>
      <p>The page title, headings and subheadings help people find information on the screen easily. Use headings to divide text into logical sections approximately every 200 words.</p>
      <p>Structuring headings clearly helps establish the authority of one heading over another.</p>
      <p>For the page <strong>title</strong>:</p>
      <ul>
        <li>use this style: Heading 1</li>
        <li>apply a Heading 1 only once per page </li>
      </ul>
      <p>For the <strong>main sections</strong>: </p>
      <ul>
        <li>use this style: Heading 2</li>
        <li>can appear many times</li>
      </ul>
      <p>For <strong>subsections</strong>: </p>
      <ul>
        <li>use this style: Heading 3</li>
        <li>can appear many times and in many main sections</li>
      </ul>
      <p>For <strong>sub-subsections</strong>: </p>
      <ul>
        <li>use this style: Heading 4 (and so on)</li>
        <li>can appear many times in many subsections</li>
      </ul>
      <h4>Structure your content with automated style features</h4>
      <p>Having clear and consistently formatted headings helps your web team produce the web pages more quickly and with fewer errors.</p>
      <p>Use the automated styles feature of your word processing software to structure headings. The styles feature clearly differentiates headings from content and helps you format headings consistently.</p>
      <h5>Table of contents</h5>
      <p>Use the table of contents feature from your Word processing software to automatically generate a table of contents based on the heading levels in your document. Then, check the table of contents to make sure you've correctly structured the page title, headings and subheadings.</p>
      <p>Delete the table of contents before you send the document for approval if it isn't required for the final online version.</p>
      <h5>Navigation pane</h5>
      <p>Use the navigation pane feature in Microsoft Word. When you select Find (or press Control + F), a small window will display all the headings in your document.</p>
      <h5>Publication and program titles usually don't make good web page titles</h5>
      <p>Using the titles of reports, brochures, publications or programs as the web page title can make it difficult for people to find your content, even if it relates to their task.</p>
      <p>The titles of publications are usually not written in plain language, short enough or descriptive enough.</p>
      <p>To help make sure your page ranks high in search results, use page titles that:</p>
      <ul>
        <li>are short</li>
        <li>describe the page accurately </li>
        <li>are relevant to what people type into search engines</li>
      </ul>
      <p class="mrgn-tp-lg">When you post a publication online, you must adapt it for the web. Here are some things you can do to get better results: </p>
      <h4>Write a title that describes the contents of the page</h4>
      <p>The web page title (Heading1) is the title you see at the top of the page when you're looking at it. Make sure that it accurately describes, in plain language, what your publication is about. </p>
      <h4>Use the first paragraph to introduce your publication</h4>
      <p>The first paragraph of your web page should introduce your publication in plain language. It helps people who've landed on the page decide whether they've found what they are looking for. You can include the title of your publication here. </p>
      <h4>Include keywords in the page's metadata </h4>
      <p>Use the title tag and the description metadata field to improve where your publication ranks in search results. Here's what you can do: </p>
      <p><strong>Title tag</strong>: The page title tag is the blue hyperlinked text you see when a search engine generates a list of results. Write an effective page title (Heading1), and use it as your title tag. </p>
      <p><strong>Description metadata field</strong>: The description metatdata is the content you see under the blue hyperlinked text in search results. <strong>Avoid listing only keywords</strong>, because search engines might ignore these. Write 1 or 2 short sentences that summarize the page. Make sure they contain keywords that people use when searching for your content (for example, abbreviations familiar to your audience). </p>
      <p>Refer to the <a href="{{ site.url }}/style-guide/#toc6">section on plain language</a> for tips on using simple and common words as keywords.</p>
    </section>
    <h4>See how this rule applies in French</h4>
    <ul>
      <li><span lang="fr"><a href="{{ site.urlconception }}/guide-redaction/#wp5-1">5.1 Rédiger des titres et sous-titres de page descriptifs</a></span></li>
    </ul>
    <div class="mrgn-tp-lg">
      <div class="wb-share btn btn-default" data-wb-share='{"custType": " rule for writing useful page titles and headings", "title": "5.1 Write useful page titles and headings", "url": "https://design.canada.ca/style-guide/#wp5-1", "pnlId": "wp5-1"}'></div>
    </div>
  </section>
  <section id="wp5-2">
    <h3>5.2 Use lists to help people scan</h3>
    <p>A short vertical list is easier for people to scan and remember than a long paragraph. If possible, aim for maximum of 7 items in your list.</p>
    <p>When writing lists:</p>
    <ul>
      <li>use positive statements as much as possible</li>
      <li>place negatively phrased items together, if you must use them</li>
      <li>use consistent grammatical structure. For example, if you:
        <ul>
          <li>use the imperative mood (or command) for the first item of your list, use the same mood for each subsequent list item</li>
          <li>start your first item with a noun, start the other list items with nouns</li>
        </ul>
      </li>
      <li>if a list contains more than 7 items, consider breaking it up into categories </li>
    </ul>
    <section id="wp5-2-1">
      <h4>Lead-in sentence</h4>
      <p>If you need to clarify the relationship between each element, start the list with a lead-in paragraph that:</p>
      <ul>
        <li>introduces or applies to all the list items </li>
        <li>emphasizes the common element between all the items</li>
      </ul>
      <p>If necessary, specify "all" or "or" in the introductory paragraph to clarify whether the list is comprehensive or conditional. For example, you can write:</p>
      <ul>
        <li>"You must meet all of the following requirements:"</li>
        <li>"To be eligible, you must meet 1 or more of the following requirements:"</li>
      </ul>
    </section>
    <section id="wp5-2-2">
      <h4>Numbered lists</h4>
      <p>Use numbered lists to show:</p>
      <ul>
        <li>ranking </li>
        <li>order</li>
        <li>priority </li>
        <li>step-by-step instructions </li>
      </ul>
    </section>
    <section id="wp5-2-3">
      <h4>Bulleted lists</h4>
      <p>Place only one idea in each bulleted item. If you need to include more information to explain an idea, use sub-bullets, but use them sparingly.</p>
      <h5>Example of bulleted list items</h5>
      <p><strong>Write</strong>:<br>
        To draft a high-quality source document:</p>
      <ul>
        <li>organize your ideas
          <ul>
            <li>arrange your ideas from most to least important to the task</li>
            <li>test your order with a representative audience</li>
          </ul>
        </li>
        <li>use the active voice</li>
        <li>use the right words</li>
        <li>write short sentences and paragraphs</li>
        <li>follow the guidelines in the <cite>Canada.ca Content Style Guide</cite></li>
      </ul>
      <p><strong>Instead of</strong>:<br>
        To draft a high-quality source document:</p>
      <ul>
        <li>organize your ideas</li>
        <li>arrange your ideas from most to least important to the task</li>
        <li>test your order with a representative audience</li>
        <li>do not use the passive voice</li>
        <li>it is important to use the right words</li>
        <li>use only short sentences and paragraphs</li>
        <li>use the Canada.ca Content Style Guide to ensure you have followed the guidelines</li>
      </ul>
      <p>Take a look at the <a href="{{ site.url }}/style-guide/#wp4-1">section on capitalization and punctuation rules that apply to lists</a>.</p>
    </section>
    <section id="wp5-2-4">
      <h4>Alphabetical lists</h4>
      <p>Only present your web content in an alphabetical order if it's the most logical and intuitive approach for the audience. </p>
      <p>For example, listing provinces and territories in alphabetical order could be appropriate. </p>
      <p>If you present content in alphabetical order in English, also present it in alphabetical order in French to provide the same intuitive experience.</p>
    </section>
    <h4>See how this rule applies in French</h4>
    <ul>
      <li><span lang="fr"><a href="{{ site.urlconception }}/guide-redaction/#wp5-2">5.2 Utiliser des listes d'éléments pour aider les gens à survoler le texte</a></span></li>
    </ul>
    <div class="mrgn-tp-lg">
      <div class="wb-share btn btn-default" data-wb-share='{"custType": " rule for using lists to support scanning", "title": "5.2 Use lists to help people scan", "url": "https://design.canada.ca/style-guide/#wp5-2", "pnlId": "wp5-2"}'></div>
    </div>
  </section>
  <section id="wp5-3">
    <h3>5.3 Use tables to organize data</h3>
    <p>Use tables to organize and present data. Make sure that the:</p>
    <ul>
      <li>value of each cell relates to the column and row headers</li>
      <li>entries in a column don't contain information that could be considered a subhead </li>
      <li>value of each cell aligns with the column header that appears directly above it </li>
    </ul>
    <p>Give your table a clear title that describes the information in it.</p>
    <h4>Example of a table that organizes data</h4>
    <table class="table table-condensed table-bordered">
      <caption>
      <strong>Comparison of net budgetary authorities and expenditures for Vote 1 as of December 31, for fiscal years 2011 to 2012 and 2012 to 2013 ($ millions)</strong>
      </caption>
      <thead>
        <tr class="active">
          <th scope="col">Vote 1</th>
          <th scope="col" class="text-center">2011 to 2012</th>
          <th scope="col" class="text-center">2012 to 2013</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Net budgetary authorities</th>
          <td class="text-right">287.4</td>
          <td class="text-right">252.4</td>
        </tr>
        <tr>
          <th scope="row">Year-to-date expenditures ending December 31</th>
          <td class="text-right">184.1</td>
          <td class="text-right">154.6</td>
        </tr>
      </tbody>
    </table>
    <section id="wp5-3-1">
      <h4>Use column and row headers</h4>
      <p>Each column and row of a table must have a header that describes the information in that column or row.</p>
      <p>Column and row headers are different from headings and subheadings:</p>
      <ul>
        <li>column and row headers appear in the cells at the top and on the far left of a table</li>
        <li>headings and subheadings refer to the title of a table or a section of content that appears on a web page</li>
      </ul>
      <p>Check that there is a consistent relationship between the columns and rows.</p>
      <p>For example, to check the table above, ask yourself whether you can align the information that appears in:</p>
      <ul>
        <li>the column, with the column header that appears directly above it ("Vote 1," "2011 to 2012" ($ millions) and "2012 to 2013" ($ millions)) </li>
        <li>a row, with the row header that defines it ("Net budgetary authorities" and "Year-to-date expenditures ending December 31") </li>
      </ul>
      <p>Your web team will use the information in the headers to code the table. Afterwards, screen readers will be able to correctly interpret the data within the table.</p>
      <p>In the following example, all the cells in the first: </p>
      <ul>
        <li>row are column headers and appear bolded and in grey&nbsp; </li>
        <li>column are row headers (except the top-left cell) and appear bolded</li>
      </ul>
      <table class="table table-condensed table-bordered">
        <caption>
        <strong>Disclosure of contracts over $10,000 from January to March 2010<sup id="table2b-fn1-rf"><a class="fn-lnk" href="#table2b-fn1"><span class="wb-inv">table 2 note </span>*</a></sup></strong>
        </caption>
        <thead>
          <tr class="active">
            <th scope="col" class="text-center">Date contract was awarded</th>
            <th scope="col" class="text-center">Vendor name</th>
            <th scope="col" class="text-center">Description </th>
            <th scope="col" class="text-center">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>2010-02-01<sup id="table2b-fn2-rf"><a class="fn-lnk" href="#table2b-fn2"><span class="wb-inv">table 2 note </span>**</a></sup></strong></td>
            <td>ABC Business Solutions</td>
            <td>Rental of machinery office furniture and fixtures</td>
            <td class="text-right">$227,703.22</td>
          </tr>
          <tr>
            <td><strong>2010-02-20</strong></td>
            <td>IT Consultants R Us</td>
            <td>Other professional services not elsewhere specified</td>
            <td class="text-right">$227,956.64</td>
          </tr>
          <tr>
            <td><strong>2010-02-23</strong></td>
            <td>Management Consulting Group Limited</td>
            <td>Management consulting</td>
            <td class="text-right">$285,575.89</td>
          </tr>
          <tr>
            <td><strong>2010-03-01</strong></td>
            <td>XYZ Consultants</td>
            <td>Other professional services not elsewhere specified </td>
            <td class="text-right">$56,294.42</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4"><section class="wb-fnote">
                <h5 class="wb-inv" id="table2b-fn">Table 2 Notes</h5>
                <dl>
                  <dt> Table 2 Note * </dt>
                  <dd id="table2b-fn1">
                    <p>Fourth quarter of the April 1, 2009, to March 31, 2010, fiscal year.</p>
                    <p class="fn-rtn"> <a href="#table2b-fn1-rf"><span class="wb-inv">Return to table 2 note </span>*<span class="wb-inv"> referrer</span></a> </p>
                  </dd>
                  <dt> Table 2 Note ** </dt>
                  <dd id="table2b-fn2">
                    <p>Dates in this table represent the year, month and day (yyyy-mm-dd).</p>
                    <p class="fn-rtn"> <a href="#table2b-fn2-rf"><span class="wb-inv">Return to table 2 note </span>**<span class="wb-inv"> referrer</span></a> </p>
                  </dd>
                </dl>
              </section></td>
          </tr>
        </tfoot>
      </table>
      <p class="mrgn-tp-lg">By looking at the column headers "Date contract was awarded," "Vendor name" and "Value," people can understand that on February 23, 2010, Management Consulting Group Limited was awarded a contract valued at $285,575.89.</p>
    </section>
    <section id="wp5-3-2">
      <h4>Use the simplest structure possible</h4>
      <p>It can be difficult to make tables accessible and easy to read for people using screen readers or mobile devices.</p>
      <p>To make information useful to the widest possible audience:</p>
      <ul>
        <li>turn a complex table into one or more simple tables</li>
        <li>convert a table to a list if the data is simple</li>
      </ul>
      <h5>Before: complex table</h5>
      <p>The following table is complex and poorly designed. It would be difficult for someone using a screen reader or a mobile device to access and understand the information.</p>
      <h6>Example of a complex table</h6>
      <table class="table table-bordered table-condensed">
        <caption class="text-center">
        <strong>National Hockey League Stanley Cup Canadian winning teams (1927–2013)</strong>
        </caption>
        <thead>
          <tr class="active">
            <th colspan="6" scope="colgroup"><strong>Eastern Conference</strong></th>
            <th colspan="4" scope="colgroup"><strong>Western Conference</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="col">Team</th>
            <th scope="col">Wins</th>
            <th scope="col">Team</th>
            <th scope="col">Wins</th>
            <th scope="col">Team</th>
            <th scope="col">Wins</th>
            <th scope="col">Team</th>
            <th scope="col">Wins</th>
            <th scope="col">Team</th>
            <th scope="col">Wins</th>
          </tr>
          <tr>
            <td>Montréal Canadiens</td>
            <td class="text-right">22</td>
            <td>Toronto Maple Leafs</td>
            <td class="text-right">11</td>
            <td>Ottawa Senators</td>
            <td class="text-right">1</td>
            <td>Edmonton Oilers</td>
            <td class="text-right">5</td>
            <td>Calgary Flames</td>
            <td class="text-right">1</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="small" colspan="10"><p>Source : <a href="https://www.nhl.com">nhl.com</a></p></td>
          </tr>
        </tfoot>
      </table>
      <h5>After: simple tables</h5>
      <p>The complex table easily converts into simple tables.</p>
      <h6>Example: one simple table</h6>
      <table class="table table-bordered table-condensed">
        <caption class="text-center">
        <strong>National Hockey League Stanley Cup Canadian winning teams (1927 to 2013)</strong>
        </caption>
        <thead>
          <tr class="active">
            <th class="text-center" scope="col">Team</th>
            <th class="text-center" scope="col">Conference </th>
            <th class="text-center" scope="col">Wins </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Montreal Canadiens</th>
            <td>Eastern </td>
            <td class="text-right">22</td>
          </tr>
          <tr>
            <th scope="row">Toronto Maple Leafs</th>
            <td>Eastern </td>
            <td class="text-right">11</td>
          </tr>
          <tr>
            <th scope="row">Edmonton Oilers</th>
            <td>Western </td>
            <td class="text-right">5</td>
          </tr>
          <tr>
            <th scope="row">Calgary Flames</th>
            <td>Western </td>
            <td class="text-right">1</td>
          </tr>
          <tr>
            <th scope="row">Ottawa Senators</th>
            <td>Eastern</td>
            <td class="text-right">1</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="small" colspan="3"><p>Source : <a href="https://www.nhl.com">nhl.com</a></p></td>
          </tr>
        </tfoot>
      </table>
      <p class="mrgn-tp-lg">If it's important to highlight Stanley Cup championships by NHL conference (region), present the information using 2 simpler tables, and use table titles to clarify which conference the teams represent.</p>
      <h6>Example: multiple simple tables </h6>
      <table class="table table-bordered table-condensed">
        <caption class="text-center">
        <strong>Table 1: Eastern conference: National Hockey League Stanley Cup Canadian winning teams (1927 to 2013)</strong>
        </caption>
        <thead>
          <tr class="active">
            <th class="text-center" scope="col">Team </th>
            <th class="text-center" scope="col">Wins </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Montreal Canadiens</th>
            <td class="text-right">22</td>
          </tr>
          <tr>
            <th scope="row">Toronto Maple Leafs</th>
            <td class="text-right">11</td>
          </tr>
          <tr>
            <th scope="row">Ottawa Senators</th>
            <td class="text-right">1</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="small" colspan="2"><p>Source : <a href="https://www.nhl.com">nhl.com</a></p></td>
          </tr>
        </tfoot>
      </table>
      <table class="table table-bordered table-condensed">
        <caption class="text-center">
        <strong>Table 2: Western conference: National Hockey League Stanley Cup Canadian winning teams (1927 to 2013)</strong>
        </caption>
        <thead>
          <tr class="active">
            <th class="text-center" scope="col">Team </th>
            <th class="text-center" scope="col">Wins</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Edmonton Oilers</th>
            <td class="text-right">5</td>
          </tr>
          <tr>
            <th scope="row">Calgary Flames</th>
            <td class="text-right">1</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="small" colspan="2"><p>Source : <a href="https://www.nhl.com">nhl.com</a></p></td>
          </tr>
        </tfoot>
      </table>
      <p class="mrgn-tp-md">The complex table also easily converts into 2 lists. </p>
      <h6>Example: convert tables to text </h6>
      <p><strong>Eastern conference National Hockey League</strong>:</p>
      <p>The Stanley Cup Canadian winning teams from 1927 to 2013</p>
      <ul>
        <li>Montreal Canadiens: 22</li>
        <li>Toronto Maple Leafs: 11</li>
        <li>Ottawa Senators: 1</li>
      </ul>
      <p><strong>Western conference National Hockey League </strong>: </p>
      <p>The Stanley Cup Canadian winning teams from 1927 to 2013</p>
      <ul>
        <li>Edmonton Oilers: 5</li>
        <li>Calgary Flames: 1</li>
      </ul>
    </section>
    <section id="wp5-3-3">
      <h4>Limit the use of texture and colour</h4>
      <p>Avoid formatting cells with textures or colours, because it can make text difficult to read.</p>
      <p>If you must use textures and colours in a table, explain what they mean (for example, in a table note or in a legend). Make sure you comply with the <a href="https://www.w3.org/TR/2008/REC-WCAG20-20081211/#visual-audio-contrast-contrast">minimum colour contrast rules (1.4.3)</a> from the <cite>Web Content Accessibility Guidelines (WCAG) 2.0</cite>.</p>
      <p><strong>Never</strong> rely on colour or texture alone to convey important information. </p>
    </section>
    <section id="wp5-3-4">
      <h4>Avoid having blank cells</h4>
      <p>Assistive technologies like a screen reader will notify the person if the cell is blank. If a cell has no value, explain why in your table's: </p>
      <ul>
        <li>notes </li>
        <li>legend</li>
        <li>caption</li>
        <li>surrounding content</li>
      </ul>
      <p>You may also write one of the following in the cell, as long as it's clear and doesn't create visual noise that would distract your audience:</p>
      <ul>
        <li>"no data" </li>
        <li>"0" (zero)</li>
        <li>"n/a" (not applicable)</li>
      </ul>
    </section>
    <h4>See how this rule applies in French</h4>
    <ul>
      <li><span lang="fr"><a href="{{ site.urlconception }}/guide-redaction/#wp5-3">5.3 Utiliser des tableaux pour organiser des données</a></span></li>
    </ul>
    <div class="mrgn-tp-lg">
      <div class="wb-share btn btn-default" data-wb-share='{"custType": " rule for using tables to organize data", "title": "5.3 Use tables to organize data", "url": "https://design.canada.ca/style-guide/#wp5-3", "pnlId": "wp5-3"}'></div>
    </div>
  </section>
</section>
