<section id="wp6-1-2">
  <h4>Decorative images</h4>
  <p>Use decorative images only to provide visual context for the following templates: </p>
  <ul>
    <li>a theme or topic page </li>
    <li>the home page</li>
    <li>campaign pages</li>
    <li>promotional features on a topic page or home page (Government of Canada activities and initiatives)</li>
  </ul>
  <p>Don't place meaningful text, such as campaign or program titles, in decorative images.</p>
  <p><a href="#wp6-2">Include the appropriate alternative text</a> to describe the image for people who are unable to view it.</p>
  <p>Get details about the templates above in the <cite><a href="https://www.tbs-sct.gc.ca/hgw-cgf/oversight-surveillance/communications/cia-sca-eng.asp">Canada.ca Content and Information Architecture Specification</a></cite>. </p>
  <h5>Example <span class="wb-inv">of a decorative image</span></h5>
  <p><img alt="A Royal Canadian Mounted Police officer on the Canada.ca web page related to jobs and the workplace." class="img-responsive center-block" src="/style-guide/images/fig-06-eng.jpg"></p>
  <p><strong>Description of the image</strong></p>
  <p>A Royal Canadian Mounted Police officer on the Canada.ca web page related to jobs and the workplace.</p>
</section>
