<section id="wp6-2">
  <h3>6.2 Include alternative text for images</h3>
  <p>Alternative text (or alt text) is text that describes an image. It makes it possible for people using assistive technologies to access the information conveyed by an image. It also helps search engines better understand the purpose of the image.</p>
  <p>When you're writing alternative text for a <a href="#wp6-1-1">functional image</a>:</p>
  <ul>
    <li>describe the image as if you were describing it to someone over the phone</li>
    <li>use as few words as possible</li>
    <li>limit the text to around 140 characters (including spaces)</li>
    <li>use the text that is embedded in the image only if it provides enough context; otherwise, write different text that includes more information</li>
    <li>use the null indicator as the alternative text (alt="") if the image doesn't provide any more information than what is already provided in the text on the page</li>
    <li>don't use "image of..." or "graphic of..." to describe the image; screen readers do this already</li>
  </ul>
  <p><a href="#wp6-1-2">Decorative images</a> don't require additional information to make them accessible or visible to search engines. Use the null indicator as the alternative text (alt="").</p>
  <div class="well panel"> 
    <!--UPDATE LATER-->
    <p><a href="{{ site.urlconception }}/guide-redaction/#wp6-2" aria-label="See how the rule for using images applies to content in French">See how this rule applies to content in French</a></p>
    <p><a href="mailto:?subject=Canada.ca%20Content%20Style%20Guide&amp;body=See%20the%20rule%20for%20using%20images%20on%20Canada.ca:%20https://design.canada.ca/style-guide/#wp6-2" aria-label="Share the rule for using images by email">Share this rule by email</a></p>
  </div>
</section>
