<section id="wp6-3">
  <h3>6.3 Include long descriptions for complex images</h3>
  <p>Long descriptions explain information that is presented in complex infographics or images. You must provide a long description if you can't describe the content and function of the image in less than 140 characters. If you can describe the image in less than 140 characters, use alternative text instead.</p>
  <p>If a detailed and equivalent explanation of the image appears in the text immediately before or after a complex image, you don't have to provide a long description.</p>
  <p>If you provide a long description for an image, you must also provide alternative text for the long description.</p>
  <p>Figure 1 illustrates a number of concepts. It requires a long description.</p>
  <h4 class="h5">Example<span class="wb-inv">: Long description for the balanced scorecard</span></h4>
  <figure class="mrgn-bttm-lg">
    <figcaption class="text-center"> <strong>Figure 1: using a balanced scorecard approach to monitor key performance indicators</strong> </figcaption>
    <img alt="A balanced scorecard showing how business activities align with an organization's vision and strategy to monitor key performance indicators. Text version below. " class="img-responsive center-block" src="/style-guide/images/fig-01b-eng.jpg">
    <h5>Alternative text</h5>
    <p>You could write the following alternative text for the image shown in Figure 1:</p>
    <p>A balanced scorecard showing how business activities align with an organization's vision and strategy to monitor key performance indicators. Text version below. </p>
    <h5>Long description</h5>
    <p>You could write the following long description for the image shown in Figure 1:</p>
    <p>A balanced scorecard is a strategic planning and management system used worldwide to align business activities with an organization's vision and strategy.</p>
    <p>Business activities are grouped into 4 perspectives, all of which are interdependent and come from the vision and strategy. These are learning and growth, internal business processes, financial, and customer. Each has a question associated with it.</p>
    <ul>
      <li>Learning and growth</li>
    </ul>
    <p>To achieve our vision, how will we sustain our ability to change and improve?</p>
    <ul>
      <li>Internal business processes</li>
    </ul>
    <p>To satisfy our shareholders and customers, what business processes must we excel at?</p>
    <ul>
      <li>Financial</li>
    </ul>
    <p>To succeed financially, how should we appear to our shareholders?</p>
    <ul>
      <li>Customer</li>
    </ul>
    <p>To achieve our vision, how should we appear to our customers?</p>
    <p>Each perspective can be monitored using the following 4 components:</p>
    <ul>
      <li>objectives</li>
      <li>messages</li>
      <li>targets</li>
      <li>initiatives</li>
    </ul>
  </figure>
  <p>Figure 2 is a bar chart. The information in it came from a data table. You could therefore use the table as the long description for this image.</p>
  <h4 class="h5">Example<span class="wb-inv">: Long description for the bar chart illustrating the proportion of men and women in the public service for selected years from 1983 to 2010</span></h4>
  <figure class="mrgn-bttm-lg">
    <figcaption class="text-center"> <strong>Figure 2: proportion of men and women in the public service for selected years from 1983 to 2010</strong> </figcaption>
    <img alt="Comparison of the ratio of women and men in the civil service between 1983 and 2010. Text version below." class="img-responsive center-block" src="/style-guide/images/fig-02b-eng.jpg">
    <p>Source: Office of the Chief Human Resources Officer, Treasury Board of Canada Secretariat <br>
      Note: Includes all tenures. Figures do not include employees on leave without pay.</p>
    <h5>Alternative text</h5>
    <p>You could write the following alternative text:</p>
    <p>Comparison of the ratio of women and men in the civil service between 1983 and 2010. Text version below.</p>
    <h5>Long description</h5>
    <p>You could write the following long description text:</p>
    <table class="table table-bordered table-condensed">
      <caption>
      <strong>Figure 2: proportion of men and women in the public service for selected years 1983 to 2010</strong>
      </caption>
      <thead>
        <tr class="active">
          <th scope="col"><strong>Gender (by percentage)</strong></th>
          <th scope="col"><strong>1983</strong></th>
          <th scope="col"><strong>1988</strong></th>
          <th scope="col"><strong>1993</strong></th>
          <th scope="col"><strong>1998</strong></th>
          <th scope="col"><strong>2003</strong></th>
          <th scope="col"><strong>2008</strong></th>
          <th scope="col"><strong>2010</strong></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Men</td>
          <td class="text-right nowrap">58.2</td>
          <td class="text-right nowrap">55.7</td>
          <td class="text-right nowrap">52.9</td>
          <td class="text-right nowrap">49.6</td>
          <td class="text-right nowrap">46.7</td>
          <td class="text-right nowrap">45.1</td>
          <td class="text-right nowrap">44.8</td>
        </tr>
        <tr>
          <td>Women</td>
          <td class="text-right nowrap">41.8</td>
          <td class="text-right nowrap">44.3</td>
          <td class="text-right nowrap">47.1</td>
          <td class="text-right nowrap">50.4</td>
          <td class="text-right nowrap">53.3</td>
          <td class="text-right nowrap">54.9</td>
          <td class="text-right nowrap">55.2</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td class="small" colspan="8"><p>Source: Office of the Chief Human Resources Officer, Treasury Board of Canada Secretariat<br>
              Note: Includes all tenures. Figures do not include employees on leave without pay.</p></td>
        </tr>
      </tfoot>
    </table>
  </figure>
  <p>Work with your web team to determine the best way to include the long description information. They'll guide you on how to make sure the image is accessible to people using assistive technology. They'll also ensure that your image meets the <cite><a href="https://www.tbs-sct.gc.ca/hgw-cgf/oversight-surveillance/communications/cia-sca-eng.asp">Canada.ca Content and Information Architecture Specification</a></cite>. </p>
  <div class="well panel"> 
    <!--UPDATE LATER-->
    <p><a href="{{ site.urlconception }}/guide-redaction/#wp6-3" aria-label="See how the rule for long descriptions applies to content in French">See how this rule applies to content in French</a></p>
    <p><a href="mailto:?subject=Canada.ca%20Content%20Style%20Guide&amp;body=See%20the%20rule%20for%20including%20a%20long%20description%20for%20complex%20images%20on%20Canada.ca:%20https://design.canada.ca/style-guide/#wp6-3" aria-label="Share the rule for long descriptions by email">Share this rule by email</a></p>
  </div>
</section>
