<section id="wp6-1-3">
  <h4>Image sizing and placement</h4>
  <p>Learn where to place images and videos on Canada.ca and what size they should be: </p>
  <ul>
    <li>use the templates in the <cite><a href="https://www.tbs-sct.gc.ca/hgw-cgf/oversight-surveillance/communications/cia-sca-eng.asp">Canada.ca Content and Information Architecture Specification</a></cite></li>
    <li>see the <a href="https://wet-boew.github.io/themes-dist/GCWeb/index-en.html">Canada.ca page types on GitHub</a></li>
  </ul>
</section>
