<section id="toc10"> {% unless page.title == "6.0 Images and videos" %}
  <h2>6.0 Images and videos</h2>
  {% endunless %}
  <div class="row mrgn-tp-lg">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="mrgn-tp-sm">In this section</h3>
          <ul>
            <li><a href="#wp6-1">6.1 Understand the purpose of images online</a>
              <ul>
                <li><a href="#wp6-1-1">Functional images</a></li>
                <li><a href="#wp6-1-2">Decorative images</a></li>
                <li><a href="#wp6-1-3">Image sizing and placement</a></li>
              </ul>
            </li>
            <li><a href="#wp6-2">6.2 Include alternative text for images</a></li>
            <li><a href="#wp6-3">6.3 Include long descriptions for complex images</a></li>
            <li><a href="#wp6-4">6.4 Include transcripts to describe audio and video files</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <p>You can use images and videos to: </p>
  <ul>
    <li>enhance key messages</li>
    <li>help people complete their task </li>
    <li>make complicated information easier to understand</li>
    <li>reflect Canada's diverse population as much as possible (including seniors, youth, Indigenous peoples, and people from a wide variety of ethnic origins)</li>
  </ul>
  <p>When planning your content, weigh the benefits of using videos with the impact on people who will try to view them using mobile devices. Data plans and reliable network access vary.</p>
  <h3 class="h4">Obtain permission to publish</h3>
  <p>Make sure that you have the appropriate permissions to publish images, audio files and videos online. You'll need to have the written proof of those rights. Refer to the <cite><a href="https://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=27167">Procedures for Publishing</a></cite> or contact your institution's authoring team for more details.</p>
  <h4>Help with images, audio files or videos on Canada.ca</h4>
  <p>For specific information about consent forms or licensing requirements related to Canada.ca, contact the Principal Publisher: <a href="mailto:na-web_support-soutien_du_web-gd@servicecanada.gc.ca">na-web_support-soutien_du_web-gd@servicecanada.gc.ca</a>.</p>
  <!-- 6.1 Understand the purpose of images online START id="wp6-1" --> 
  {% include style-guide/10-toc10-wp6-1.html %} 
  <!-- 6.1 Understand the purpose of images online  END --> 
  <!-- 6.2 Include alternative text for images START id="wp6-2" --> 
  {% include style-guide/10-toc10-wp6-2.html %} 
  <!-- 6.2 Include alternative text for images  END --> 
  <!-- 6.3 Include long descriptions for complex images START id="wp6-3" --> 
  {% include style-guide/10-toc10-wp6-3.html %} 
  <!-- 6.3 Include long descriptions for complex images  END --> 
  <!-- 6.4 Include transcripts to describe audio and video files START id="wp6-4" --> 
  {% include style-guide/10-toc10-wp6-4.html %} 
  <!-- 6.4 Include transcripts to describe audio and video files  END --> 
</section>
