<section id="wp6-4">
  <h3>6.4 Include transcripts to describe audio and video files</h3>
  <p>A transcript is the text equivalent of an audio or video file. They make it easier for people who need to access information in audio or visual media but can't hear or see the content because:</p>
  <ul>
    <li>they have a disability</li>
    <li>don't have equipment such as speakers or headphones</li>
    <li>don't want to download a large file</li>
  </ul>
  <p>Make sure the transcript describes all pre-recorded information and action, including:</p>
  <ul>
    <li>on-screen text</li>
    <li>dialogue and narration </li>
    <li>important sounds (such as an explosion)</li>
    <li>important action (for example, people running away from an explosion or characters wearing disguises)</li>
  </ul>
  <div class="well panel"> 
    <!--UPDATE LATER-->
    <p><a href="{{ site.urlconception }}/guide-redaction/#wp6-4" aria-label="See how the rule for transcripts applies to content in French">See how this rule applies to content in French</a></p>
    <p><a href="mailto:?subject=Canada.ca%20Content%20Style%20Guide&amp;body=See%20the%20rule%20for%20including%20a%20transcript%20that%20describes%20audio%20and%20videos%20files%20on%20Canada.ca:%20https://design.canada.ca/style-guide/#wp6-4" aria-label="Share the rule for transcripts by email">Share this rule by email</a></p>
  </div>
</section>
