<section id="wp6-1">
  <h3>6.1 Understand the purpose of images online</h3>
  <p>Images can distract people. They can also make the page take longer to load. Make sure your images <strong>add value</strong> to your content.</p>
  <p>There are 2 main types of images: </p>
  <ul>
    <li>functional images</li>
    <li>decorative images </li>
  </ul>  
  <!-- Functional images START id="wp6-1-1" --> 
  {% include style-guide/10-toc10-wp6-1-1.html %} 
  <!-- Functional images  END --> 
  <!-- Decorative images START id="wp6-1-2" --> 
  {% include style-guide/10-toc10-wp6-1-2.html %} 
  <!-- Decorative images  END --> 
  <!-- Image sizing and placement START id="wp6-1-3" --> 
  {% include style-guide/10-toc10-wp6-1-3.html %} 
  <!-- Image sizing and placement  END -->
    <div class="well panel"> 
    <!--UPDATE LATER-->
    <p><a href="{{ site.urlconception }}/guide-redaction/#wp6-1" aria-label="See how the rule for using images applies to content in French">See how this rule applies to content in French</a></p>
    <p><a href="mailto:?subject=Canada.ca%20Content%20Style%20Guide&amp;body=See%20the%20rule%20for%20using%20images%20on%20Canada.ca:%20https://design.canada.ca/style-guide/#wp6-1" aria-label="Share the rule for using images by email">Share this rule by email</a></p>
  </div>
</section>
