<section id="wp7-1">
  <h3>7.1 Use links strategically</h3>
  <p>Be strategic about how you place and create links on a web page and about how many links you provide:</p>
  <ul>
    <li>include links that directly support the topic or task on the current page</li>
    <li>link to the original information posted by the authoritative source </li>
    <li>don't include links to intranet sites unless the content targets government employees, in which case you should add "(accessible only on the Government of Canada network)"</li>
    <li>don't bury links that are crucial to completing a task in the middle of a paragraph or at the bottom of the page</li>
  </ul>
  <h4 class="h5">Example <span class="wb-inv">of appropriate use of links</span></h4>
  <h6>Write:</h6>
  <p>A Food Guide serving is&nbsp;how much&nbsp;food you should eat from each of the 4 food groups every day. In some cases, a serving is the amount of a given food group that you normally eat in one sitting, like an apple. In other cases, the daily amount is more than one serving, such as for rice or pasta.</p>
  <p><a href="https://www.hc-sc.gc.ca/fn-an/food-guide-aliment/basics-base/quantit-eng.php">Number of daily food servings for children, teens and adults</a></p>
  <h6>Instead of:</h6>
  <p>A Food Guide Serving is simply a reference amount. It helps you understand&nbsp;<a href="https://www.hc-sc.gc.ca/fn-an/food-guide-aliment/basics-base/quantit-eng.php">how much</a> food is recommended every day from each of the four food groups. In some cases, a Food Guide Serving may be close to what you eat, such as an apple. In other cases, such as rice or pasta, you may serve yourself more than one Food Guide Serving.</p>  
  <!-- Carefully select related content START id="wp7-1-1" --> 
  {% include style-guide/11-toc11-wp7-1-1.html %} 
  <!-- Carefully select related content  END -->  
  <div class="well panel"> 
    <!--UPDATE LATER-->
    <p><a href="{{ site.urlconception }}/guide-redaction/#wp7-1" aria-label="See how the rule for using links strategically applies to content in French">See how this rule applies to content in French</a></p>
    <p><a href="mailto:?subject=Canada.ca%20Content%20Style%20Guide&amp;body=See%20the%20rule%20for%20using%20links%20strategically%20on%20Canada.ca:%20https://design.canada.ca/style-guide/#wp7-1" aria-label="Share the rule for using links strategically by email">Share this rule by email</a></p>
  </div>
</section>
