<section id="wp7-2">
  <h3>7.2 Write descriptive links</h3>
  <p>A link must describe the content a person will find once they click on it. It's easier to complete a task when a link's destination matches a person's expectations. Make sure links are descriptive so that person will understand what they'll get when they click on them.</p>
  <p>The text you hyperlink doesn't have to match the title of the destination page to be compliant with <cite>Web Content Accessibility Guidelines</cite>. Text in a link gets some context from the web page's content. Make sure the main keywords of the link text correspond to the page title so that people know they're in the right place. </p>
  <p>Tips for providing useful links:</p>
  <ul>
    <li>use the first words of the target page or its entire title if it's descriptive enough</li>
    <li>start with keywords that accurately describe the target page if the page title isn't enough</li>
    <li>make sure that all links on the same page use unique descriptive text if they link to different target pages</li>
    <li>when more than one link on a web page links to the same destination page, use the same words for the hyperlink</li>
    <li>describe any content that must be downloaded</li>
    <li>write email addresses in full, in lower case and as active links (contact <a href="#wp7-2" aria-label="Example of an appropriate email address">helpdesk@canada.ca</a>)</li>
  </ul>
  <p>Don't use:</p>
  <ul>
    <li>the same link text to point to 2 different pages </li>
    <li>vague statements such as "click here" or "read more" </li>
    <li>promotional messaging that might confuse someone who is deciding whether to go to the page that is being linked&nbsp;to</li>
  </ul>  
  <!-- Focus on the task START id="wp7-2-1" --> 
  {% include style-guide/11-toc11-wp7-2-1.html %} 
  <!-- Focus on the task  END -->
  <div class="well panel"> 
    <!--UPDATE LATER-->
    <p><a href="{{ site.urlconception }}/guide-redaction/#wp7-2" aria-label="See how the rule for writing descriptive links applies to content in French">See how this rule applies to content in French</a></p>
    <p><a href="mailto:?subject=Canada.ca%20Content%20Style%20Guide&amp;body=See%20the%20rule%20for%20writing%20descriptive%20links%20on%20Canada.ca:%20https://design.canada.ca/style-guide/#wp7-2" aria-label="Share the rule for writing descriptive links by email">Share this rule by email</a></p>
  </div>
</section>
