<section id="wp7-2-1">
  <h4>Focus on the task</h4>
  <p>When writing instructions for completing a task, sometimes you need to insert a link to guide the person to forms or other documents. Focus on the action they must perform when you create the link. </p>
  <p>Don't repeat the name of a form or document in the steps to accomplish a task if the name isn't descriptive. </p>
  <h4 class="h5">Example <span class="wb-inv">of the use of links that focus on the task</span></h4>
  <h6>Write:</h6>
  <p>To get the highest Employment Insurance amount available to you:</p>
  <ol>
    <li>open the <a href="https://www.servicecanada.gc.ca/cgi-bin/search/eforms/index.cgi?app=prfl&amp;frm=ins5241&amp;ln=eng">form you need to declare your income</a></li>
    <li>identify your highest weeks of insurable income in the shortest period below:
      <ul>
        <li>the last 52 weeks of employment </li>
        <li>since the start of your last claim </li>
      </ul>
    </li>
    <li>return the completed form in person to the <a href="https://www.servicecanada.gc.ca/cgi-bin/sc-srch.cgi?app=hme&amp;ln=eng">Service Canada office closest to you</a></li>
  </ol>
  <h6>Instead of:</h6>
  <p>To ensure that you are paid the maximum Employment Insurance (EI) benefit rate that you are entitled to, complete the <a href="https://www.servicecanada.gc.ca/cgi-bin/search/eforms/index.cgi?app=prfl&amp;frm=ins5241&amp;ln=eng">Claimant Attestation - Highest Weeks of Insurable Earnings (Variable Best Weeks) form</a> with the required information about your highest weeks of insurable earnings in the last 52 weeks of employment or since the start of your last claim, whichever is the shorter period of the two.</p>
</section>
