<section id="toc10">
{% unless page.title == "6.0 Images and videos" %}
  <h2>6.0 Images and videos</h2>
{% endunless %}
  <div class="row mrgn-tp-lg">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="mrgn-tp-sm">In this section</h3>
          <ul>
            <li><a href="#wp6-1">6.1 Understand the purpose of images online</a>
              <ul>
                <li><a href="#wp6-1-1">Functional images</a></li>
                <li><a href="#wp6-1-2">Decorative images</a></li>
                <li><a href="#wp6-1-3">Image sizing and placement</a></li>
              </ul>
            </li>
            <li><a href="#wp6-2">6.2 Include alternative text for images</a></li>
            <li><a href="#wp6-3">6.3 Include long descriptions for complex images</a></li>
            <li><a href="#wp6-4">6.4 Include transcripts to describe audio and video files</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <p>You can use images and videos to:</p>
  <ul>
    <li>enhance key messages</li>
    <li>help people complete their task </li>
    <li>make complicated information easier to understand</li>
    <li>reflect Canada's diverse population as much as possible (including seniors, youth, Indigenous peoples, and people from a wide variety of ethnic origins)</li>
  </ul>
  <p>When planning your content, weigh the benefits of using videos with the impact on people who will try to view them using mobile devices. Data plans and reliable network access vary.</p>
  <h3>Obtain permission to publish</h3>
  <p>Make sure that you have the appropriate permissions to publish images, audio files and videos online. You'll need to have the written proof of those rights. Refer to the <cite><a href="https://www.tbs-sct.gc.ca/pol/doc-eng.aspx?id=27167">Procedures for Publishing</a></cite> or contact your institution's authoring team for more details.</p>
  <h4>Help with images, audio files or videos on Canada.ca</h4>
  <p>For specific information about consent forms or licensing requirements related to Canada.ca, contact the Principal Publisher: <a href="mailto:na-web_support-soutien_du_web-gd@servicecanada.gc.ca">na-web_support-soutien_du_web-gd@servicecanada.gc.ca</a>.</p>
  <section id="wp6-1">
    <h3>6.1 Understand the purpose of images online</h3>
    <p>Images can distract people. They can also make the page take longer to load. Make sure your images <strong>add value</strong> to your content.</p>
    <p>There are 2 main types of images: </p>
    <ul>
      <li>functional images</li>
      <li>decorative images </li>
    </ul>
    <section id="wp6-1-1">
      <h4>Functional images</h4>
      <p>Functional images:</p>
      <ul>
        <li>illustrate information or data to help people understand it</li>
        <li>explain a complex concept </li>
        <li>illustrate concrete things (such as a valid passport, species at risk, standard symbols)</li>
        <li>convey branding (such as approved logos and campaign graphics)</li>
      </ul>
      <p>Functional images add value to the content because they provide more information than can be provided through text alone. Examples of functional images: </p>
      <ul>
        <li>infographics</li>
        <li>charts </li>
        <li>graphs </li>
      </ul>
      <p><a href="#wp6-2">Include the appropriate alternative text</a> to describe the image for people who are unable to view it.</p>
      <h5>Examples of functional images</h5>
      <h4>Weather map</h4>
      <div class="row">
        <div class="mrgn-tp-md mrgn-bttm-md col-md-8">
          <figure class="pattern-demo"><img alt="Map of Canada showing current weather conditions" class="img-responsive" src="{{ site.url}}/style-guide/images/fig-04-eng.jpg" />
            <figcaption class="text-center"><strong>Current weather conditions</strong></figcaption>
          </figure>
          <details class="mrgn-tp-md">
            <summary>Current weather conditions in Canada - Table</summary>
            <div class="row">
              <div class="mrgn-tp-sm mrgn-bttm-0">
                <table class="table table-bordered table-condensed small">
                  <caption class="wb-inv">
                  Map of Canada showing current weather conditions
                  </caption>
                  <thead>
                    <tr class="active">
                      <th scope="col"><strong>City</strong></th>
                      <th scope="col"><strong>Condition</strong></th>
                      <th scope="col"><strong>Temperature</strong></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Calgary</td>
                      <td>Mainly sunny</td>
                      <td class="text-right">0°C</td>
                    </tr>
                    <tr>
                      <td>Charlottetown</td>
                      <td>Drifting snow</td>
                      <td class="text-right">-11°C</td>
                    </tr>
                    <tr>
                      <td>Edmonton</td>
                      <td>(no data)</td>
                      <td class="text-right">0°C</td>
                    </tr>
                    <tr>
                      <td>Fredericton</td>
                      <td>Sunny</td>
                      <td class="text-right">-12°C</td>
                    </tr>
                    <tr>
                      <td>Halifax</td>
                      <td>Mainly sunny</td>
                      <td class="text-right">-7°C</td>
                    </tr>
                    <tr>
                      <td>Iqaluit</td>
                      <td>Drifting snow</td>
                      <td class="text-right">-22°C</td>
                    </tr>
                    <tr>
                      <td>Montréal</td>
                      <td>Sunny</td>
                      <td class="text-right">-16°C</td>
                    </tr>
                    <tr>
                      <td>Ottawa (Kanata - Orléans)</td>
                      <td>Mainly sunny</td>
                      <td class="text-right">-15°C</td>
                    </tr>
                    <tr>
                      <td>Prince George</td>
                      <td>Partly cloudy</td>
                      <td class="text-right">2°C</td>
                    </tr>
                    <tr>
                      <td>Québec</td>
                      <td>Partly cloudy</td>
                      <td class="text-right">-19°C</td>
                    </tr>
                    <tr>
                      <td>Regina</td>
                      <td>Cloudy</td>
                      <td class="text-right">-4°C</td>
                    </tr>
                    <tr>
                      <td>Saskatoon</td>
                      <td>Mist</td>
                      <td class="text-right">-8°C</td>
                    </tr>
                    <tr>
                      <td>St. John's</td>
                      <td>Mist</td>
                      <td class="text-right">2°C</td>
                    </tr>
                    <tr>
                      <td>Thunder Bay</td>
                      <td>Partly cloudy</td>
                      <td class="text-right">-14°C</td>
                    </tr>
                    <tr>
                      <td>Toronto</td>
                      <td>Light snow</td>
                      <td class="text-right">-6°C</td>
                    </tr>
                    <tr>
                      <td>Vancouver</td>
                      <td>Mostly cloudy</td>
                      <td class="text-right">9°C</td>
                    </tr>
                    <tr>
                      <td>Victoria</td>
                      <td>Light rain</td>
                      <td class="text-right">8°C</td>
                    </tr>
                    <tr>
                      <td>Whitehorse</td>
                      <td>Partly cloudy</td>
                      <td class="text-right">-19°C</td>
                    </tr>
                    <tr>
                      <td>Winnipeg</td>
                      <td>Sunny</td>
                      <td class="text-right">-18°C</td>
                    </tr>
                    <tr>
                      <td>Yellowknife</td>
                      <td>Mainly sunny</td>
                      <td class="text-right">-28°C</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </details>
        </div>
      </div>
      <h4>Bar chart</h4>
      <div class="row">
        <div class="mrgn-tp-sm mrgn-bttm-md col-md-8">
          <figure class="pattern-demo"><img alt="Number of pages by main puropose and audience" class="img-responsive" src="{{ site.url}}/style-guide/images/fig-05-eng.png" />
            <figcaption class="text-center"><strong>Number of pages by main puropose and audience</strong></figcaption>
          </figure>
          <details class="mrgn-tp-md">
            <summary>Number of pages by main puropose and audience - Table</summary>
            <div class="row">
              <div class="mrgn-tp-md mrgn-bttm-0">
                <table class="table table-bordered table-condensed small">
                  <caption class="wb-inv">
                  Number of pages by main purpose and audience
                  </caption>
                  <tr>
                    <td></td>
                    <th>Education</th>
                    <th>Task</th>
                    <th>Navigation</th>
                    <th>Support</th>
                    <th>Information</th>
                    <th>Corporate</th>
                  </tr>
                  <tr>
                    <th>General</th>
                    <td>2</td>
                    <td>0</td>
                    <td>20</td>
                    <td>4</td>
                    <td>100</td>
                    <td>50</td>
                  </tr>
                  <tr>
                    <th>Students</th>
                    <td>2</td>
                    <td>2</td>
                    <td>1</td>
                    <td>5</td>
                    <td>50</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <th>Business</th>
                    <td>60</td>
                    <td>10</td>
                    <td>20</td>
                    <td>90</td>
                    <td>50</td>
                    <td>8</td>
                  </tr>
                  <tr>
                    <th>Professional</th>
                    <td>46</td>
                    <td>26</td>
                    <td>5</td>
                    <td>101</td>
                    <td>200</td>
                    <td>142</td>
                  </tr>
                  <tr>
                    <th>Lawyer</th>
                    <td>0</td>
                    <td>2</td>
                    <td>4</td>
                    <td>0</td>
                    <td>300</td>
                    <td>300</td>
                  </tr>
                </table>
              </div>
            </div>
          </details>
        </div>
      </div>
    </section>
    <section id="wp6-1-2">
      <h4>Decorative images</h4>
      <p>Use decorative images only to provide visual context for the following templates: </p>
      <ul>
        <li>a theme or topic page </li>
        <li>the home page</li>
        <li>campaign pages</li>
        <li>promotional features on a topic page or home page (Government of Canada activities and initiatives)</li>
      </ul>
      <p>Don't place meaningful text, such as campaign or program titles, in decorative images.</p>
      <p><a href="#wp6-2">Include the appropriate alternative text</a> to describe the image for people who are unable to view it.</p>
      <p>Get details about the templates above in the <cite><a href="https://www.tbs-sct.gc.ca/hgw-cgf/oversight-surveillance/communications/cia-sca-eng.asp">Canada.ca Content and Information Architecture Specification</a></cite>. </p>
      <h5>Example of a decorative image</h5>
      <div class="row">
        <div class="mrgn-tp-md mrgn-bttm-md col-md-8">
          <figure class="pattern-demo"><img alt="A Royal Canadian Mounted Police officer on the Canada.ca web page related to jobs and the workplace." class="img-responsive" src="{{ site.url}}/style-guide/images/fig-06-eng.jpg" /></figure>
        </div>
      </div>
      <p><strong>Description of the image</strong></p>
      <p>A Royal Canadian Mounted Police officer on the Canada.ca web page related to jobs and the workplace.</p>
    </section>
    <section id="wp6-1-3">
      <h4>Image sizing and placement</h4>
      <p>Learn where to place images and videos on Canada.ca and what size they should be: </p>
      <ul>
        <li>use the templates in the <cite><a href="https://www.tbs-sct.gc.ca/hgw-cgf/oversight-surveillance/communications/cia-sca-eng.asp">Canada.ca Content and Information Architecture Specification</a></cite></li>
        <li>see the <a href="https://wet-boew.github.io/themes-dist/GCWeb/index-en.html">Canada.ca page types on GitHub</a></li>
      </ul>
    </section>
    <h4>See how this rule applies in French</h4>
    <ul>
      <li><span lang="fr"><a href="{{ site.urlconception }}/guide-redaction/#wp6-1">6.1 Comprendre le but des images sur le Web</a></span></li>
    </ul>
    <div class="mrgn-tp-lg">
      <div class="wb-share btn btn-default" data-wb-share='{"custType": " rule for using images", "title": "6.1 Understand the purpose of images online", "url": "https://design.canada.ca/style-guide/#wp6-1", "pnlId": "wp6-1"}'></div>
    </div>
  </section>
  <section id="wp6-2">
    <h3>6.2 Include alternative text for images</h3>
    <p>Alternative text (or alt text) is text that describes an image. It makes it possible for people using assistive technologies to access the information conveyed by an image. It also helps search engines better understand the purpose of the image.</p>
    <p>When you're writing alternative text for a <a href="#wp6-1-1">functional image</a>:</p>
    <ul>
      <li>describe the image as if you were describing it to someone over the phone</li>
      <li>use as few words as possible</li>
      <li>limit the text to around 140 characters (including spaces)</li>
      <li>use the text that is embedded in the image only if it provides enough context; otherwise, write different text that includes more information</li>
      <li>use the null indicator as the alternative text (alt="") if the image doesn't provide any more information than what is already provided in the text on the page</li>
      <li>don't use "image of..." or "graphic of..." to describe the image; screen readers do this already</li>
    </ul>
    <p><a href="#wp6-1-2">Decorative images</a> don't require additional information to make them accessible or visible to search engines. Use the null indicator as the alternative text (alt="").</p>
    <h4>See how this rule applies in French</h4>
    <ul>
      <li><span lang="fr"><a href="{{ site.urlconception }}/guide-redaction/#wp6-2">6.2 Ajouter un texte alternatif aux images</a></span></li>
    </ul>
    <div class="mrgn-tp-lg">
      <div class="wb-share btn btn-default" data-wb-share='{"custType": " rule for alternative text for images", "title": "6.2 Include alternative text for images", "url": "https://design.canada.ca/style-guide/#wp6-2", "pnlId": "wp6-2"}'></div>
    </div>
  </section>
  <section id="wp6-3">
    <h3>6.3 Include long descriptions for complex images</h3>
    <p>Long descriptions explain information that is presented in complex infographics or images. You must provide a long description if you can't describe the content and function of the image in less than 140 characters. If you can describe the image in less than 140 characters, use alternative text instead.</p>
    <p>If a detailed and equivalent explanation of the image appears in the text immediately before or after a complex image, you don't have to provide a long description.</p>
    <p>If you provide a long description for an image, you must also provide alternative text for the long description.</p>
    <p>Figure 1 illustrates a number of concepts. It requires a long description.</p>
    <h4>Example: Long description for the balanced scorecard</h4>
    <div class="row">
      <div class="mrgn-tp-md mrgn-bttm-md col-md-8">
        <figure class="pattern-demo"><img alt="A balanced scorecard showing how business activities align with an organization's vision and strategy to monitor key performance indicators." class="img-responsive" src="{{ site.url}}/style-guide/images/fig-01b-eng.jpg" />
          <figcaption class="text-center"><strong>A balanced scorecard</strong></figcaption>
        </figure>
      </div>
    </div>
    <h5>Alternative text</h5>
    <p>You could write the following alternative text for the image of the scorecard:</p>
    <p>A balanced scorecard showing how business activities align with an organization's vision and strategy to monitor key performance indicators.</p>
    <h5>Long description</h5>
    <p>You could write the following long description for the image of the scorecard:</p>
    <p>A balanced scorecard is a strategic planning and management system used worldwide to align business activities with an organization's vision and strategy.</p>
    <p>Business activities are grouped into 4 perspectives, all of which are interdependent and come from the vision and strategy. These are learning and growth, internal business processes, financial, and customer. Each has a question associated with it.</p>
    <ul>
      <li>Learning and growth</li>
    </ul>
    <p>To achieve our vision, how will we sustain our ability to change and improve?</p>
    <ul>
      <li>Internal business processes</li>
    </ul>
    <p>To satisfy our shareholders and customers, what business processes must we excel at?</p>
    <ul>
      <li>Financial</li>
    </ul>
    <p>To succeed financially, how should we appear to our shareholders?</p>
    <ul>
      <li>Customer</li>
    </ul>
    <p>To achieve our vision, how should we appear to our customers?</p>
    <p>Each perspective can be monitored using the following 4 components:</p>
    <ul>
      <li>objectives</li>
      <li>messages</li>
      <li>targets</li>
      <li>initiatives</li>
    </ul>
    <h4>Example: Long description for the bar chart illustrating the proportion of men and women in the public service for selected years from 1983 to 2010</h4>
    <div class="row">
      <div class="mrgn-tp-md mrgn-bttm-md col-md-8">
        <figure class="pattern-demo"><img alt="Comparison of the ratio of women and men in the civil service between 1983 and 2010." class="img-responsive" src="{{ site.url}}/style-guide/images/fig-02b-eng.jpg" />
          <figcaption>
            <div class="mrgn-lft-lg mrgn-rght-lg small">
              <h5>Comparison of the ratio of women and men in the civil service between 1983 and 2010.</h5>
              <p>Source: Office of the Chief Human Resources Officer, Treasury Board of Canada Secretariat</p>
              <p>Note: Includes all tenures. Figures do not include employees on leave without pay.</p>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
    <p>The information in the bar chart can be displayed as a table. The table can be used as a long description for this image.</p>
    <h5>Alternative text</h5>
    <p>You could write the following alternative text:</p>
    <p>Comparison of the ratio of women and men in the civil service between 1983 and 2010. Text version below.</p>
    <h5>Long description</h5>
    <p>You could write the following long description text:</p>
    <div class="row">
      <div class="col-md-8">
        <table class="table table-bordered table-condensed">
          <caption>
          <strong>Proportion of men and women in the public service for selected years 1983 to 2010</strong>
          </caption>
          <thead>
            <tr class="active">
              <th scope="col"><strong>Gender (by percentage)</strong></th>
              <th scope="col"><strong>1983</strong></th>
              <th scope="col"><strong>1988</strong></th>
              <th scope="col"><strong>1993</strong></th>
              <th scope="col"><strong>1998</strong></th>
              <th scope="col"><strong>2003</strong></th>
              <th scope="col"><strong>2008</strong></th>
              <th scope="col"><strong>2010</strong></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Men</td>
              <td class="text-right nowrap">58.2</td>
              <td class="text-right nowrap">55.7</td>
              <td class="text-right nowrap">52.9</td>
              <td class="text-right nowrap">49.6</td>
              <td class="text-right nowrap">46.7</td>
              <td class="text-right nowrap">45.1</td>
              <td class="text-right nowrap">44.8</td>
            </tr>
            <tr>
              <td>Women</td>
              <td class="text-right nowrap">41.8</td>
              <td class="text-right nowrap">44.3</td>
              <td class="text-right nowrap">47.1</td>
              <td class="text-right nowrap">50.4</td>
              <td class="text-right nowrap">53.3</td>
              <td class="text-right nowrap">54.9</td>
              <td class="text-right nowrap">55.2</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td class="small" colspan="8"><p>Source: Office of the Chief Human Resources Officer, Treasury Board of Canada Secretariat<br>
                  Note: Includes all tenures. Figures do not include employees on leave without pay.</p></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <p>Work with your web team to determine the best way to include the long description information. They'll guide you on how to make sure the image is accessible to people using assistive technology. They'll also ensure that your image meets the <cite><a href="https://www.tbs-sct.gc.ca/hgw-cgf/oversight-surveillance/communications/cia-sca-eng.asp">Canada.ca Content and Information Architecture Specification</a></cite>.</p>
    <h4>See how this rule applies in French</h4>
    <ul>
      <li><span lang="fr"><a href="{{ site.urlconception }}/guide-redaction/#wp6-3">6.3 Ajouter une description longue pour expliquer les images complexes</a></span></li>
    </ul>
    <div class="mrgn-tp-lg">
      <div class="wb-share btn btn-default" data-wb-share='{"custType": " rule for long descriptions", "title": "6.3 Include long descriptions for complex images", "url": "https://design.canada.ca/style-guide/#wp6-3", "pnlId": "wp6-3"}'></div>
    </div>
  </section>
  <section id="wp6-4">
    <h3>6.4 Include transcripts to describe audio and video files</h3>
    <p>A transcript is the text equivalent of an audio or video file. They make it easier for people who need to access information in audio or visual media but can't hear or see the content because:</p>
    <ul>
      <li>they have a disability</li>
      <li>don't have equipment such as speakers or headphones</li>
      <li>don't want to download a large file</li>
    </ul>
    <p>Make sure the transcript describes all pre-recorded information and action, including:</p>
    <ul>
      <li>on-screen text</li>
      <li>dialogue and narration </li>
      <li>important sounds (such as an explosion)</li>
      <li>important action (for example, people running away from an explosion or characters wearing disguises)</li>
    </ul>
    <h4>See how this rule applies in French</h4>
    <ul>
      <li><span lang="fr"><a href="{{ site.urlconception }}/guide-redaction/#wp6-4">6.4 Ajouter une transcription pour décrire les fichiers audio et vidéo</a></span></li>
    </ul>
    <div class="mrgn-tp-lg">
      <div class="wb-share btn btn-default" data-wb-share='{"custType": " rule for transcripts", "title": "6.4 Include transcripts to describe audio and video files", "url": "https://design.canada.ca/style-guide/#wp6-4", "pnlId": "wp6-4"}'></div>
    </div>
  </section>
</section>
