<section id="wp7-4">
  <h3>7.4 Linking to non-government content</h3>
  <p>Some non-government web content isn't available in both official languages. If you're linking to external web content that isn't available in the language of the current page, say in which language(s) it is available after the link. </p>
  <p>On English pages, write the following after a link that leads to content that isn't available in English: "(XXXX only)".</p>
  <p>If the link leads to content only available in: </p>
  <ul>
    <li>French, write "(French only)"</li>
    <li>Inuktitut, write "(Inuktitut only)"</li>
    <li>Spanish and Portuguese, write "(Spanish and Portuguese only)"</li>
  </ul>
  <h4 class="h5">Example <span class="wb-inv">of a link that leads to content only available in French</span></h4>
  <p><strong>Write</strong>: Find out how to <a href="https://passeport.ants.gouv.fr/Vos-demarches/Renouvellement-perte-ou-vol">renew your French passport while abroad in Canada</a> (French only).</p>
  <div class="well panel"> 
    <!--UPDATE LATER-->
    <p><a href="{{ site.urlconception }}/guide-redaction/#wp7-4" aria-label="See how the rule for non-government content applies to content in French">See how this rule applies to content in French</a></p>
    <p><a href="mailto:?subject=Canada.ca%20Content%20Style%20Guide&amp;body=See%20the%20rule%20for%20including%20links%20to%20unilingual%20non-government%20content%20on%20Canada.ca:%20https://design.canada.ca/style-guide/#wp7-4" aria-label="Share the rule for non-government content by email">Share this rule by email</a></p>
  </div>
</section>
