<section id="toc11">
{% unless page.title == "7.0 Links" %}
    <h2>7.0 Links</h2>
{% endunless %}
  <div class="row mrgn-tp-lg">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="mrgn-tp-sm">In this section</h3>
          <ul>
            <li><a href="#wp7-1">7.1 Use links strategically</a>
              <ul>
                <li><a href="#wp7-1-1">Carefully select related content</a></li>
              </ul>
            </li>
            <li><a href="#wp7-2">7.2 Write descriptive links</a>
              <ul>
                <li><a href="#wp7-2-1">Focus on the task</a></li>
              </ul>
            </li>
            <li><a href="#wp7-3">7.3 Make sure that links work</a></li>
            <li><a href="#wp7-4">7.4 Linking to non-government content </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <p>A link (or hyperlink) is a word, phrase or image on a web page that people click on to move to another part of the same content or to access an entirely different web resource (such as a web page, video or downloadable file).</p>
  <p>People who use assistive technology can navigate web content using links. For example, screen readers list all links on a page without the contextual content. </p>
  <p>Your links should be descriptive and able to stand alone so that it's clear what people can expect if they click on them.</p>
  <section id="wp7-1">
    <h3>7.1 Use links strategically</h3>
    <p>Be strategic about how you place and create links on a web page and about how many links you provide:</p>
    <ul>
      <li>include links that directly support the topic or task on the current page</li>
      <li>link to the original information posted by the authoritative source </li>
      <li>don't include links to intranet sites unless the content targets government employees, in which case you should add "(accessible only on the Government of Canada network)"</li>
      <li>don't bury links that are crucial to completing a task in the middle of a paragraph or at the bottom of the page</li>
    </ul>
    <h4>Example of appropriate use of links</h4>
    <h5>Write:</h5>
    <p>A Food Guide serving is&nbsp;how much&nbsp;food you should eat from each of the 4 food groups every day. In some cases, a serving is the amount of a given food group that you normally eat in one sitting, like an apple. In other cases, the daily amount is more than one serving, such as for rice or pasta.</p>
    <p><a href="https://www.hc-sc.gc.ca/fn-an/food-guide-aliment/basics-base/quantit-eng.php">Number of daily food servings for children, teens and adults</a></p>
    <h5>Instead of:</h5>
    <p>A Food Guide Serving is simply a reference amount. It helps you understand&nbsp;<a href="https://www.hc-sc.gc.ca/fn-an/food-guide-aliment/basics-base/quantit-eng.php">how much</a> food is recommended every day from each of the four food groups. In some cases, a Food Guide Serving may be close to what you eat, such as an apple. In other cases, such as rice or pasta, you may serve yourself more than one Food Guide Serving.</p>
  </section>
  <section id="wp7-1-1">
    <h4>Carefully select related content</h4>
    <p>Providing links to other relevant web pages can help people find related information quickly. Links to your pages from other pages may also help improve where your page ranks in search results. </p>
    <p>Be sure to select related links carefully. Too many links on a page can cause people to leave the page without reading important information or can discourage them from completing a task. </p>
  </section>
  <h4>See how this rule applies in French</h4>
  <ul>
    <li><span lang="fr"><a href="{{ site.urlconception }}/guide-redaction/#wp7-1">7.1 Utiliser les liens de façon stratégique</a></span></li>
  </ul>
  <div class="mrgn-tp-lg">
    <div class="wb-share btn btn-default" data-wb-share='{"custType": " rule for using links strategically", "title": "7.1 Use links strategically", "url": "https://design.canada.ca/style-guide/#wp7-1", "pnlId": "wp7-1"}'></div>
  </div>
  <section id="wp7-2">
    <h3>7.2 Write descriptive links</h3>
    <p>A link must describe the content a person will find once they click on it. It's easier to complete a task when a link's destination matches a person's expectations. Make sure links are descriptive so that person will understand what they'll get when they click on them.</p>
    <p>The text you hyperlink doesn't have to match the title of the destination page to be compliant with <cite>Web Content Accessibility Guidelines</cite>. Text in a link gets some context from the web page's content. Make sure the main keywords of the link text correspond to the page title so that people know they're in the right place. </p>
    <p>Tips for providing useful links:</p>
    <ul>
      <li>use the first words of the target page or its entire title if it's descriptive enough</li>
      <li>start with keywords that accurately describe the target page if the page title isn't enough</li>
      <li>make sure that all links on the same page use unique descriptive text if they link to different target pages</li>
      <li>when more than one link on a web page links to the same destination page, use the same words for the hyperlink</li>
      <li>describe any content that must be downloaded</li>
      <li>write email addresses in full, in lower case and as active links (contact <a href="#wp7-2" aria-label="Example of an appropriate email address">helpdesk@canada.ca</a>)</li>
    </ul>
    <p>Don't use:</p>
    <ul>
      <li>the same link text to point to 2 different pages </li>
      <li>vague statements such as "click here" or "read more" </li>
      <li>promotional messaging that might confuse someone who is deciding whether to go to the page that is being linked&nbsp;to</li>
    </ul>
    <section id="wp7-2-1">
      <h4>Focus on the task</h4>
      <p>When writing instructions for completing a task, sometimes you need to insert a link to guide the person to forms or other documents. Focus on the action they must perform when you create the link. </p>
      <p>Don't repeat the name of a form or document in the steps to accomplish a task if the name isn't descriptive. </p>
      <h4>Example <span class="wb-inv">of the use of links that focus on the task</span></h4>
      <h6>Write:</h6>
      <p>To get the highest Employment Insurance amount available to you:</p>
      <ol>
        <li>open the <a href="https://www.servicecanada.gc.ca/cgi-bin/search/eforms/index.cgi?app=prfl&amp;frm=ins5241&amp;ln=eng">form you need to declare your income</a></li>
        <li>identify your highest weeks of insurable income in the shortest period below:
          <ul>
            <li>the last 52 weeks of employment </li>
            <li>since the start of your last claim </li>
          </ul>
        </li>
        <li>return the completed form in person to the <a href="https://www.servicecanada.gc.ca/cgi-bin/sc-srch.cgi?app=hme&amp;ln=eng">Service Canada office closest to you</a></li>
      </ol>
      <h6>Instead of:</h6>
      <p>To ensure that you are paid the maximum Employment Insurance (EI) benefit rate that you are entitled to, complete the <a href="https://www.servicecanada.gc.ca/cgi-bin/search/eforms/index.cgi?app=prfl&amp;frm=ins5241&amp;ln=eng">Claimant Attestation - Highest Weeks of Insurable Earnings (Variable Best Weeks) form</a> with the required information about your highest weeks of insurable earnings in the last 52 weeks of employment or since the start of your last claim, whichever is the shorter period of the two.</p>
    </section>
    <h4>See how this rule applies in French</h4>
    <ul>
      <li><span lang="fr"><a href="{{ site.urlconception }}/guide-redaction/#wp7-2">7.2 Rédiger des liens descriptifs</a></span></li>
    </ul>
    <div class="mrgn-tp-lg">
      <div class="wb-share btn btn-default" data-wb-share='{"custType": " rule for writing descriptive links", "title": "7.2 Write descriptive links", "url": "https://design.canada.ca/style-guide/#wp7-2", "pnlId": "wp7-2"}'></div>
    </div>
  </section>
  <section id="wp7-3">
    <h3>7.3 Make sure that links work</h3>
    <p>Make sure that your links work. Check that they take people to the correct page, which contains up-to-date information, in the appropriate official language. Links that don't work frustrate people and hurt the credibility of your content.</p>
    <h4>See how this rule applies in French</h4>
    <ul>
      <li><span lang="fr"><a href="{{ site.urlconception }}/guide-redaction/#wp7-3">7.3 Vérifier que les liens fonctionnent</a></span></li>
    </ul>
    <div class="mrgn-tp-lg">
      <div class="wb-share btn btn-default" data-wb-share='{"custType": " rule for verifying links", "title": "7.3 Make sure that links work", "url": "https://design.canada.ca/style-guide/#wp7-3", "pnlId": "wp7-3"}'></div>
    </div>
  </section>
  <section id="wp7-4">
    <h3>7.4 Linking to non-government content</h3>
    <p>Some non-government web content isn't available in both official languages. If you're linking to external web content that isn't available in the language of the current page, say in which language(s) it is available after the link. </p>
    <p>On English pages, write the following after a link that leads to content that isn't available in English: "(XXXX only)".</p>
    <p>If the link leads to content only available in: </p>
    <ul>
      <li>French, write "(French only)"</li>
      <li>Inuktitut, write "(Inuktitut only)"</li>
      <li>Spanish and Portuguese, write "(Spanish and Portuguese only)"</li>
    </ul>
    <section>
      <h4>Example of a link that leads to content only available in French</h4>
      <p><strong>Write</strong>: Find out how to <a href="https://passeport.ants.gouv.fr/Vos-demarches/Renouvellement-perte-ou-vol">renew your French passport while abroad in Canada</a> (French only).</p>
      <h4>See how this rule applies in French</h4>
      <ul>
        <li><span lang="fr"><a href="{{ site.urlconception }}/guide-redaction/#wp7-4">7.4 Créer des liens vers du contenu externe</a></span></li>
      </ul>
      <div class="mrgn-tp-lg">
        <div class="wb-share btn btn-default" data-wb-share='{"custType": " rule for non-government content", "title": "7.4 Linking to non-government content", "url": "https://design.canada.ca/style-guide/#wp7-4", "pnlId": "wp7-4"}'></div>
      </div>
    </section>
  </section>
  <section id="wp7-5">
    <h3>7.5 Linking to internal-to-government content</h3>
    <p>In most cases, public-facing content should not link to content that is accessible only through internal government networks. Occasionally, the audience for content that is accessible to the public may be primarily internal.</p>
    <p>When a link leads to content available only on internal government networks, write "(accessible only on the Government of Canada network)."</p>
    <h4>See how this rule applies in French</h4>
    <ul>
      <li><span lang="fr"><a href="{{ site.urlconception }}/guide-redaction/#wp7-5">7.5 Créer des liens vers du contenu interne</a></span></li>
    </ul>
    <div class="mrgn-tp-lg">
      <div class="wb-share btn btn-default" data-wb-share='{"custType": " rule for internal-to-government content", "title": "7.5 Linking to internal-to-government content", "url": "https://design.canada.ca/style-guide/#wp7-5", "pnlId": "wp7-5"}'></div>
    </div>
  </section>
</section>
