<section id="toc12"> {% unless page.title == "Web content makeovers" %}
  <h2>Web content makeovers</h2>
  {% endunless %}
  <h3>Case study A: improve plain language and content structure </h3>
  <h4>Before</h4>
  <p>The Employment Insurance (EI) program offers temporary financial assistance to Canadians and individuals who are legally entitled to work in Canada, have a valid Social Insurance Number and remain in Canada during their benefit period. One type of benefits that the&nbsp;EI&nbsp;program offers is regular benefits.&nbsp;EI&nbsp;regular benefits are offered to people who have lost their employment through no fault of their own (for example, because of a shortage of work or because they were employed in seasonal work) and who are ready, willing, and capable of working each day but unable to find work.</p>
  <p>Flesch-Kincaid reading level: 17.2</p>
  <h4>After</h4>
  <p>The Employment Insurance (EI) program could give you temporary financial help if you lost your job.</p>
  <p>To qualify for regular benefits, you must: </p>
  <ul>
    <li>be Canadian or legally able to work in Canada</li>
    <li>have a valid social insurance number</li>
    <li>have lost your job through no fault of your own</li>
    <li>be ready, willing and able to work each day but still can't find work</li>
    <li>stay in Canada while you're getting EI help</li>
  </ul>
  <p>Flesch-Kincaidreading level<em>: </em>5.9</p>
  <h4>What we did</h4>
  <p>To improve this content, we:</p>
  <ul>
    <li>created a list out of the items in the text&nbsp; </li>
    <li>replaced complex nouns with verbs and complex verbs with simpler forms</li>
  </ul>
  <h3>Case study B: improve and simplify tables</h3>
  <h4>Before</h4>
  <table class="table table-bordered table-condensed">
    <caption class="text-center">
    <strong>Table: supporting families and communities (in $ millions), Budget 2013</strong>
    </caption>
    <thead>
      <tr class="active">
        <th scope="col">Supporting Families and Communities (in $ millions)</th>
        <th class="text-right" scope="col">2013 to 2014</th>
        <th class="text-right" scope="col">2014 to 2015</th>
        <th class="text-right" scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><strong>Support for Families</strong></th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Expanding Tax Relief for Home Care Services</span></th>
        <td class="text-right">5</td>
        <td class="text-right">5</td>
        <td class="text-right">10</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Palliative and End-of-Life Care</span></th>
        <td class="text-right">1</td>
        <td class="text-right">1</td>
        <td class="text-right">2</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Tariff Relief for Canadians Consumers</span></th>
        <td class="text-right">76</td>
        <td class="text-right">76</td>
        <td class="text-right">152</td>
      </tr>
      <tr>
        <th scope="row">Subtotal—Support for Families</th>
        <td class="text-right">82</td>
        <td class="text-right">82</td>
        <td class="text-right">164</td>
      </tr>
      <tr>
        <th scope="row">&nbsp;</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th scope="row"><strong>Investing in Communities</strong></th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Housing for Canadians in Need</span></th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Homelessness Partnering Strategy</span></th>
        <td class="text-right">&nbsp;</td>
        <td class="text-right">119</td>
        <td class="text-right">119</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Investment in Affordable Housing</span></th>
        <td class="text-right">&nbsp;</td>
        <td class="text-right">253</td>
        <td class="text-right">253</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Investment in Nunavut Housing</span></th>
        <td class="text-right">30</td>
        <td class="text-right">70</td>
        <td class="text-right">100</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Supporting and Honouring Veterans</span></th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Enhancing Veterans Affairs Canada's Funeral and Burial Program</span></th>
        <td class="text-right">63</td>
        <td class="text-right">2</td>
        <td class="text-right">65</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Road to 2017</span></th>
        <td class="text-right">1</td>
        <td class="text-right">2</td>
        <td class="text-right">3</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Investments in Arts and Culture</span></th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Massey Hall Revitalization</span></th>
        <td class="text-right">8</td>
        <td class="text-right">&nbsp;</td>
        <td class="text-right">8</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Expanding Library Services for the</span></th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Blind and Partially Sighted</span></th>
        <td class="text-right">3</td>
        <td class="text-right">&nbsp;</td>
        <td class="text-right">3</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">First-Time Donor's Super Credit</span></th>
        <td class="text-right">25</td>
        <td class="text-right">25</td>
        <td class="text-right">50</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Supporting the Economic Transition of Communities Economically Linked to the Chrysotile Asbestos Industry</span></th>
        <td class="text-right">3</td>
        <td class="text-right">5</td>
        <td class="text-right">8</td>
      </tr>
      <tr>
        <th scope="row">Subtotal—Investing in Communities</th>
        <td class="text-right">133</td>
        <td class="text-right">476</td>
        <td class="text-right">609</td>
      </tr>
      <tr>
        <th scope="row">&nbsp;</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th scope="row"><strong>Protecting Canada's Natural Environment</strong></th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Nature Conservancy of Canada</span></th>
        <td class="text-right">20</td>
        <td class="text-right">&nbsp;</td>
        <td class="text-right">20</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Improving the Conservation of Fisheries</span></th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Through Community Partnerships</span></th>
        <td class="text-right">5</td>
        <td class="text-right">5</td>
        <td class="text-right">10</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Salmon Conservation Stamp</span></th>
        <td class="text-right">1</td>
        <td class="text-right">1</td>
        <td class="text-right">2</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Enabling Responsible Marine Management</span></th>
        <td class="text-right">4</td>
        <td class="text-right">&nbsp;</td>
        <td class="text-right">4</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Protecting Against Invasive Species</span></th>
        <td class="text-right">2</td>
        <td class="text-right">2</td>
        <td class="text-right">3</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Expanding Tax Support for Clean Energy Generation</span></th>
        <td class="text-right">&nbsp;</td>
        <td class="text-right">1</td>
        <td class="text-right">1</td>
      </tr>
      <tr>
        <th scope="row">Subtotal—Protecting Canada's Natural Environment</th>
        <td class="text-right">32</td>
        <td class="text-right">9</td>
        <td class="text-right">41</td>
      </tr>
      <tr>
        <th scope="row">&nbsp;</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th scope="row"><strong>Building Strong Aboriginal Communities</strong></th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Resolving Specific Claims</span></th>
        <td class="text-right">27</td>
        <td class="text-right">27</td>
        <td class="text-right">54</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">First Nations Land Management Regime</span></th>
        <td class="text-right">2</td>
        <td class="text-right">7</td>
        <td class="text-right">9</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">First Nations Policing Program</span></th>
        <td class="text-right">18</td>
        <td class="text-right">18</td>
        <td class="text-right">36</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Aboriginal Justice Strategy</span></th>
        <td class="text-right">11</td>
        <td class="text-right">&nbsp;</td>
        <td class="text-right">11</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Renewal of the Family Violence Prevention Program</span></th>
        <td class="text-right">12</td>
        <td class="text-right">12</td>
        <td class="text-right">24</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Improving Health Services to First Nations Communities</span></th>
        <td class="text-right">24</td>
        <td class="text-right">24</td>
        <td class="text-right">48</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Enhancing Mental Health Services in First Nations Communities</span></th>
        <td class="text-right">2</td>
        <td class="text-right">2</td>
        <td class="text-right">4</td>
      </tr>
      <tr>
        <th scope="row">Subtotal—Building Strong Aboriginal Communities</th>
        <td class="text-right">95</td>
        <td class="text-right">90</td>
        <td class="text-right">185</td>
      </tr>
      <tr>
        <th scope="row">&nbsp;</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th scope="row"><strong>Total—Supporting Families and Communities</strong></th>
        <td class="text-right"><strong>342</strong></td>
        <td class="text-right"><strong>657</strong></td>
        <td class="text-right"><strong>999</strong></td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md"><strong>Less funds existing in the fiscal framework</strong></span></th>
        <td class="text-right"><strong>76</strong></td>
        <td class="text-right"><strong>422</strong></td>
        <td class="text-right"><strong>498</strong></td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md"><strong>Less funds sourced from internal reallocations</strong></span></th>
        <td class="text-right"><strong>1</strong></td>
        <td class="text-right"><strong>11</strong></td>
        <td class="text-right"><strong>12</strong></td>
      </tr>
      <tr>
        <th scope="row"><strong>Net fiscal cost</strong></th>
        <td class="text-right"><strong>265</strong></td>
        <td class="text-right"><strong>224</strong></td>
        <td class="text-right"><strong>489</strong></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">Note: Totals may not add due to rounding.</td>
      </tr>
    </tfoot>
  </table>
  <h4>After</h4>
  <table class="table table-bordered table-condensed">
    <caption class="text-center">
    <strong>Table 1: supporting families and communities for fiscal years 2013 to 2014 and 2014 to 2015, net fiscal costs (in $ millions)<sup id="table1-fn1-rf"><a class="fn-lnk" href="#table1-fn1"><span class="wb-inv">table 1 note </span>1</a></sup></strong>
    </caption>
    <thead>
      <tr class="active">
        <th scope="col">Cost breakdown </th>
        <th scope="col">2013 to 2014</th>
        <th scope="col">2014 to 2015</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Total: supporting families and communities<sup id="table1-fn2-rf"><a class="fn-lnk" href="#table1-fn2"><span class="wb-inv">table 1 note </span>2</a></sup></th>
        <td>342</td>
        <td>657</td>
        <td>999</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Less funds existing in the fiscal framework</span></th>
        <td>(76)</td>
        <td>(422)</td>
        <td>(498)</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Less funds sourced from internal reallocations</span></th>
        <td>(1)</td>
        <td>(11)</td>
        <td>(12)</td>
      </tr>
      <tr>
        <th scope="row">Net fiscal costs</th>
        <td>265</td>
        <td>224</td>
        <td>489</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4"><section class="wb-fnote">
            <h5 class="wb-inv" id="table1-fn">Table 1 Notes</h5>
            <dl>
              <dt> Table 1 Note 1 </dt>
              <dd id="table1-fn1">
                <p>Totals may not add due to rounding.</p>
                <p class="fn-rtn"> <a href="#table1-fn1-rf"><span class="wb-inv">Return to table 1 note </span>1<span class="wb-inv"> referrer</span></a></p>
              </dd>
              <dt> Table 1 Note 2 </dt>
              <dd id="table1-fn2">
                <p>See Table 1B for detailed breakdown.</p>
                <p class="fn-rtn"> <a href="#table1-fn2-rf"><span class="wb-inv">Return to table 1 note </span>2<span class="wb-inv"> referrer</span></a></p>
              </dd>
            </dl>
          </section></td>
      </tr>
    </tfoot>
  </table>
  <table class="table table-bordered table-condensed">
    <caption class="text-center">
    <strong>Table 1A: supporting families and communities for fiscal years 2013 to 2014 and 2014 to 2015, total costs (in $ millions)<sup id="table2-fn1-rf"><a class="fn-lnk" href="#table2-fn1"><span class="wb-inv">table 2 note </span>1</a></sup></strong>
    </caption>
    <thead>
      <tr class="active">
        <th scope="col">Initiatives and programs</th>
        <th class="text-right" scope="col">2013 to 2014</th>
        <th class="text-right" scope="col">2014 to 2015</th>
        <th class="text-right" scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Support for families<sup id="table2-fn2-rf"><a class="fn-lnk" href="#table2-fn2"><span class="wb-inv">table 2 note </span>2</a></sup></span></th>
        <td class="text-right">82</td>
        <td class="text-right">82</td>
        <td class="text-right">164</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Investing in communities<sup id="table2-fn3-rf"><a class="fn-lnk" href="#table2-fn3"><span class="wb-inv">table 2 note </span>3</a></sup></span></th>
        <td class="text-right">133</td>
        <td class="text-right">476</td>
        <td class="text-right">609</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Protecting Canada's natural environment<sup id="table2-fn4-rf"><a class="fn-lnk" href="#table2-fn4"><span class="wb-inv">table 2 note </span>4</a></sup></span></th>
        <td class="text-right">32</td>
        <td class="text-right">9</td>
        <td class="text-right">41</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Building strong Aboriginal communities<sup id="table2-fn5-rf"><a class="fn-lnk" href="#table2-fn5"><span class="wb-inv">table 2 note </span>5</a></sup></span></th>
        <td class="text-right">95</td>
        <td class="text-right">90</td>
        <td class="text-right">185</td>
      </tr>
      <tr>
        <th scope="row">Total: supporting families and communities </th>
        <td class="text-right">342</td>
        <td class="text-right">657</td>
        <td class="text-right">999</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4"><section class="wb-fnote">
            <h5 class="wb-inv" id="table2-fn">Table 2 Notes</h5>
            <dl>
              <dt> Table 2 Note 1 </dt>
              <dd id="table2-fn1">
                <p>Totals may not add due to rounding.</p>
                <p class="fn-rtn"> <a href="#table2-fn1-rf"><span class="wb-inv">Return to table 2 note </span>1<span class="wb-inv"> referrer</span></a></p>
              </dd>
              <dt> Table 2 Note 2 </dt>
              <dd id="table2-fn2">
                <p>See Table 1B for detailed breakdown.</p>
                <p class="fn-rtn"> <a href="#table2-fn2-rf"><span class="wb-inv">Return to table 2 note </span>2<span class="wb-inv"> referrer</span></a></p>
              </dd>
              <dt> Table 2 Note 3 </dt>
              <dd id="table2-fn3">
                <p>See Table 1C for detailed breakdown.</p>
                <p class="fn-rtn"> <a href="#table2-fn3-rf"><span class="wb-inv">Return to table 2 note </span>3<span class="wb-inv"> referrer</span></a></p>
              </dd>
              <dt> Table 2 Note 4 </dt>
              <dd id="table2-fn4">
                <p>See Table 1D for detailed breakdown.</p>
                <p class="fn-rtn"> <a href="#table2-fn4-rf"><span class="wb-inv">Return to table 2 note </span>4<span class="wb-inv"> referrer</span></a></p>
              </dd>
              <dt> Table 2 Note 5 </dt>
              <dd id="table2-fn5">
                <p>See Table 1E for detailed breakdown.</p>
                <p class="fn-rtn"> <a href="#table2-fn5-rf"><span class="wb-inv">Return to table 2 note </span>5<span class="wb-inv"> referrer</span></a></p>
              </dd>
            </dl>
          </section></td>
      </tr>
    </tfoot>
  </table>
  <table class="table table-bordered table-condensed">
    <caption class="text-center">
    <strong>Table 1B: support for families for fiscal years 2013 to 2014 and 2014 to 2015 (in $ millions)<sup id="table3-fn1-rf"><a class="fn-lnk" href="#table3-fn1"><span class="wb-inv">table 3 note </span>1</a></sup></strong>
    </caption>
    <thead>
      <tr class="active">
        <th scope="col">Initiatives and programs </th>
        <th class="text-right" scope="col">2013 to 2014</th>
        <th class="text-right" scope="col">2014 to 2015</th>
        <th class="text-right" scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Expanding tax relief for home care services</span></th>
        <td class="text-right">5</td>
        <td class="text-right">5</td>
        <td class="text-right">10</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Palliative and end-of-life care</span></th>
        <td class="text-right">1</td>
        <td class="text-right">1</td>
        <td class="text-right">2</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Tariff relief for Canadian consumers</span></th>
        <td class="text-right">76</td>
        <td class="text-right">76</td>
        <td class="text-right">152</td>
      </tr>
      <tr>
        <th scope="row">Subtotal: support for families</th>
        <td class="text-right">82</td>
        <td class="text-right">82</td>
        <td class="text-right">164</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4"><section class="wb-fnote">
            <h5 class="wb-inv" id="table3-fn">Table 3 Notes</h5>
            <dl>
              <dt> Table 3 Note 1 </dt>
              <dd id="table3-fn1">
                <p>Totals may not add due to rounding.</p>
                <p class="fn-rtn"> <a href="#table3-fn1-rf"><span class="wb-inv">Return to table 3 note </span>1<span class="wb-inv"> referrer</span></a></p>
              </dd>
            </dl>
          </section></td>
      </tr>
    </tfoot>
  </table>
  <table class="table table-bordered table-condensed">
    <caption class="text-center">
    <strong>Table 1C: investing in communities for fiscal years 2013 to 2014 and 2014 to 2015 (in $ millions)<sup id="table4-fn1-rf"><a class="fn-lnk" href="#table4-fn1"><span class="wb-inv">table 4 note </span>1</a></sup></strong>
    </caption>
    <thead>
      <tr class="active">
        <th scope="col">Initiatives and programs </th>
        <th class="text-right" scope="col">2013 to 2014</th>
        <th class="text-right" scope="col">2014 to 2015</th>
        <th class="text-right" scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Housing for Canadians in need</span></th>
        <td class="text-right">0</td>
        <td class="text-right">0</td>
        <td class="text-right">0</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Homelessness partnering strategy</span></th>
        <td class="text-right">0</td>
        <td class="text-right">119</td>
        <td class="text-right">119</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Investment in affordable housing</span></th>
        <td class="text-right">0</td>
        <td class="text-right">253</td>
        <td class="text-right">253</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Investment in Nunavut housing</span></th>
        <td class="text-right">30</td>
        <td class="text-right">70</td>
        <td class="text-right">100</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Supporting and Honouring veterans</span></th>
        <td class="text-right">0</td>
        <td class="text-right">0</td>
        <td class="text-right">0</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Enhancing Veterans Affairs Canada's Funeral and Burial Program</span></th>
        <td class="text-right">63</td>
        <td class="text-right">2</td>
        <td class="text-right">65</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Road to 2017</span></th>
        <td class="text-right">1</td>
        <td class="text-right">2</td>
        <td class="text-right">3</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Investments in arts and culture</span></th>
        <td class="text-right">0</td>
        <td class="text-right">0</td>
        <td class="text-right">0</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Massey Hall revitalization</span></th>
        <td class="text-right">8</td>
        <td class="text-right">0</td>
        <td class="text-right">8</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Expanding library services for the blind and partially sighted</span></th>
        <td class="text-right">3</td>
        <td class="text-right">0</td>
        <td class="text-right">3</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">First-time Donor's Super Credit</span></th>
        <td class="text-right">25</td>
        <td class="text-right">25</td>
        <td class="text-right">50</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Supporting the economic transition of communities economically linked to the chrysotile asbestos industry</span></th>
        <td class="text-right">3</td>
        <td class="text-right">5</td>
        <td class="text-right">8</td>
      </tr>
      <tr>
        <th scope="row">Subtotal: investing in communities</th>
        <td class="text-right">133</td>
        <td class="text-right">476</td>
        <td class="text-right">609</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4"><section class="wb-fnote">
            <h5 class="wb-inv" id="table4-fn">Table 4 Notes</h5>
            <dl>
              <dt> Table 4 Note 1 </dt>
              <dd id="table4-fn1">
                <p>Totals may not add due to rounding.</p>
                <p class="fn-rtn"> <a href="#table4-fn1-rf"><span class="wb-inv">Return to table 4 note </span>1<span class="wb-inv"> referrer</span></a></p>
              </dd>
            </dl>
          </section></td>
      </tr>
    </tfoot>
  </table>
  <table class="table table-bordered table-condensed">
    <caption class="text-center">
    <strong>Table 1D: protecting Canada's natural environment for fiscal years 2013 to 2014 and 2014 to 2015 (in $&nbsp;millions)<sup id="table5-fn1-rf"><a class="fn-lnk" href="#table5-fn1"><span class="wb-inv">table 5 note </span>1</a></sup></strong>
    </caption>
    <thead>
      <tr class="active">
        <th scope="col">Initiatives and programs </th>
        <th class="text-right" scope="col">2013 to 2014</th>
        <th class="text-right" scope="col">2014 to 2015</th>
        <th class="text-right" scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Nature Conservancy of Canada</span></th>
        <td class="text-right">20</td>
        <td class="text-right">0</td>
        <td class="text-right">20</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Improving the conservation of fisheries through community partnerships</span></th>
        <td class="text-right">5</td>
        <td class="text-right">5</td>
        <td class="text-right">10</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Salmon conservation stamp</span></th>
        <td class="text-right">1</td>
        <td class="text-right">1</td>
        <td class="text-right">2</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Enabling responsible marine management</span></th>
        <td class="text-right">4</td>
        <td class="text-right">0</td>
        <td class="text-right">4</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Protecting against invasive species</span></th>
        <td class="text-right">2</td>
        <td class="text-right">2</td>
        <td class="text-right">3</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Expanding tax support for clean energy generation</span></th>
        <td class="text-right">0</td>
        <td class="text-right">1</td>
        <td class="text-right">1</td>
      </tr>
      <tr>
        <th scope="row">Subtotal: protecting Canada's natural environment</th>
        <td class="text-right">32</td>
        <td class="text-right">9</td>
        <td class="text-right">41</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4"><section class="wb-fnote">
            <h5 class="wb-inv" id="table5-fn">Table 5 Notes</h5>
            <dl>
              <dt> Table 5 Note 1 </dt>
              <dd id="table5-fn1">
                <p>Totals may not add due to rounding.</p>
                <p class="fn-rtn"> <a href="#table5-fn1-rf"><span class="wb-inv">Return to table 5 note </span>1<span class="wb-inv"> referrer</span></a></p>
              </dd>
            </dl>
          </section></td>
      </tr>
    </tfoot>
  </table>
  <table class="table table-bordered table-condensed">
    <caption class="text-center">
    <strong>Table 1E: building strong Aboriginal communities for fiscal years 2013 to 2014 and 2014 to 2015 (in $&nbsp;millions)<sup id="table6-fn1-rf"><a class="fn-lnk" href="#table6-fn1"><span class="wb-inv">table 6 note </span>1</a></sup></strong>
    </caption>
    <thead>
      <tr class="active">
        <th scope="col">Initiatives and programs</th>
        <th class="text-right" scope="col">2013 to 2014</th>
        <th class="text-right" scope="col">2014 to 2015</th>
        <th class="text-right" scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="td"><span class="mrgn-lft-md">Resolving specific claims</span></th>
        <td class="text-right">27</td>
        <td class="text-right">27</td>
        <td class="text-right">54</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">First Nations Land Management Regime</span></th>
        <td class="text-right">2</td>
        <td class="text-right">7</td>
        <td class="text-right">9</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">First Nations Policing Program</span></th>
        <td class="text-right">18</td>
        <td class="text-right">18</td>
        <td class="text-right">36</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Aboriginal Justice Strategy</span></th>
        <td class="text-right">11</td>
        <td class="text-right">0</td>
        <td class="text-right">11</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Renewal of the Family Violence Prevention Program</span></th>
        <td class="text-right">12</td>
        <td class="text-right">12</td>
        <td class="text-right">24</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Improving health services to First Nations Communities</span></th>
        <td class="text-right">24</td>
        <td class="text-right">24</td>
        <td class="text-right">48</td>
      </tr>
      <tr>
        <th scope="row"><span class="mrgn-lft-md">Enhancing mental health services in First Nations communities</span></th>
        <td class="text-right">2</td>
        <td class="text-right">2</td>
        <td class="text-right">4</td>
      </tr>
      <tr>
        <th scope="row">Subtotal: building strong Aboriginal communities</th>
        <td class="text-right">95</td>
        <td class="text-right">90</td>
        <td class="text-right">185</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4"><section class="wb-fnote">
            <h5 class="wb-inv" id="table6-fn">Table 6 Notes</h5>
            <dl>
              <dt> Table 6 Note 1 </dt>
              <dd id="table6-fn1">
                <p>Totals may not add due to rounding.</p>
                <p class="fn-rtn"> <a href="#table6-fn1-rf"><span class="wb-inv">Return to table 6 note </span>1<span class="wb-inv"> referrer</span></a></p>
              </dd>
            </dl>
          </section></td>
      </tr>
    </tfoot>
  </table>
  <h4>What we did</h4>
  <p>To create these tables, we: </p>
  <ul>
    <li>divided a complex table into several simple tables that are more accessible and can be viewed easily on mobile devices</li>
    <li>applied the inverted pyramid approach to provide the summary or conclusion first, followed by increasingly detailed information </li>
    <li>created a clear title for each table</li>
    <li>updated titles to reflect capitalization requirements</li>
    <li>used existing subheadings embedded in the original example to create table headers</li>
    <li>made sure that the last 3 column headers reflect the unit value of the information in each column</li>
    <li>added zeros to provide relevant information in otherwise empty cells </li>
    <li>removed empty cells, rows and irrelevant information (underlining) and subheadings (such as those that were not aligned with the column headers)</li>
  </ul>
</section>
