.provisional.bg-cover.bg-cover-institution {
	background-position: right;
	padding-bottom: 25px;
}

.provisional.btn-call-to-action {
	font-size: 1em;
}


.provisional.gc-featured-lnk {
	background: #31708f;
	margin-bottom: 0em;
	padding-top:20px;
	padding-bottom:20px;
}

.provisional.gc-featured-lnk a {
	color:#fff
}

ul.feeds-cont li a {
	font-weight: bold;
}

@media screen and (max-width: 767px) {
	.provisional.btn-call-to-action {
		font-size: 19px;
	}

	.xs-left {
		float: left;
	}
}

@media screen and (max-width: 768px) {
	.provisional.bg-cover-institution-hide-sm {
		background-image: url("none");
	}
}

@media screen and (max-width: 425px) {
	.provisional.bg-cover-institution-hide-xs {
		background-image: url("none");
	}
}

/* version with Minister images */

.provisional.ministers img {
	max-width: 200px;
}
