<table class="table">
  <thead>
    <tr>
      <th>Option</th>
      <th>Description</th>
      <th>How to use</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Remove styling</td>
      <td>You can remove bullets or numbers from a list.</td>
      <td>Add the class <code>list-unstyled</code></td>
    </tr>
    <tr>
      <td>Spacing</td>
      <td>You can additional spacing between list items to create additional separation.</td>
      <td>Add the class <code>lst-spcd</code></td>
    </tr>
    <tr>
      <td>Remove bullets in nested list</td>
      <td>You can remove the bullet or number from a nested list, while maintaining the identation</td>
      <td>Add the class <code>lst-none</code></td>
    </tr>
    <tr>
      <td>Lower alpha</td>
      <td>You can apply lower case alphabet letters (a, b, c...) to a an ordered list. Use mainly as a nested second level list.</td>
      <td>Add the class <code>lst-lwr-alph</code></td>
    </tr>
    <tr>
      <td>Upper alpha</td>
      <td>You can apply upper case alphabet letters (A, B, C...) to a an ordered list. Use mainly in legal documents.</td>
      <td>Add the class <code>lst-upr-alph</code></td>
    </tr>
    <tr>
      <td>Lower Roman</td>
      <td>You can apply lower roman numeral (i, ii, iii...) to a an ordered list. Use mainly in legal documents.</td>
      <td>Add the class <code>lst-lwr-rmn</code></td>
    </tr>
    <tr>
      <td>Upper Roman</td>
      <td>You can apply upper roman numeral (I, II, III...) to a an ordered list. Use mainly in legal documents.</td>
      <td>Add the class <code>lst-upr-rmn</code></td>
    </tr>
  </tbody>
</table>
