<table class="table">
  <thead>
    <tr>
      <th>Option</th>
      <th>Description</th>
      <th>How to use</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Remove styling</td>
      <td>You can remove bullets or numbers from a list.</td>
      <td>Add the class <code>list-unstyled</code></td>
    </tr>
    <tr>
      <td>Spacing</td>
      <td>You can additional spacing between list items to create additional separation.</td>
      <td>Add the class <code>lst-spcd</code></td>
    </tr>
    <tr>
      <td>Remove bullets in nested list</td>
      <td>You can remove the bullet or number from a nested list, while maintaining the identation</td>
      <td>Add the class <code>lst-none</code></td>
    </tr>
  </tbody>
</table>
