/* colours - convert to scss later */
.experimental .components .panel-default .panel-heading {
    background-color:#E3D9E8; /*AAA*/
}

.experimental .components header {
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}

.experimental .styles .panel-default .panel-heading {
    background-color:#E7D5CB; /*AAA*/
}
.experimental .page-layouts .panel-default .panel-heading  {
    background-color:#FFECC2; /*AAA*/
}
.experimental .behaviours .panel-default .panel-heading  {
    background-color:#E5EEFA; /*AAA*/
}
.experimental .d-patterns .panel-default .panel-heading {
    background-color:#E6EEC9; /*AAA*/
}
.experimental .tab.active .tab-box a {
    border-bottom:4px solid #26374a;
    padding-bottom:3px;
    font-weight:bold;
}
/* .experimental .tab.active .tab-box a.f-styles {
    border-bottom:4px solid #991520;
    padding-bottom:3px;
    font-weight:bold;
}
.experimental .tab.active .tab-box a.f-layouts {
    border-bottom:4px solid #9E6C00;
    padding-bottom:3px;
    font-weight:bold;
}
.experimental .tab.active .tab-box a.f-d-patterns {
    border-bottom:4px solid #637A06;
    padding-bottom:3px;
    font-weight:bold;
}
.experimental .tab.active .tab-box a.f-components {
    border-bottom:4px solid #3A2B5F;
    padding-bottom:3px;
    font-weight:bold;
}
.experimental .tab.active .tab-box a.f-behaviours {
    border-bottom:4px solid #1f70db;
    padding-bottom:3px;
    font-weight:bold;
} */

.experimental .tab a {
    font-size:.85em;
}

.experimental .components .img {
/* write autocrop */
}

.experimental .tabs {
    height:45px;
    padding:0 0 0 0;
    overflow:visible;
}

.experimental .tab {
    height:45px;
    float:left;
    margin:0 -21px 0 0;
    flex: 0 0 auto; 
}

.experimental .tab:first-child {
    margin-left:-10px;
}

.experimental .tab-box {
    height:46px;
    background-color: #fff;
    margin:0 10px 0;
    padding:0 1em;
}

.experimental .tab.active {
    z-index:40;
    position:relative;
    padding-bottom:2.3em;
}


.experimental.scroll ul {
    margin-bottom:0;
}

.experimental .content {
    z-index:1;
    padding:1em;
    border:1px solid #ccc;
    position:relative;
}

.experimental .content p {
	font-size:17px;
    line-height:1.5em;
}

.experimental .flex {
    display:flex;
    flex-wrap:nowrap;
}

.experimental .flex::-webkit-scrollbar {
    display:none; 
}

.experimental .tab .tab-box{
    background-color: #fff;
    border:1px solid #ccc;
    border-bottom: 1px solid #fff;
}

@media only screen and (min-width: 1024px) {
    .experimental .tab.active .tab-box{
        background-color: #fff;
        border:1px solid #ccc;
        border-bottom: 1px solid #fff;
    }

    .experimental .tab {
        margin:0 -15px 0 0;
    }
}

@media only screen and (max-width: 768px) {
  .experimental .flex {
     overflow:auto;   /* draws a line in desktop view under selection... gonna need a hand, for now writing mobile variant */
  }
}

/* @media {
    .experimental .flex {
    }
} */