.experimental .components .panel-default .panel-heading {
    background-color:#442288; /*AAA*/
    color: white;
}

.experimental .components .img {
/* write autocrop */
}

.experimental .components header {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.experimental .styles .panel-default .panel-heading {
    background-color:#C3043E; /*AAA large text*/
    color: white;
}

.experimental .page-layouts .panel-default .panel-heading  {
    background-color:#9E6C00; /*AAA large text*/
    color: white;
}
.experimental .behaviours .panel-default .panel-heading  {
    background-color:#1f70db; /*AAA large text*/
    color: white;
}
.experimental .d-patterns .panel-default .panel-heading {
    background-color:#637A06; /*AAA large text*/
    color: white;
}

.experimental .tabs {
    height:45px;
    padding:0 0 0 0;
    overflow:visible;
}

.experimental .tab {
    height:45px;
    float:left;
    margin:0 -15px 0 0;
    flex: 0 0 auto; 
}

.experimental .tab:first-child {
    margin-left:-10px;
}

.experimental .tab-box {
    height:46px;
    background-color: #fff;
    margin:0 10px 0;
    padding:0 1em;
}

.experimental .tab.active {
    z-index:40;
    position:relative;
    padding-bottom:2.3em;
}

.experimental .tab.active .tab-box{
    background-color: #fff;
    border:1px solid #ccc;
    border-bottom: 1px solid #fff;

}

.experimental .content {
    z-index:1;
    padding:1em;
    border:1px solid #ccc;
    position:relative;
}

.experimental .flex {
    display:flex;
    flex-wrap:nowrap;
}

.experimental .flex::-webkit-scrollbar {
    display:none; 
}

@media only screen and (max-width: 768px) {
  .experimental .flex {
     overflow:auto;   /* draws a line in desktop view under selection... gonna need a hand, for now writing mobile variant */
  }
}

/* @media {
    .experimental .flex {
    }
} */