 <!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
        <title>Buttons - Demo and code - Components - Canada.ca</title>
        <meta content="width=device-width,initial-scale=1" name="viewport">
        <link href="https://www.canada.ca/etc/designs/canada/wet-boew/assets/favicon.ico" rel="icon" type="image/x-icon">
        <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css">
        <link rel="stylesheet" href="../css/custom.css">
        <link rel="stylesheet" href="../css/new-alerts.css">
        <link rel="stylesheet" href="../css/split-h1.css">
        <link rel="stylesheet" href="../css/iframe.css">
        <link rel="stylesheet" href="../css/checkbox-radio.css">
        <link rel="stylesheet" href="../css/alpha-beta-banner.css">
        <link rel="stylesheet" href="../css/component-presentation.css">
        <link rel="stylesheet" href="../css/navigation.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

        <noscript>
        <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/wet-boew/css/noscript.min.css" />
        </noscript>
        <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebPage",
            "name": "Buttons - Demo and code - Components",
            "url": "https://design.canada.ca/components/buttons-demo.html",
            "author": {
            "@type": "GovernmentOrganization",
            "name": "Treasury Board of Canada Secretariat",
            "url": "https://www.canada.ca/en/treasury-board-secretariat.html",
            "parentOrganization": {
                "@type": "GovernmentOrganization",
                "name": "Government of Canada",
                "url": "http://www.canada.ca/"
            }
            },
            "description": "Call to action to let a user complete an action, find a next step or submit a form."
        }
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105628416-2"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());


        gtag('config', 'UA-105628416-2');

        </script>
    </head>
    <body class="cnt-wdth-lmtd" vocab="http://schema.org/" typeof="WebPage">
        <ul id="wb-tphp">
        <li class="wb-slc">
            <a class="wb-sl" href="#wb-cont">Skip to main content</a>
        </li>
        <li class="wb-slc">
            <a class="wb-sl" href="#wb-info">Skip to "About government"</a>
        </li>
        </ul>
        <header>
        <div id="wb-bnr" class="container">
            <section id="wb-lng" class="link-right">
                <h2 class="wb-inv">Language selection</h2>
                <div class="row">
                    <div class="col-md-12">
                    <ul class="list-inline margin-bottom-none">
                        <li><a lang="fr" href="https://conception.canada.ca/configurations-conception-communes/alertes-contextuelles.html">Français</a></li>
                    </ul>
                    </div>
                </div>
            </section>
            <div class="row">
                <div class="brand col-xs-5 col-md-4">
                    <a href="https://www.canada.ca/en.html"><img src="http://www.canada.ca/etc/designs/canada/wet-boew/assets/sig-blk-en.svg" alt property="logo"><span class="wb-inv"> Government of Canada / <span lang="fr">Gouvernement du Canada</span></span></a>
                </div>
                <section id="wb-srch" class="col-lg-8 link-right">
                    <h2>Search</h2>
                    <form action="https://canada.ca/en/sr/srb.html" method="get" name="cse-search-box" role="search" class="form-inline">
                    <div class="form-group">
                        <label for="wb-srch-q" class="wb-inv">Search website</label>
                        <input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="38" maxlength="150" placeholder="Search Canada.ca">
                        <input name="st" value="s" type="hidden"/>
                        <input name="num" value="10" type="hidden"/>
                        <input name="langs" value="eng" type="hidden"/>
                        <input name="st1rt" value="0" type="hidden">
                        <input name="s5bm3ts21rch" value="x" type="hidden"/>
                        <datalist id="wb-srch-q-ac"></datalist>
                    </div>
                    <div class="form-group submit">
                        <button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">Search</span></button>
                    </div>
                    </form>
                </section>
            </div>
        </div>
        <nav class="gweb-v2 gcweb-menu" typeof="SiteNavigationElement">
            <div class="container">
                <h2 class="wb-inv">Menu</h2>
                <button type="button" aria-haspopup="true" aria-controls="gc-mnu" aria-expanded="false"><span class="wb-inv">Main </span>Menu <span class="expicon glyphicon glyphicon-chevron-down"></span></button>
                <ul id="gc-mnu" role="menu" aria-orientation="vertical" data-ajax-replace="https://www.canada.ca/content/dam/canada/sitemenu/sitemenu-v2-en.html">
                    <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/jobs.html">Jobs and the workplace</a></li>
                    <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration and citizenship</a></li>
                    <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://travel.gc.ca/">Travel and tourism</a></li>
                    <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/business.html">Business and industry</a></li>
                    <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/benefits.html">Benefits</a></li>
                    <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/health.html">Health</a></li>
                    <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/taxes.html">Taxes</a></li>
                    <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/environment.html">Environment and natural resources</a></li>
                    <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/defence.html">National security and defence</a></li>
                    <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/culture.html">Culture, history and sport</a></li>
                    <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/policing.html">Policing, justice and emergencies</a></li>
                    <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/transport.html">Transport and infrastructure</a></li>
                    <li role="none presentation"><a role="menuitem" tabindex="-1" href="http://international.gc.ca/world-monde/index.aspx?lang=eng">Canada and the world</a></li>
                    <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/finance.html">Money and finances</a></li>
                    <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/finance.html">Science and innovation</a></li>
                </ul>
            </div>
        </nav>
        <nav id="wb-bc" property="breadcrumb">
            <h2>You are here:</h2>
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href='https://www.canada.ca/en.html'>Canada.ca</a></li>
                    <li><a href='https://www.canada.ca/en/government/about.html'>About Canada.ca</a></li>
                    <li><a href='https://www.canada.ca/en/government/about/design-system.html'>Canada.ca design system</a></li>
                    <li><a href='https://www.canada.ca/en/government/about/design-system/pattern-library.html'>Template and pattern library for Canada.ca</a></li>
                </ol>
            </div>
        </nav>
        </header>
        <!--/* Hide Nav; Hide Right Rail /*-->
        <main role="main" property="mainContentOfPage" class="container wb-prettify all-pre">
        <h1 property="name" id="wb-cont" dir="ltr"><span class="stacked"><span>Buttons</span>: <span>Demo and code</span></span></h1>
        <div class="row profile">
            <div class="col-md-9">
                <p class="pagetag">Call to action to let a user complete an action, find a next step or submit a form.</p>
            </div>
            <div class="col-md-3">
                <div class="small">
                    <ul class="list-unstyled">
                    <li class="mrgn-rght-lg"><strong>Version:</strong> 0.1</li>
                    <li class="mrgn-rght-lg"><strong>Updated:</strong> Dec 24, 2019</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <div class="btn-group mrgn-bttm-sm mrgn-tp-md">
                    <a class="btn btn-default" href="./buttons.html"><span class="fas fa-pen-square"></span> <strong>Design guidelines</strong></a>
                    <a class="btn btn-default active"><span class="fas fa-laptop-code"></span> Demo and code</a>
                    <a class="btn btn-default" href="./buttons-rationale.html"><span class="fas fa-microscope"></span> Research</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 col-xs-12 mrgn-tp-md pull-right">
                <div id="demo" class="pattern-demo pattern-demo-component">
                    <div id="primary-demo" class="component-demo hidden">
                        <div id="base-primary-layout" class="layout-demo">
                            <iframe title="Primary button with active and disabled states layout example" class="example-frame example-frame-resizable example-frame-m" src="./demos/buttons/wet4/base-primary.html" frameborder="0" loading="lazy" onload="resizeIframe(this);"></iframe>
                        </div>
                        <div id="block-primary-layout" class="layout-demo">
                            <iframe title="Full width primary button layout example" class="example-frame example-frame-resizable example-frame-m" src="./demos/buttons/wet4/block-primary.html" frameborder="0" loading="lazy" onload="resizeIframe(this);"></iframe>
                        </div>
                        <div id="group-primary-layout" class="layout-demo hidden">
                            <iframe title="Grouped primary buttons layout example" class="example-frame example-frame-resizable example-frame-m" src="./demos/buttons/wet4/group-primary.html" frameborder="0" loading="lazy" onload="resizeIframe(this);"></iframe>
                        </div>
                        <div id="sizing-primary-layout" class="layout-demo hidden">
                            <iframe title="Primary button layout example" class="example-frame example-frame-resizable example-frame-m" src="./demos/buttons/wet4/sizing-primary.html" frameborder="0" loading="lazy" onload="resizeIframe(this);"></iframe>
                        </div>
                    </div>
                    <div id="secondary-demo" class="component-demo">
                        <div id="base-secondary-layout" class="layout-demo example-frame-bkg">
                            <iframe title="Secondary button with active and disabled states layout example" class="example-frame example-frame-resizable example-frame-m" src="./demos/buttons/wet4/base-secondary.html" frameborder="0" loading="lazy" onload="resizeIframe(this);"></iframe>
                        </div>
                        <div id="block-secondary-layout" class="layout-demo example-frame-bkg">
                            <iframe title="Full width secondary button layout example" class="example-frame example-frame-resizable example-frame-m" src="./demos/buttons/wet4/block-secondary.html" frameborder="0" loading="lazy" onload="resizeIframe(this);"></iframe>
                        </div>
                        <div id="group-secondary-layout" class="layout-demo hidden">
                            <iframe title="Grouped secondary buttons layout example" class="example-frame example-frame-resizable example-frame-m" src="./demos/buttons/wet4/group-secondary.html" frameborder="0" loading="lazy" onload="resizeIframe(this);"></iframe>
                        </div>
                        <div id="sizing-secondary-layout" class="layout-demo hidden">
                            <iframe title="Secondary button layout example" class="example-frame example-frame-resizable example-frame-m" src="./demos/buttons/wet4/sizing-secondary.html" frameborder="0" loading="lazy" onload="resizeIframe(this);"></iframe>
                        </div>
                    </div>
                    <div id="link-demo" class="component-demo hidden">
                        <div id="base-link-layout" class="layout-demo">
                            <iframe title="Link button with active and disabled states layout example" class="example-frame example-frame-resizable example-frame-m" src="./demos/buttons/wet4/base-link.html" frameborder="0" loading="lazy" onload="resizeIframe(this);"></iframe>
                        </div>
                        <div id="block-link-layout" class="layout-demo">
                            <iframe title="Full width link button layout example" class="example-frame example-frame-resizable example-frame-m" src="./demos/buttons/wet4/block-link.html" frameborder="0" loading="lazy" onload="resizeIframe(this);"></iframe>
                        </div>
                        <div id="sizing-link-layout" class="layout-demo hidden">
                            <iframe title="Text button in disabled state layout example" class="example-frame example-frame-resizable example-frame-m" src="./demos/buttons/wet4/sizing-link.html" frameborder="0" loading="lazy" onload="resizeIframe(this);"></iframe>
                        </div>
                    </div>
                    <div id="call-to-action-demo" class="component-demo hidden">
                        <div id="base-call-to-action-layout" class="layout-demo">
                            <iframe title="Call to action button with active and disabled states layout example" class="example-frame example-frame-resizable example-frame-m" src="./demos/buttons/wet4/base-call-to-action.html" frameborder="0" loading="lazy" onload="resizeIframe(this);"></iframe>
                        </div>
                        <div id="block-call-to-action-layout" class="layout-demo">
                            <iframe title="Full width call to action button layout example" class="example-frame example-frame-resizable example-frame-m" src="./demos/buttons/wet4/block-call-to-action.html" frameborder="0" loading="lazy" onload="resizeIframe(this);"></iframe>
                        </div>
                        <div id="sizing-call-to-action-layout" class="layout-demo hidden">
                            <iframe title="Call to action button in disabled state layout example" class="example-frame example-frame-resizable example-frame-m" src="./demos/buttons/wet4/sizing-call-to-action.html" frameborder="0" loading="lazy" onload="resizeIframe(this);"></iframe>
                        </div>
                    </div>
                    <div id="danger-demo" class="component-demo hidden">
                        <div id="base-danger-layout" class="layout-demo">
                            <iframe title="Danger button with active and disabled states layout example" class="example-frame example-frame-resizable example-frame-m" src="./demos/buttons/wet4/base-danger.html" frameborder="0" loading="lazy" onload="resizeIframe(this);"></iframe>
                        </div>
                        <div id="block-danger-layout" class="layout-demo">
                            <iframe title="Full width danger button layout example" class="example-frame example-frame-resizable example-frame-m" src="./demos/buttons/wet4/block-danger.html" frameborder="0" loading="lazy" onload="resizeIframe(this);"></iframe>
                        </div>
                        <div id="sizing-danger-layout" class="layout-demo hidden">
                            <iframe title="Danger button in disabled state layout example" class="example-frame example-frame-resizable example-frame-m" src="./demos/buttons/wet4/sizing-danger.html" frameborder="0" loading="lazy" onload="resizeIframe(this);"></iframe>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button id="resize-iframe-mobile" class="btn btn-default"><span class="fas fa-mobile-alt"></span> <strong>SM</strong></button>
                        <button id="resize-iframe-tablet" class="btn btn-default"><span class="fas fa-tablet-alt"></span> <strong>MD</strong></button>
                        <button id="resize-iframe-desktop" class="btn btn-default"><span class="fas fa-desktop"></span> <strong>LG</strong></button>
                     </div>
                </div>
            </div>
            <div class="col-md-3 pull-left">
                <div class="mrgn-bttm-sm">
                    <fieldset>
                        <label for="design-variant-menu" class="h5">Design variant</label>
                        <select id="design-variant-menu" class="form-control">
                            <option value="primary">Primary</option>
                            <option value="secondary">Secondary</option>
                            <option value="link">Link</option>
                            <option value="call-to-action">Call to action</option>
                            <option value="pagination">Pagination</option>
                        </select>
                    </fieldset>
                 </div>
                 <div id="primary-submenu" class="mrgn-bttm-sm doormat-options layout-submenu hidden">
                    <fieldset>
                        <label for="primary-layout-menu" class="h5">States</label>
                        <select id="primary-layout-menu" class="form-control layout-variant-menu">
                            <option value="base-primary">Basic</option>
                            <option value="block-primary">Full width</option>
                            <option value="group-primary">Grouped</option>
                            <option value="sizing-primary">Alternate sizes</option>
                        </select>
                    </fieldset>
                 </div>
                 <div id="secondary-submenu" class="mrgn-bttm-sm doormat-options layout-submenu">
                    <fieldset>
                        <label for="secondary-layout-menu" class="h5">States</label>
                        <select id="secondary-layout-menu" class="form-control layout-variant-menu">
                            <option value="base-secondary">Basic</option>
                            <option value="block-secondary">Full width</option>
                            <option value="group-secondary">Grouped</option>
                            <option value="sizing-secondary">Alternate sizes</option>
                        </select>
                    </fieldset>
                 </div>
                 <div id="link-submenu" class="mrgn-bttm-sm doormat-options layout-submenu hidden">
                    <fieldset>
                       <label for="link-layout-menu" class="h5">States</label>
                        <select id="link-layout-menu" class="form-control layout-variant-menu">
                            <option value="block-link">Basic</option>
                            <option value="block-link">Full width</option>
                            <option value="sizing-link">Alternate sizes</option>
                        </select>
                    </fieldset>
                 </div>
                 <div id="call-to-action-submenu" class="mrgn-bttm-sm doormat-options layout-submenu hidden">
                    <fieldset>
                        <label for="call-to-action-layout-menu" class="h5">States</label>
                        <select id="call-to-action-layout-menu" class="form-control layout-variant-menu">
                            <option value="base-call-to-action">Basic</option>
                            <option value="block-call-to-action">Full width</option>
                            <option value="sizing-call-to-action">Alternate sizes</option>
                        </select>
                    </fieldset>
                 </div>
                 <div id="danger-submenu" class="mrgn-bttm-sm doormat-options layout-submenu hidden">
                    <fieldset>
                        <label for="danger-layout-menu" class="h5">States</label>
                        <select id="danger-layout-menu" class="form-control layout-variant-menu">
                            <option value="base-danger">Basic</option>
                            <option value="block-danger">Full width</option>
                            <option value="sizing-danger">Alternate sizes</option>
                        </select>
                    </fieldset>
                 </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 col-xs-12 mrgn-tp-lg pull-right">
                <div id="primary-code" class="component-code hidden">
                    <div id="default-primary-code" class="layout-code">
                        <div class="code-variant wet4-variant">
                            <pre><code>&lt;button class="btn btn-primary"&gt;Action&lt;/button&gt;</code></pre>
                            <pre><code>&lt;a class="btn btn-primary"&gt;Action&lt;/a&gt;</code></pre>
                        </div>
                        <div class="code-variant react-variant hidden">
                            <h3>ReactJS</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                        <div class="code-variant angular-variant hidden">
                            <h3>Angular</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                    </div>
                    <div id="active-primary-code" class="layout-code hidden">
                        <div class="code-variant wet4-variant">
                            <pre><code>&lt;button class="btn btn-primary active"&gt;Action&lt;/button&gt;</code></pre>
                            <pre><code>&lt;a class="btn btn-primary active"&gt;Action&lt;/a&gt;</code></pre>
                        </div>
                        <div class="code-variant react-variant hidden">
                            <h3>ReactJS</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                        <div class="code-variant angular-variant hidden">
                            <h3>Angular</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                    </div>
                    <div id="disabled-primary-code" class="layout-code hidden">
                        <div class="code-variant wet4-variant">
                            <pre><code>&lt;button class="btn btn-primary disabled"&gt;Action&lt;/button&gt;</code></pre>
                            <pre><code>&lt;a class="btn btn-primary disabled"&gt;Action&lt;/a&gt;</code></pre>
                        </div>
                        <div class="code-variant react-variant hidden">
                            <h3>ReactJS</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                        <div class="code-variant angular-variant hidden">
                            <h3>Angular</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                    </div>
                </div>
                <div id="secondary-code" class="component-code">
                    <div id="base-secondary-code" class="layout-code">
                        <div class="code-variant wet4-variant">
                            <pre><code>&lt;button class="btn btn-default"&gt;Action&lt;/button&gt;</code></pre>
                            <pre><code>&lt;a class="btn btn-default"&gt;Action&lt;/a&gt;</code></pre>
                        </div>
                        <div class="code-variant react-variant hidden">
                            <h3>ReactJS</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                        <div class="code-variant angular-variant hidden">
                            <h3>Angular</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                    </div>
                    <div id="block-secondary-code" class="layout-code hidden">
                        <div class="code-variant wet4-variant">
                            <pre><code>&lt;button class="btn btn-default active"&gt;Action&lt;/button&gt;</code></pre>
                            <pre><code>&lt;a class="btn btn-default active"&gt;Action&lt;/a&gt;</code></pre>
                        </div>
                        <div class="code-variant react-variant hidden">
                            <h3>ReactJS</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                        <div class="code-variant angular-variant hidden">
                            <h3>Angular</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                    </div>
                    <div id="group-secondary-code" class="layout-code hidden">
                        <div class="code-variant wet4-variant">
                            <pre><code>&lt;button class="btn btn-default disabled"&gt;Action&lt;/button&gt;</code></pre>
                            <pre><code>&lt;a class="btn btn-default disabled"&gt;Action&lt;/a&gt;</code></pre>
                        </div>
                        <div class="code-variant react-variant hidden">
                            <h3>ReactJS</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                        <div class="code-variant angular-variant hidden">
                            <h3>Angular</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                    </div>
                    <div id="sizing-secondary-code" class="layout-code hidden">
                        <div class="code-variant wet4-variant">
                            <pre><code>&lt;button class="btn btn-default disabled"&gt;Action&lt;/button&gt;</code></pre>
                            <pre><code>&lt;a class="btn btn-default disabled"&gt;Action&lt;/a&gt;</code></pre>
                        </div>
                        <div class="code-variant react-variant hidden">
                            <h3>ReactJS</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                        <div class="code-variant angular-variant hidden">
                            <h3>Angular</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                    </div>
                </div>
                <div id="link-code" class="component-code hidden">
                    <div id="base-link-code" class="layout-code">
                        <div class="code-variant wet4-variant">
                            <pre><code>&lt;button class="btn btn-link"&gt;Action&lt;/button&gt;</code></pre>
                            <pre><code>&lt;a class="btn btn-link"&gt;Action&lt;/a&gt;</code></pre>
                        </div>
                        <div class="code-variant react-variant hidden">
                            <h3>ReactJS</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                        <div class="code-variant angular-variant hidden">
                            <h3>Angular</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                    </div>
                    <div id="block-link-code" class="layout-code hidden">
                        <div class="code-variant wet4-variant">
                            <pre><code>&lt;button class="btn btn-link active"&gt;Action&lt;/button&gt;</code></pre>
                            <pre><code>&lt;a class="btn btn-link active"&gt;Action&lt;/a&gt;</code></pre>
                        </div>
                        <div class="code-variant react-variant hidden">
                            <h3>ReactJS</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                        <div class="code-variant angular-variant hidden">
                            <h3>Angular</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                    </div>
                    <div id="group-link-code" class="layout-code hidden">
                        <div class="code-variant wet4-variant">
                            <pre><code>&lt;button class="btn btn-link disabled"&gt;Action&lt;/button&gt;</code></pre>
                            <pre><code>&lt;a class="btn btn-link disabled"&gt;Action&lt;/a&gt;</code></pre>
                        </div>
                        <div class="code-variant react-variant hidden">
                            <h3>ReactJS</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                        <div class="code-variant angular-variant hidden">
                            <h3>Angular</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                    </div>
                    <div id="sizing-link-code" class="layout-code hidden">
                        <div class="code-variant wet4-variant">
                            <pre><code>&lt;button class="btn btn-link disabled"&gt;Action&lt;/button&gt;</code></pre>
                            <pre><code>&lt;a class="btn btn-link disabled"&gt;Action&lt;/a&gt;</code></pre>
                        </div>
                        <div class="code-variant react-variant hidden">
                            <h3>ReactJS</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                        <div class="code-variant angular-variant hidden">
                            <h3>Angular</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                    </div>
                </div>
                <div id="call-to-action-code" class="component-code hidden">
                    <div id="base-call-to-action-code" class="layout-code">
                        <div class="code-variant wet4-variant">
                            <pre><code>&lt;button class="btn btn-call-to-action"&gt;Action&lt;/button&gt;</code></pre>
                            <pre><code>&lt;a class="btn btn-call-to-action"&gt;Action&lt;/a&gt;</code></pre>
                        </div>
                        <div class="code-variant react-variant hidden">
                            <h3>ReactJS</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                        <div class="code-variant angular-variant hidden">
                            <h3>Angular</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                    </div>
                    <div id="block-call-to-action-code" class="layout-code hidden">
                        <div class="code-variant wet4-variant">
                            <pre><code>&lt;button class="btn btn-call-to-action active"&gt;Action&lt;/button&gt;</code></pre>
                            <pre><code>&lt;a class="btn btn-call-to-action active"&gt;Action&lt;/a&gt;</code></pre>
                        </div>
                        <div class="code-variant react-variant hidden">
                            <h3>ReactJS</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                        <div class="code-variant angular-variant hidden">
                            <h3>Angular</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                    </div>
                    <div id="group-call-to-action-code" class="layout-code hidden">
                        <div class="code-variant wet4-variant">
                            <pre><code>&lt;button class="btn btn-call-to-action disabled"&gt;Action&lt;/button&gt;</code></pre>
                            <pre><code>&lt;a class="btn btn-call-to-action disabled"&gt;Action&lt;/a&gt;</code></pre>
                        </div>
                        <div class="code-variant react-variant hidden">
                            <h3>ReactJS</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                        <div class="code-variant angular-variant hidden">
                            <h3>Angular</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                    </div>
                    <div id="sizing-call-to-action-code" class="layout-code hidden">
                        <div class="code-variant wet4-variant">
                            <pre><code>&lt;button class="btn btn-call-to-action disabled"&gt;Action&lt;/button&gt;</code></pre>
                            <pre><code>&lt;a class="btn btn-call-to-action disabled"&gt;Action&lt;/a&gt;</code></pre>
                        </div>
                        <div class="code-variant react-variant hidden">
                            <h3>ReactJS</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                        <div class="code-variant angular-variant hidden">
                            <h3>Angular</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                    </div>
                </div>
                <div id="danger-code" class="component-code hidden">
                    <div id="default-danger-code" class="layout-code">
                        <div class="code-variant wet4-variant">
                            <pre><code>&lt;button class="btn btn-danger"&gt;Action&lt;/button&gt;</code></pre>
                            <pre><code>&lt;a class="btn btn-danger"&gt;Action&lt;/a&gt;</code></pre>
                        </div>
                        <div class="code-variant react-variant hidden">
                            <h3>ReactJS</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                        <div class="code-variant angular-variant hidden">
                            <h3>Angular</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                    </div>
                    <div id="active-danger-code" class="layout-code hidden">
                        <div class="code-variant wet4-variant">
                            <pre><code>&lt;button class="btn btn-danger active"&gt;Action&lt;/button&gt;</code></pre>
                            <pre><code>&lt;a class="btn btn-danger active"&gt;Action&lt;/a&gt;</code></pre>
                        </div>
                        <div class="code-variant react-variant hidden">
                            <h3>ReactJS</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                        <div class="code-variant angular-variant hidden">
                            <h3>Angular</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                    </div>
                    <div id="disabled-danger-code" class="layout-code hidden">
                        <div class="code-variant wet4-variant">
                            <pre><code>&lt;button class="btn btn-danger disabled"&gt;Action&lt;/button&gt;</code></pre>
                            <pre><code>&lt;a class="btn btn-danger disabled"&gt;Action&lt;/a&gt;</code></pre>
                        </div>
                        <div class="code-variant react-variant hidden">
                            <h3>ReactJS</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                        <div class="code-variant angular-variant hidden">
                            <h3>Angular</h3>
                            <p>Doesn't exist yet. Want to contribute?</p>
                            <p><a href="https://canada-ca.github.io/design-system-systeme-conception/backlog/contribution-process.html" class="btn btn-default">Contribute to the design system</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 pull-left">
                <div class="mrgn-bttm-sm">
                    <fieldset>
                    <label for="code-variant-menu" class="h5">Code variant</label>
                    <select id="code-variant-menu" class="form-control">
                        <option value="wet4">WET 4</option>
                        <option value="react">ReactJS</option>
                        <option value="angular">Angular</option>
                    </select>
                    </fieldset>
                </div>
            </div>
        </div>
        <section>
            <h2 id="how">Customisation</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Option</th>
                        <th>Description</th>
                        <th>How to use</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Full width</td>
                        <td>Make a button occupy the full width of its column.</td>
                        <td>Add the class <code>btn-block</code> to button.</td>
                    </tr>
                    <tr>
                        <td>Grouped buttons</td>
                        <td>Buttons can be grouped side by side, such as for toggle buttons.</td>
                        <td>Surround the grouped buttons with a <code>div</code> with the class <code>btn-group</code>.</td>
                    </tr>
                    <tr>
                        <td>Change sizing</td>
                        <td>Buttons can be sized to improve visibility for call to actions or to save space in designs such as a toggle.</td>
                        <td>Apply the following classes to the button:
                            <ul>
                                <li>Large: <code>btn-lg</code></li>
                                <li>Small: <code>btn-sm</code></li>
                                <li>Extra small: <code>btn-xs</code></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Call a javascript function</td>
                        <td>Call a javascript function to complete the action.</td>
                        <td>((Would we give options? Leave javascript in its own separate guide?))</td>
                    </tr>
                </tbody>
              </table>
        </section>
        <section>
            <h2 id="design-kits">Available in the design kit</h2>
            <div class="row">
                <div class="col-sm-4 col-xs-7 col-md-2">
                    <ul class="list-unstyled lst-spcd">
                        <li><a class="btn btn-default btn-block"><span class="fas fa-arrow-circle-down"></span> Photoshop</a></li>
                        <li class=""><a class="btn btn-default btn-block"><span class="fas fa-arrow-circle-down"></span> Axure XP</a></li>
                    </ul>
                </div>
            </div>
		</section>
        <section>
            <h2 id="versions">Latest changes</h2>
            <dl class="dl-horizontal">
                <dt>Version 0.1:<br><small><time datetime="2019-12-24" class="link-muted">Dec 24, 2019</time></small></dt>
                <dd>Button placeholder was made based on ISED mock up.</dd>
            </dl>
        </section>
        <section>
            <h2 id="discuss">Discussion</h2>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <p><a href="https://github.com/canada-ca/design-system-systeme-conception/issues" class="btn btn-default btn-block"><span class="fab fa-github"></span> Report an issue in github</a></p>
                    <p><a href="" class="btn btn-default btn-block"><span class="fab fa-slack"></span> Join the conversation on slack</a></p>
                </div>
            </div>
        </section>
        <div class="row pagedetails">
            <div class="col-sm-6 col-lg-4 mrgn-tp-sm">
                <div class="panel-pane pane-block pane-bean-report-problem-button"  >
                    <div class="pane-content">
                    <section>
                        <div class="field field-name-field-bean-wetkit-body field-type-link-long field-label-hidden">
                            <div class="field-items">
                                <div class="field-item even"><a class="btn btn-default btn-block" href="https://www.canada.ca/en/report-problem.html">Report a problem on this page</a></div>
                            </div>
                        </div>
                    </section>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mrgn-tp-sm pull-right">
            </div>
            <div class="datemod col-xs-12 mrgn-tp-lg">
                <dl id="wb-dtmd">
                    <dt>Date modified:</dt>
                    <dd><time property="dateModified">2018-12-19</time></dd>
                </dl>
            </div>
        </div>
        </main>
        <footer id="wb-info">
        <div class="landscape">
            <nav class="container wb-navcurr">
                <h2 class="wb-inv">About government</h2>
                <ul class="list-unstyled colcount-sm-2 colcount-md-3">
                    <li><a href="https://www.canada.ca/en/contact.html">Contact us</a></li>
                    <li><a href="https://www.canada.ca/en/government/dept.html">Departments and agencies</a></li>
                    <li><a href="https://www.canada.ca/en/government/publicservice.html">Public service and military</a></li>
                    <li><a href="https://www.canada.ca/en/news.html">News</a></li>
                    <li><a href="https://www.canada.ca/en/government/system/laws.html">Treaties, laws and regulations</a></li>
                    <li><a href="https://www.canada.ca/en/transparency/reporting.html">Government-wide reporting</a></li>
                    <li><a href="https://pm.gc.ca/eng">Prime Minister</a></li>
                    <li><a href="https://www.canada.ca/en/government/system.html">How government works</a></li>
                    <li><a href="https://open.canada.ca/en/">Open government</a></li>
                </ul>
            </nav>
        </div>
        <div class="brand">
            <div class="container">
                <div class="row">
                    <nav class="col-md-9 col-lg-10 ftr-urlt-lnk">
                    <h2 class="wb-inv">About this site</h2>
                    <ul>
                        <li><a href="https://www.canada.ca/en/social.html">Social media</a></li>
                        <li><a href="https://www.canada.ca/en/mobile.html">Mobile applications</a></li>
                        <li><a href="https://www1.canada.ca/en/newsite.html">About Canada.ca</a></li>
                        <li><a href="https://www.canada.ca/en/transparency/terms.html">Terms and conditions</a></li>
                        <li><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li>
                    </ul>
                    </nav>
                    <div class="col-xs-6 visible-sm visible-xs tofpg">
                    <a href="#wb-cont">Top of Page <span class="glyphicon glyphicon-chevron-up"></span></a>
                    </div>
                    <div class="col-xs-6 col-md-3 col-lg-2 link-right">
                    <img src="http://www.canada.ca/etc/designs/canada/wet-boew/assets/wmms-blk.svg" alt="Symbol of the Government of Canada">
                    </div>
                </div>
            </div>
        </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
        <script src="https://wet-boew.github.io/themes-dist/GCWeb/wet-boew/js/wet-boew.min.js"></script>
        <script src="https://www.canada.ca/etc/designs/canada/wet-boew/js/theme.min.js"></script>
        <script src="../js/demo-toggles.js"></script>
        <script src="../js/resize-iframe.js"></script>
    </body>
</html>
