 <!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
        <title>Data picture - Design guidelines - Components - Canada.ca</title>
        <meta content="width=device-width,initial-scale=1" name="viewport">
        <link href="https://www.canada.ca/etc/designs/canada/wet-boew/assets/favicon.ico" rel="icon" type="image/x-icon">
        <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css">
        <link rel="stylesheet" href="../css/custom.css">
        <link rel="stylesheet" href="../css/new-alerts.css">
        <link rel="stylesheet" href="../css/split-h1.css">
        <link rel="stylesheet" href="../css/checkbox-radio.css">
        <link rel="stylesheet" href="../css/alpha-beta-banner.css">
        <link rel="stylesheet" href="../css/component-presentation.css">
        <link rel="stylesheet" href="../css/do-dont.css">
        <link rel="stylesheet" href="../css/navigation.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

        <noscript><link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/wet-boew/css/noscript.min.css" /></noscript>
        <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebPage",
            "name": "Data picture - Design guidelines - Components",
            "url": "https://design.canada.ca/components/data-picture.html",
            "author": {
            "@type": "GovernmentOrganization",
            "name": "Treasury Board of Canada Secretariat",
            "url": "https://www.canada.ca/en/treasury-board-secretariat.html",
            "parentOrganization": {
                "@type": "GovernmentOrganization",
                "name": "Government of Canada",
                "url": "http://www.canada.ca/"
            }
            },
            "description": "Allow a web page to specify different image sources to display based on media queries. The component is an event driven port of <a href="https://github.com/scottjehl/picturefill">Picturefill</a>."
        }
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105628416-2"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-105628416-2');
        </script>
    </head>
    <body class="cnt-wdth-lmtd" vocab="http://schema.org/" typeof="WebPage">
        <ul id="wb-tphp">
        <li class="wb-slc">
            <a class="wb-sl" href="#wb-cont">Skip to main content</a>
        </li>
        <li class="wb-slc">
            <a class="wb-sl" href="#wb-info">Skip to "About government"</a>
        </li>
        </ul>
        <header>
        <div id="wb-bnr" class="container">
            <section id="wb-lng" class="text-right">
                <h2 class="wb-inv">Language selection</h2>
                <div class="row">
                    <div class="col-md-12">
                    <ul class="list-inline margin-bottom-none">
                        <li><a lang="fr" href="https://conception.canada.ca/configurations-conception-communes/alertes-contextuelles.html">Français</a></li>
                    </ul>
                    </div>
                </div>
            </section>
            <div class="row">
                <div class="brand col-xs-5 col-md-4">
                    <a href="https://www.canada.ca/en.html"><img src="http://www.canada.ca/etc/designs/canada/wet-boew/assets/sig-blk-en.svg" alt=""><span class="wb-inv"> Government of Canada / <span lang="fr">Gouvernement du Canada</span></span></a>
                </div>
                <section id="wb-srch" class="col-lg-8 text-right">
                    <h2>Search</h2>
                    <form action="https://canada.ca/en/sr/srb.html" method="get" name="cse-search-box" role="search" class="form-inline">
                    <div class="form-group">
                        <label for="wb-srch-q" class="wb-inv">Search website</label>
                        <input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="38" maxlength="150" placeholder="Search Canada.ca">
                        <input name="st" value="s" type="hidden"/>
                        <input name="num" value="10" type="hidden"/>
                        <input name="langs" value="eng" type="hidden"/>
                        <input name="st1rt" value="0" type="hidden">
                        <input name="s5bm3ts21rch" value="x" type="hidden"/>
                        <datalist id="wb-srch-q-ac"></datalist>
                    </div>
                    <div class="form-group submit">
                        <button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">Search</span></button>
                    </div>
                    </form>
                </section>
            </div>
        </div>
        <nav class="gweb-v2 gcweb-menu" typeof="SiteNavigationElement">
            <div class="container">
                <h2 class="wb-inv">Menu</h2>
                <button type="button" aria-haspopup="true" aria-controls="gc-mnu" aria-expanded="false"><span class="wb-inv">Main </span>Menu <span class="expicon glyphicon glyphicon-chevron-down"></span></button>
                <ul id="gc-mnu" role="menu" aria-orientation="vertical" data-ajax-replace="https://www.canada.ca/content/dam/canada/sitemenu/sitemenu-v2-en.html">
                    <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/jobs.html">Jobs and the workplace</a></li>
                    <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration and citizenship</a></li>
                    <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://travel.gc.ca/">Travel and tourism</a></li>
                    <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/business.html">Business and industry</a></li>
                    <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/benefits.html">Benefits</a></li>
                    <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/health.html">Health</a></li>
                    <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/taxes.html">Taxes</a></li>
                    <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/environment.html">Environment and natural resources</a></li>
                    <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/defence.html">National security and defence</a></li>
                    <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/culture.html">Culture, history and sport</a></li>
                    <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/policing.html">Policing, justice and emergencies</a></li>
                    <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/transport.html">Transport and infrastructure</a></li>
                    <li role="none presentation"><a role="menuitem" tabindex="-1" href="http://international.gc.ca/world-monde/index.aspx?lang=eng">Canada and the world</a></li>
                    <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/finance.html">Money and finances</a></li>
                    <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/finance.html">Science and innovation</a></li>
                </ul>
            </div>
        </nav>
        <nav id="wb-bc" property="breadcrumb">
            <h2>You are here:</h2>
            <div class="container">
                <ol class="breadcrumb">
                    <li><a href='https://www.canada.ca/en.html'>Canada.ca</a></li>
                    <li><a href='https://www.canada.ca/en/government/about.html'>About Canada.ca</a></li>
                    <li><a href='https://www.canada.ca/en/government/about/design-system.html'>Canada.ca design system</a></li>
                    <li><a href='https://www.canada.ca/en/government/about/design-system/pattern-library.html'>Template and pattern library for Canada.ca</a></li>
                </ol>
            </div>
        </nav>
        </header>
        <!--/* Hide Nav; Hide Right Rail /*-->
        <main role="main" property="mainContentOfPage" class="container wb-prettify all-pre">
        <h1>Data picture</h1>
        <div class="row profile">
            <div class="col-md-9">
                <p class="pagetag">Allow a web page to specify different image sources to display based on media queries. The component is an event driven port of <a href="https://github.com/scottjehl/picturefill">Picturefill</a>.</p>
            </div>
            <div class="col-md-3">
                <div class="small">
                    <ul class="list-unstyled">
                    <li><span class="wb-inv"><strong>Progress:</strong> </span><label class="label label-danger">WxT Style guide</label></li>
                    <li class="mrgn-rght-lg"><strong>Version:</strong> x.x</li>
                    <li class="mrgn-rght-lg"><strong>Updated:</strong> Aug 4, 2014</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <div class="experimental">
                    <section class="alert alert-warning">
                        <h3>We are currently revising this component</h3>
						<p>Data picture guidance is being currently being revised for use in the GC Design System and might be deprecated.</p>
                    </section>
                </div>
            </div>
        </div>
        <section>
            <h2>Purpose</h2>
            <p>Allow a web page to specify different image sources to display based on media queries. The component is an event driven port of <a href="https://github.com/scottjehl/picturefill">Picturefill</a>.</p>
         </section>
         <section>
            <h2>Use when</h2>
            <ul>
               <li>Displaying different sized images for different browser screen sizes.</li>
               <li>Displaying different resolution images to devices with different pixel densities.</li>
            </ul>
         </section>
         <section>
            <h2>Working example</h2>


            <section>
                <h3>Purpose</h3>
                <p>Event driven port of <a href="https://github.com/scottjehl/picturefill">Picturefill</a>.</p>
             </section>
             <section>
                <h3>Features</h2>
                <section>
                   <h4>Browser Width</h3>
                   <p>This example uses <a href="https://www.w3.org/TR/css3-mediaqueries/#width">min-width</a> to determine which image should be displayed. Resize the browser window to see the different images load.</p>
                   <figure>
                      <span data-pic="data-pic" data-alt="Parliament Hill" data-class="img-responsive">
                         <!-- Default image: <div [data-src]> with no data-media attribute is displayed when:
                            1. None of the other <div [data-src]> media queries match.
                            2. The browser doesn't support media queries -->
                         <span data-src="../images/data-picture/parliament-hill-large.jpg"></span>
                         <!-- Images for browsers with CSS media query support -->
                         <span data-src="../images/data-picture/parliament-hill-small.jpg" data-media="(min-width: 0px)"></span>
                         <span data-src="../images/data-picture/parliament-hill-medium.jpg" data-media="(min-width: 768px)"></span>
                         <span data-src="../images/data-picture/parliament-hill-large.jpg" data-media="(min-width: 992px)"></span>
                         <span data-src="../images/data-picture/parliament-hill-extralarge.jpg" data-media="(min-width: 1200px)"></span>
                         <!-- Fallback content for non-JS browsers -->
                         <noscript><img src="../images/data-picture/parliament-hill-large.jpg" alt="Parliament Hill"></noscript>
                      </span>
                      <figcaption>
                         <p>Photo by <a href="https://www.flickr.com/photos/intercultura/6130311384">Noema Pérez</a>, licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/deed.en_CA">Creative Commons</a>.</p>
                      </figcaption>
                   </figure>
                   <details class="wb-prettify all-pre linenums">
                      <summary>View code</summary>
                      <pre><code>&lt;figure&gt;
                 &lt;span data-pic="data-pic" data-alt="Parliament Hill" data-class="img-responsive"&gt;
                     &lt;!-- Default image: &lt;div [data-src]&gt; with no data-media attribute is displayed when:
                             1. None of the other &lt;div [data-src]&gt; media queries match.
                             2. The browser doesn't support media queries --&gt;
                     &lt;span data-src="../images/data-picture/parliament-hill-large.jpg"&gt;&lt;/span&gt;

                     &lt;!-- Images for browsers with CSS media query support --&gt;
                     &lt;span data-src="../images/data-picture/parliament-hill-small.jpg" data-media="(min-width: 0px)"&gt;&lt;/span&gt;
                     &lt;span data-src="../images/data-picture/parliament-hill-medium.jpg" data-media="(min-width: 500px)"&gt;&lt;/span&gt;
                     &lt;span data-src="../images/data-picture/parliament-hill-large.jpg" data-media="(min-width: 960px)"&gt;&lt;/span&gt;
                     &lt;span data-src="../images/data-picture/parliament-hill-extralarge.jpg" data-media="(min-width: 1200px)"&gt;&lt;/span&gt;

                     &lt;!-- Fallback content for non-JS browsers. --&gt;
                     &lt;noscript&gt;&lt;img src="../images/data-picture/parliament-hill-large.jpg" alt="Parliament Hill"/&gt;&lt;/noscript&gt;
                 &lt;/span&gt;
                 &lt;figcaption&gt;
                     &lt;p&gt;Photo by &lt;a href="https://www.flickr.com/photos/intercultura/6130311384"&gt;Noema Pérez&lt;/a&gt;, licensed under &lt;a href="https://creativecommons.org/licenses/by-nc-sa/2.0/deed.en_CA"&gt;Creative Commons&lt;/a&gt;.&lt;/p&gt;
                 &lt;/figcaption&gt;</code></pre>
                   </details>
                </section>
                <section>
                   <h4>High Pixel Density</h4>
                   <p>This example uses <a href="https://www.w3.org/blog/CSS/2012/06/14/unprefix-webkit-device-pixel-ratio/" title="Read about high resolution media queries">two media queries</a> to serve high resolution images to devices that will benefit from them (i.e. Retina displays).</p>
                   <figure>
                      <span data-pic="data-pic" data-alt="False Kiva in the Canyonlands" data-class="img-responsive">
                         <!-- Images for different device resolutions -->
                         <span data-src="../images/data-picture/cave-low-res.jpg"></span>
                         <span data-src="../images/data-picture/cave-high-res.jpg" data-media="(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi)"></span>
                         <!-- Fallback content for non-JS browsers -->
                         <noscript><img src="../images/data-picture/cave-low-res.jpg" alt="False Kiva in the Canyonlands"></noscript>
                      </span>
                      <figcaption>
                         <p>Photo by <a href="https://www.flickr.com/photos/snowpeak/7351510924/">snowpeak</a>, licensed under <a href="https://creativecommons.org/licenses/by/2.0/">Creative Commons</a>.</p>
                      </figcaption>
                   </figure>
                   <details>
                      <summary>View code</summary>
                      <pre><code>&lt;figure&gt;
                 &lt;span data-pic="data-pic" data-alt="False Kiva in the Canyonlands" data-class="img-responsive"&gt;
                     &lt;!-- Images for different device resolutions --&gt;
                     &lt;span data-src="../images/data-picture/cave-low-res.jpg"&gt;&lt;/span&gt;
                     &lt;span data-src="../images/data-picture/cave-high-res.jpg" data-media="(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi)"&gt;&lt;/span&gt;

                     &lt;!-- Fallback content for non-JS browsers --&gt;
                     &lt;noscript&gt;&lt;../images/data-picture src="img/cave-low-res.jpg" alt="False Kiva in the Canyonlands"/&gt;&lt;/noscript&gt;
                 &lt;/span&gt;
                 &lt;figcaption&gt;
                     &lt;p&gt;Photo by &lt;a href="https://www.flickr.com/photos/snowpeak/7351510924/"&gt;snowpeak&lt;/a&gt;, licensed under &lt;a href="https://creativecommons.org/licenses/by/2.0/"&gt;Creative Commons&lt;/a&gt;.&lt;/p&gt;
                 &lt;/figcaption&gt;
             &lt;/figure&gt;</code></pre>
                   </details>
                </section>
             </section>
         </section>
         <section>
            <h2>How to implement</h2>
            <ol>
               <li>
                  Add a <code>data-pic</code> element for each image that will have multiple sources:
                  <pre><code>&lt;span data-pic="data-pic" data-alt="Alt tag for the image"&gt;</code></pre>
               </li>
               <li>
                  Nested inside the <code>data-pic</code> element, specify the default image, different images sources and fallback image:
                  <ol>
                     <li>
                        <strong>Default image:</strong> image that will be displayed if no media queries match or the browser doesn't support media queries:
                        <pre><code>&lt;span data-src="img/default.jpg"&gt;&lt;/span&gt;</code></pre>
                     </li>
                     <li>
                        <strong>Different image sources:</strong> images that will be displayed if their media query matches:
                        <pre><code>&lt;span data-src="img/small.jpg" data-media="(min-width: 0px)"&gt;&lt;/span&gt;
         &lt;span data-src="img/medium.jpg" data-media="(min-width: 500px)"&gt;&lt;/span&gt;
         &lt;span data-src="img/large.jpg" data-media="(min-width: 960px)"&gt;&lt;/span&gt;</code></pre>
                     </li>
                     <li>
                        <strong>Fallback image:</strong> image to display if JavaScript is not supported:
                        <pre><code>&lt;noscript&gt;&lt;img src="img/fallback.jpg" alt="Alt tag for the image"/&gt;&lt;/noscript&gt;</code></pre>
                     </li>
                  </ol>
               </li>
            </ol>
            <p>When you're finished, you should have an element that looks like the following:</p>
            <pre><code>&lt;span data-pic="data-pic" data-alt="Alt tag for the image"&gt;
             &lt;!-- Default image --&gt;
             &lt;span data-src="img/default.jpg"&gt;&lt;/span&gt;

             &lt;!-- Images for browsers with CSS media query support --&gt;
             &lt;span data-src="img/small.jpg" data-media="(min-width: 0px)"&gt;&lt;/span&gt;
             &lt;span data-src="img/medium.jpg" data-media="(min-width: 500px)"&gt;&lt;/span&gt;
             &lt;span data-src="img/large.jpg" data-media="(min-width: 960px)"&gt;&lt;/span&gt;

             &lt;!-- Fallback content for non-JS browsers. --&gt;
             &lt;noscript&gt;&lt;img src="img/fallback.jpg" alt="Alt tag for the image"/&gt;&lt;/noscript&gt;
         &lt;/span&gt;</code></pre>
         </section>
         <section>
            <h2>Configuration options</h2>
            <p>All configuration options of the plugin are controlled with data attributes:</p>
            <table class="table">
               <thead>
                  <tr>
                     <th>Option</th>
                     <th>Description</th>
                     <th>How to configure</th>
                     <th>Values</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td><code>data-pic</code></td>
                     <td>Identifies this as an element that uses the data picture plugin.</td>
                     <td>n/a</td>
                     <td>
                        <dl>
                           <dt>data-picture</dt>
                           <dd>The only supported value for the attribute.</dd>
                        </dl>
                     </td>
                  </tr>
                  <tr>
                     <td><code>data-alt</code></td>
                     <td>Provides an alt attribute value to the image element created by the plugin.</td>
                     <td>Set to the string value to use as the alt attribute.</td>
                     <td>
                        <dl>
                           <dt>None (default):</dt>
                           <dd>The image element created by the plugin will not have an alt attribute.</dd>
                           <dt>String:</dt>
                           <dd>The string will be used as the image element's alt attribute.</dd>
                        </dl>
                     </td>
                  </tr>
                  <tr>
                     <td><code>data-class</code></td>
                     <td>Provides a class attribute value to the image element created by the plugin.</td>
                     <td>Set to the string value to use as the image's CSS attribute.</td>
                     <td>
                        <dl>
                           <dt>None (default):</dt>
                           <dd>The image element created by the plugin will not have a class attribute.</dd>
                           <dt>String:</dt>
                           <dd>The string will be used as the image element's class attribute.</dd>
                        </dl>
                     </td>
                  </tr>
                  <tr>
                     <td><code>data-src</code></td>
                     <td>Image source that will be used if this element's media query (specified by data-media) matches.</td>
                     <td>Set to the image resource path that should be displayed.</td>
                     <td>
                        <dl>
                           <dt>None (default):</dt>
                           <dd>No image will be displayed if the media query matches.</dd>
                           <dt>Image path:</dt>
                           <dd>The image that will be displayed if the element's media query (specified by data-media) matches.</dd>
                        </dl>
                     </td>
                  </tr>
                  <tr>
                     <td><code>data-media</code></td>
                     <td>Media query that determines when a given image source should be displayed.</td>
                     <td>Set to the media query that should cause this element's image (specified by data-src) to display.</td>
                     <td>
                        <dl>
                           <dt>None (default):</dt>
                           <dd>The element is considered the default image and will be displayed if no media queries match or the browser does not support media queries. There can only be one default image source per data-pic element.</dd>
                           <dt>Media query:</dt>
                           <dd>The media query to match and determine if the element's image (specified by data-src) should be displayed.</dd>
                        </dl>
                     </td>
                  </tr>
               </tbody>
            </table>
         </section>
         <section>
            <h2>Events</h2>
            <p>Document the public events that can be used by implementers or developers.</p>
            <table class="table">
               <thead>
                  <tr>
                     <th>Event</th>
                     <th>Trigger</th>
                     <th>What it does</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td><code>wb-init.wb-pic</code></td>
                     <td>Triggered manually (e.g., <code>$( "[data-pic]" ).trigger( "wb-init.wb-pic" );</code>).</td>
                     <td>Initializes the plugin and determines which data-pic image source should be displayed. <strong>Note:</strong> the data picture plugin will be initialized automatically unless it is added after the page has already loaded.</td>
                  </tr>
                  <tr>
                     <td><code>wb-ready.wb-pic</code> (v4.0.5+)</td>
                     <td>Triggered automatically after Date Picture initializes.</td>
                     <td>
                        Used to identify where Data Picture was initialized (target of the event)
                        <pre><code>$( document ).on( "wb-ready.wb-pic", function( event ) {
         });</code></pre>
                        <pre><code>$( "[data-pic]" ).on( "wb-ready.wb-pic", function( event ) {
         });</code></pre>
                     </td>
                  </tr>
                  <tr>
                     <td><code>wb-updated.wb-pic</code> (v4.0.5+)</td>
                     <td>Triggered automatically each time the picture is updated.</td>
                     <td>
                        Used to identify which picture was updated (target of the event)
                        <pre><code>$( document ).on( "wb-updated.wb-pic", "[data-pic]", function( event ) {
         });</code></pre>
                        <pre><code>$( "[data-pic]" ).on( "wb-updated.wb-pic", function( event ) {
         });</code></pre>
                     </td>
                  </tr>
                  <tr>
                     <td><code>picfill.wb-pic</code></td>
                     <td>Triggered during plugin initialization and manually (e.g., <code>$( "[data-pic]" ).trigger( "picfill.wb-pic" );</code>).</td>
                     <td>Causes the data-pic element to determine which image source should be displayed. This could be called as part of a window resize event handler.</td>
                  </tr>
                  <tr>
                     <td><code>wb-ready.wb</code> (v4.0.5+)</td>
                     <td>Triggered automatically when WET has finished loading and executing.</td>
                     <td>
                        Used to identify when all WET plugins and polyfills have finished loading and executing.
                        <pre><code>$( document ).on( "wb-ready.wb", function( event ) {
         });</code></pre>
                     </td>
                  </tr>
               </tbody>
            </table>
         </section>
         <section>
            <h2>Source code</h2>
            <p><a href="https://github.com/wet-boew/wet-boew/tree/master/src/plugins/data-picture">Data picture source code on GitHub</a></p>
         </section>
        <section>
            <h2 id="discuss">Discussion</h2>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <p><a href="https://github.com/canada-ca/design-system-systeme-conception/issues" class="btn btn-default btn-block"><span class="fab fa-github"></span> Report an issue in github</a></p>
                    <p><a href="" class="btn btn-default btn-block"><span class="fab fa-slack"></span> Join the conversation on slack</a></p>
                </div>
            </div>
        </section>
        <div class="row pagedetails">
            <div class="col-sm-6 col-lg-4 mrgn-tp-sm">
                <div class="panel-pane pane-block pane-bean-report-problem-button"  >
                    <div class="pane-content">
                    <section>
                        <div class="field field-name-field-bean-wetkit-body field-type-text-long field-label-hidden">
                            <div class="field-items">
                                <div class="field-item even"><a class="btn btn-default btn-block" href="https://www.canada.ca/en/report-problem.html">Report a problem on this page</a></div>
                            </div>
                        </div>
                    </section>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mrgn-tp-sm pull-right">
            </div>
            <div class="datemod col-xs-12 mrgn-tp-lg">
                <dl id="wb-dtmd">
                    <dt>Date modified:</dt>
                    <dd><time property="dateModified">2018-12-19</time></dd>
                </dl>
            </div>
        </div>
        </main>
        <footer id="wb-info">
        <div class="landscape">
            <nav class="container wb-navcurr">
                <h2 class="wb-inv">About government</h2>
                <ul class="list-unstyled colcount-sm-2 colcount-md-3">
                    <li><a href="https://www.canada.ca/en/contact.html">Contact us</a></li>
                    <li><a href="https://www.canada.ca/en/government/dept.html">Departments and agencies</a></li>
                    <li><a href="https://www.canada.ca/en/government/publicservice.html">Public service and military</a></li>
                    <li><a href="https://www.canada.ca/en/news.html">News</a></li>
                    <li><a href="https://www.canada.ca/en/government/system/laws.html">Treaties, laws and regulations</a></li>
                    <li><a href="https://www.canada.ca/en/transparency/reporting.html">Government-wide reporting</a></li>
                    <li><a href="https://pm.gc.ca/eng">Prime Minister</a></li>
                    <li><a href="https://www.canada.ca/en/government/system.html">How government works</a></li>
                    <li><a href="https://open.canada.ca/en/">Open government</a></li>
                </ul>
            </nav>
        </div>
        <div class="brand">
            <div class="container">
                <div class="row">
                    <nav class="col-md-9 col-lg-10 ftr-urlt-lnk">
                    <h2 class="wb-inv">About this site</h2>
                    <ul>
                        <li><a href="https://www.canada.ca/en/social.html">Social media</a></li>
                        <li><a href="https://www.canada.ca/en/mobile.html">Mobile applications</a></li>
                        <li><a href="https://www1.canada.ca/en/newsite.html">About Canada.ca</a></li>
                        <li><a href="https://www.canada.ca/en/transparency/terms.html">Terms and conditions</a></li>
                        <li><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li>
                    </ul>
                    </nav>
                    <div class="col-xs-6 visible-sm visible-xs tofpg">
                    <a href="#wb-cont">Top of Page <span class="glyphicon glyphicon-chevron-up"></span></a>
                    </div>
                    <div class="col-xs-6 col-md-3 col-lg-2 text-right">
                    <img src="http://www.canada.ca/etc/designs/canada/wet-boew/assets/wmms-blk.svg" alt="Symbol of the Government of Canada">
                    </div>
                </div>
            </div>
        </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
        <script src="https://wet-boew.github.io/themes-dist/GCWeb/wet-boew/js/wet-boew.min.js"></script>

        <script src="https://www.canada.ca/etc/designs/canada/wet-boew/js/theme.min.js"></script>
    </body>
</html>
