 <!DOCTYPE html>
 <html class="no-js" lang="en" dir="ltr">
  <head>
     <meta charset="utf-8">
     <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
     <title>Tables - Demo and code - Components - Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
     <link href="https://www.canada.ca/etc/designs/canada/wet-boew/assets/favicon.ico" rel="icon" type="image/x-icon">
     <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css">
     <link rel="stylesheet" href="../css/custom.css">
     <link rel="stylesheet" href="../css/new-alerts.css">
     <link rel="stylesheet" href="../css/split-h1.css">
     <link rel="stylesheet" href="../css/iframe.css">
     <link rel="stylesheet" href="../css/checkbox-radio.css">
     <link rel="stylesheet" href="../css/alpha-beta-banner.css">
     <link rel="stylesheet" href="../css/component-presentation.css">
     <link rel="stylesheet" href="../css/navigation.css">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

     <noscript>
        <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/wet-boew/css/noscript.min.css" />
     </noscript>
     <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "WebPage",
          "name": "Tables - Demo and code - Components",
          "url": "https://design.canada.ca/components/tables-demo.html",
          "author": {
            "@type": "GovernmentOrganization",
            "name": "Treasury Board of Canada Secretariat",
            "url": "https://www.canada.ca/en/treasury-board-secretariat.html",
            "parentOrganization": {
              "@type": "GovernmentOrganization",
              "name": "Government of Canada",
              "url": "http://www.canada.ca/"
            }
          },
          "description": "Tables display data in rows and columns."
        }
     </script>
     <!-- Global site tag (gtag.js) - Google Analytics -->
     <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105628416-2"></script>
     <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());


        gtag('config', 'UA-105628416-2');

     </script>
  </head>
  <body class="cnt-wdth-lmtd" vocab="http://schema.org/" typeof="WebPage">
     <ul id="wb-tphp">
        <li class="wb-slc">
           <a class="wb-sl" href="#wb-cont">Skip to main content</a>
        </li>
        <li class="wb-slc">
           <a class="wb-sl" href="#wb-info">Skip to "About government"</a>
        </li>
     </ul>
     <header>
        <div id="wb-bnr" class="container">
           <section id="wb-lng" class="text-right">
              <h2 class="wb-inv">Language selection</h2>
              <div class="row">
                 <div class="col-md-12">
                    <ul class="list-inline margin-bottom-none">
                       <li><a lang="fr" href="https://conception.canada.ca/configurations-conception-communes/alertes-contextuelles.html">Français</a></li>
                    </ul>
                 </div>
              </div>
           </section>
           <div class="row">
              <div class="brand col-xs-5 col-md-4">
                 <a href="https://www.canada.ca/en.html"><img src="http://www.canada.ca/etc/designs/canada/wet-boew/assets/sig-blk-en.svg" alt property="logo"><span class="wb-inv"> Government of Canada / <span lang="fr">Gouvernement du Canada</span></span></a>
              </div>
              <section id="wb-srch" class="col-lg-8 text-right">
                 <h2>Search</h2>
                 <form action="https://canada.ca/en/sr/srb.html" method="get" name="cse-search-box" role="search" class="form-inline">
                    <div class="form-group">
                       <label for="wb-srch-q" class="wb-inv">Search website</label>
                       <input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="38" maxlength="150" placeholder="Search Canada.ca">
                       <input name="st" value="s" type="hidden"/>
                       <input name="num" value="10" type="hidden"/>
                       <input name="langs" value="eng" type="hidden"/>
                       <input name="st1rt" value="0" type="hidden">
                       <input name="s5bm3ts21rch" value="x" type="hidden"/>
                       <datalist id="wb-srch-q-ac"></datalist>
                    </div>
                    <div class="form-group submit">
                       <button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">Search</span></button>
                    </div>
                 </form>
              </section>
           </div>
        </div>
        <nav class="gweb-v2 gcweb-menu" typeof="SiteNavigationElement">
           <div class="container">
              <h2 class="wb-inv">Menu</h2>
              <button type="button" aria-haspopup="true" aria-controls="gc-mnu" aria-expanded="false"><span class="wb-inv">Main </span>Menu <span class="expicon glyphicon glyphicon-chevron-down"></span></button>
              <ul id="gc-mnu" role="menu" aria-orientation="vertical" data-ajax-replace="https://www.canada.ca/content/dam/canada/sitemenu/sitemenu-v2-en.html">
                 <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/jobs.html">Jobs and the workplace</a></li>
                 <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration and citizenship</a></li>
                 <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://travel.gc.ca/">Travel and tourism</a></li>
                 <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/business.html">Business and industry</a></li>
                 <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/benefits.html">Benefits</a></li>
                 <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/health.html">Health</a></li>
                 <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/taxes.html">Taxes</a></li>
                 <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/environment.html">Environment and natural resources</a></li>
                 <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/defence.html">National security and defence</a></li>
                 <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/culture.html">Culture, history and sport</a></li>
                 <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/policing.html">Policing, justice and emergencies</a></li>
                 <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/transport.html">Transport and infrastructure</a></li>
                 <li role="none presentation"><a role="menuitem" tabindex="-1" href="http://international.gc.ca/world-monde/index.aspx?lang=eng">Canada and the world</a></li>
                 <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/finance.html">Money and finances</a></li>
                 <li role="none presentation"><a role="menuitem" tabindex="-1" href="https://www.canada.ca/en/services/finance.html">Science and innovation</a></li>
              </ul>
           </div>
        </nav>
        <nav id="wb-bc" property="breadcrumb">
           <h2>You are here:</h2>
           <div class="container">
              <ol class="breadcrumb">
                 <li><a href='https://www.canada.ca/en.html'>Canada.ca</a></li>
                 <li><a href='https://www.canada.ca/en/government/about.html'>About Canada.ca</a></li>
                 <li><a href='https://www.canada.ca/en/government/about/design-system.html'>Canada.ca design system</a></li>
                 <li><a href='https://www.canada.ca/en/government/about/design-system/pattern-library.html'>Template and pattern library for Canada.ca</a></li>
              </ol>
           </div>
        </nav>
     </header>
     <!--/* Hide Nav; Hide Right Rail /*-->
     <main role="main" property="mainContentOfPage" class="container wb-prettify all-pre">
        <h1 property="name" id="wb-cont" dir="ltr"><span class="stacked"><span>Tables</span>: <span>Demo and code</span></span></h1>
        <div class="row profile">
           <div class="col-md-9">
              <p class="pagetag">Tables display data in rows and columns.</p>
           </div>
           <div class="col-md-3">
              <div class="small">
                 <ul class="list-unstyled">
                    <li><span class="wb-inv"><strong>Progress:</strong> </span><label class="label alpha-label">Alpha</label></li>
                    <li class="mrgn-rght-lg"><strong>Version:</strong> x.x</li>
                    <li class="mrgn-rght-lg"><strong>Updated:</strong> Dec 12, 2019</li>
                 </ul>
              </div>
           </div>
           <div class="col-md-12">
              <div class="btn-group mrgn-bttm-sm mrgn-tp-md">
                 <a class="btn btn-default" href="./radio-buttons.html"><span class="fas fa-pen-square"></span> <strong>Design guidelines</strong></a>
                 <a class="btn btn-default active"><span class="fas fa-laptop-code"></span> Demo and code</a>
                 <a class="btn btn-default" href="./radio-buttons-rationale.html"><span class="fas fa-microscope"></span> Rationale</a>
              </div>
           </div>
        </div>
        <div class="row">
           <div class="col-md-9 col-xs-12 mrgn-tp-md pull-right">
              <div id="demo" class="pattern-demo pattern-demo-component">
                 <div id="responsive-striped-demo" class="component-demo">
                   <table class="table table-striped" id="myTable">
                     <caption class="wb-inv">Population growth in Canadian cities</caption>
                     <thead>
                       <tr class="d2">
                         <th scope="col">Champ 1</th>
                         <th scope="col">Champ 2</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr valign="top">
                         <td data-label="Champ 1">Élément 1</td>
                         <td data-label="Champ 2">Données sur l'élément 1</td>
                       </tr>
                       <tr valign="top">
                         <td data-label="Champ 1">Élément 2</td>
                         <td data-label="Champ 2">Données sur l'élément 2</td>
                       </tr>
                       <!-- <tr valign="top">
                         <td data-label="City">Vancouver</td>
                         <td data-label="Population in 2007">2,218,134</td>
                         <td data-label="Population in 2017">2,571,262</td>
                         <td data-label="Percentage change">15.9%</td>
                       </tr>
                       <tr valign="top">
                         <td data-label="City">Ottawa–Gatineau</td>
                         <td data-label="Population in 2007">1,188,073</td>
                         <td data-label="Population in 2017">1,377,016	</td>
                         <td data-label="Percentage change">15.9%</td>
                       </tr> -->
                     </tbody>
                   </table>
                   <p><strong>Sources:</strong> Statistics Canada, CANSIM tables <a href="http://www5.statcan.gc.ca/cansim/a26?lang=eng&retrLang=eng&id=0510001&&pattern=&stByVal=1&p1=1&p2=50&tabMode=dataTable&csid=">051-0001</a> and <a href="http://www5.statcan.gc.ca/cansim/a26?lang=eng&retrLang=eng&id=0510056&&pattern=&stByVal=1&p1=1&p2=50&tabMode=dataTable&csid=">051-0056</a>.</p>
                 </div>
                 <div id="optional-demo" class="component-demo hidden">
                    <div class="wb-frmvld">
                       <form>
                          <fieldset class="chkbxrdio-grp">
                             <legend class="h5">Question (optional)</legend>
                             <ul class="list-unstyled can-ca-form">
                                <li class="radio">
                                   <input id="radio-item-optional-1" type="radio" name="radio-optional-example">
                                   <label for="radio-item-optional-1">Item 1</label>
                                </li>
                                <li class="radio">
                                   <input id="radio-item-optional-2" type="radio" name="radio-optional-example">
                                   <label for="radio-item-optional-2">Item 2</label>
                                </li>
                             </ul>
                          </fieldset>
                       </form>
                       <input type="submit" value="Continue" class="btn btn-call-to-action mrgn-bttm-md">
                    </div>
                 </div>
              </div>
           </div>
           <div class="col-md-3 pull-left">
              <div class="mrgn-bttm-sm">
                 <fieldset>
                   <label for="design-variant-menu" class="h5 ">Design variant</label>
                   <select id="design-variant-menu" class="form-control">
                      <option value="required">Required</option>
                      <option value="optional">Optional</option>
                      <!-- <option value="inline">Inline</option> -->
                   </select>
                 </fieldset>
              </div>
           </div>
        </div>
        <div class="row">
           <div class="col-md-9 col-xs-12 mrgn-tp-md pull-right">
              <div id="required-code" class="component-code">
                 <div class="code-variant beta-variant">
                    <div class="wb-tabs">
                       <div class="tabpanels">
                          <details id="required-details-panel1">
                             <summary>HTML</summary>
                             <pre><code>&lt;div class="wb-frmvld"&gt;
 &lt;form&gt;
  &lt;fieldset class="chkbxrdio-grp"&gt;
   &lt;legend class="h5"&gt;Question&lt;/legend&gt;
    &lt;ul class="list-unstyled can-ca-form"&gt;
     &lt;li class="radio"&gt;
      &lt;input id="radio-item-1" type="radio" name="radio-example" required="required"&gt;
      &lt;label for="radio-item-1"&gt;Item 1&lt;/label&gt;
     &lt;/li&gt;
     &lt;li class="radio"&gt;
      &lt;input id="radio-item-2" type="radio" name="radio-example"&gt;
      &lt;label for="radio-item-2"&gt;Item 2&lt;/label&gt;
     &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/fieldset&gt;
  &lt;input type="submit" value="Continue" class="btn btn-call-to-action mrgn-bttm-md"&gt;
 &lt;/form&gt;
&lt;/div&gt;</code></pre>
                          </details>
                          <details id="required-details-panel2">
                             <summary>CSS</summary>
                             <pre><code>/* bigger label */
label {
  font-size: 20px !important; /*will not use important tags on PR, will correct source */
}

.label {
  text-align: left!important;
  display: inline-block!important;
  clear: left!important;
  white-space: normal!important;
}

.checkbox-small label {
  font-size: 17px !important; /* important needed for now, will rmv later */
}

/* increase field flow sizing */
legend.h5 {
  margin-top: 0px !important; /*will not use important tags on PR, will correct source */
  font-size: 22px !important; /*will not use important tags on PR, will correct source */
  margin-bottom: 15px !important; /*will not use important tags on PR, will correct source */
}

.btn {
  font-size: 20px !important; /*will not use important tags on PR, will correct source */
  font-variant-ligatures: no-common-ligatures;
}

.pagedetails .btn  {
  font-size: 16px !important; /*will not use important tags on PR, will correct source */
  font-variant-ligatures: no-common-ligatures;
}

input[type="reset"],
input[type="button"],
input[type="submit"] {
  height: 50px!important;
}

/* better focus on buttons */
.btn-primary: focus,
.btn-primary.focus {
  box-shadow: 0 0 5pt 4pt rgb(59, 153, 252);
  outline: 2px solid white;
}

/* custom checkboxes */
.can-ca-form input {
  position: absolute;
  opacity: 0;
}

.can-ca-form .is-disabled {
  opacity: 0.5;
}

.can-ca-form .is-disabled label {
  cursor: not-allowed;
}

.can-ca-form {
  clear: both;
  padding-top: 6px;
}

.can-ca-form .checkbox,
.can-ca-form .radio,
.can-ca-form .form-checkbox,
.can-ca-form .form-radio {
  position: relative;
  cursor: pointer;
  font-weight: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.can-ca-form .checkbox,
.can-ca-form .radio {
  padding-left: 30px;
  margin-bottom: 32px;
}

.can-ca-form .checkbox-small {
  padding-left: 16px;
  margin-bottom: 25px;
}

.can-ca-form .form-checkbox,
.can-ca-form .form-radio {
  margin-right: 30px;
  margin-bottom: 25px;
  min-width: 26%; /* prevents weird overlapping */
}

.can-ca-form .form-checkbox label,
.can-ca-form .form-radio label {
  padding-left: 50px;
}

.can-ca-form .checkbox label::before,
.can-ca-form .radio label::before,
.can-ca-form .form-checkbox label::before,
.can-ca-form .form-radio label::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  border: 2px solid #333;
  margin-top: -4px;
}

.can-ca-form .checkbox-small label::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 2px solid #333;
  margin-top: 0;
}

.can-ca-form .radio label::before,
.can-ca-form .form-radio label::before {
  content: "";
  border-radius: 50%;
}

.can-ca-form .checkbox label::after,
.can-ca-form .form-checkbox label::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 12px;
  top: 0px;
  width: 13px;
  height: 22px;
  border: solid #333;
  border-width: 0 5px 5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.can-ca-form .checkbox-small label::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 8px;
  top: 2px;
  width: 8px;
  height: 14px;
  border: solid #333;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.can-ca-form .radio label::after,
.can-ca-form .form-radio label::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #333;
}

/* hide the check */
.can-ca-form .form-checkbox input[type="checkbox"] + label::after,
.can-ca-form .form-radio input[type="radio"] + label::after,
.can-ca-form .checkbox input[type="checkbox"] + label::after,
.can-ca-form .radio input[type="radio"] + label::after {
  content: none;
}

/* unhide check when checked */
.can-ca-form .form-checkbox input[type="checkbox"]:checked + label::after,
.can-ca-form .form-radio input[type="radio"]:checked + label::after,
.can-ca-form .checkbox input[type="checkbox"]:checked + label::after,
.can-ca-form .radio input[type="radio"]:checked + label::after {
  content: "";
}

/* add focus */
.can-ca-form .checkbox input[type="checkbox"]:focus + label::before,
.can-ca-form .form-checkbox input[type="checkbox"]:focus + label::before,
.can-ca-form .form-radio input[type="radio"]:focus + label::before,
.can-ca-form .radio input[type="radio"]:focus + label::before  {
  box-shadow: 0 0 3pt 2pt rgb(59, 153, 252);
}


/* for green checks */
.can-ca-form .checkbox-green label::after {
  content: "";
  border: solid white;
  border-width: 0 5px 5px 0;
}

/* for green checks */
.can-ca-form .checkbox-green input[type="checkbox"]:checked + label:before {
  background-color: #318000;
}

@media only screen and (max-width: 1200px) {
  .can-ca-form .form-checkbox,
  .can-ca-form .form-radio {
    min-width: 50%;
  }
}</code></pre>
                          </details>
                          <details id="required-details-panel3">
                             <summary>JavaScript</summary>
                             <pre>
                                <code>
//Using JavaScript to listen for selections

//Using JavaScript to hide or show content

//Using JavaScript to pull in content

//etc
                                 </code>
                              </pre>
                          </details>
                       </div>
                    </div>
                 </div>
                 <div class="code-variant wet4-variant hidden">
                    <pre><code>danger code for WET 4</code></pre>
                 </div>
                 <div class="code-variant wet5-variant hidden">
                    <pre><code>danger code for WET 5</code></pre>
                 </div>
                 <div class="code-variant react-variant hidden">
                    <pre><code>danger code for react</code></pre>
                 </div>
                 <div class="code-variant angular-variant hidden">
                    <pre><code>danger code for angular</code></pre>
                 </div>
              </div>
              <div id="optional-code" class="component-code hidden">
                 <div class="code-variant beta-variant">
                    <div class="wb-tabs">
                       <div class="tabpanels">
                          <details id="optional-details-panel1">
                             <summary>HTML</summary>
                             <pre><code>&lt;div class="wb-frmvld"&gt;
 &lt;form&gt;
  &lt;fieldset class="chkbxrdio-grp"&gt;
   &lt;legend class="h5"&gt;Question (optional)&lt;/legend&gt;
   &lt;ul class="list-unstyled can-ca-form"&gt;
    &lt;li class="radio"&gt;
     &lt;input id="radio-item-optional-1" type="radio" name="radio-optional-example"&gt;
     &lt;label for="radio-item-optional-1"&gt;Item 1&lt;/label&gt;
    &lt;/li&gt;
    &lt;li class="radio"&gt;
     &lt;input id="radio-item-optional-2" type="radio" name="radio-optional-example"&gt;
     &lt;label for="radio-item-optional-2"&gt;Item 2&lt;/label&gt;
    &lt;/li&gt;
   &lt;/ul&gt;
  &lt;/fieldset&gt;
 &lt;/form&gt;
 &lt;input type="submit" value="Continue" class="btn btn-call-to-action mrgn-bttm-md"&gt;
&lt;/div&gt;</code></pre>
                         </details>
                         <details id="optional-details-panel2">
                             <summary>CSS</summary>
                             <pre><code>/* bigger label */
label {
  font-size: 20px !important; /*will not use important tags on PR, will correct source */
}

.label {
  text-align: left!important;
  display:inline-block!important;
  clear: left!important;
  white-space:normal!important;
}

.checkbox-small label {
  font-size: 17px !important; /* important needed for now, will rmv later */
}

/* increase field flow sizing */
legend.h5 {
  margin-top: 0px !important; /*will not use important tags on PR, will correct source */
  font-size: 22px !important; /*will not use important tags on PR, will correct source */
  margin-bottom: 15px !important; /*will not use important tags on PR, will correct source */
}

.btn {
  font-size: 20px !important; /*will not use important tags on PR, will correct source */
  font-variant-ligatures: no-common-ligatures;
}

.pagedetails .btn  {
  font-size: 16px !important; /*will not use important tags on PR, will correct source */
  font-variant-ligatures: no-common-ligatures;
}

input[type="reset"],
input[type="button"],
input[type="submit"] {
  height: 50px!important;
}

/* better focus on buttons */
.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 5pt 4pt rgb(59, 153, 252);
  outline: 2px solid white;
}

/* custom checkboxes */
.can-ca-form input {
  position: absolute;
  opacity: 0;
}

.can-ca-form .is-disabled {
  opacity: 0.5;
}

.can-ca-form .is-disabled label {
  cursor: not-allowed;
}

.can-ca-form {
  clear: both;
  padding-top: 6px;
}

.can-ca-form .checkbox,
.can-ca-form .radio,
.can-ca-form .form-checkbox,
.can-ca-form .form-radio {
  position: relative;
  cursor: pointer;
  font-weight: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.can-ca-form .checkbox,
.can-ca-form .radio {
  padding-left: 30px;
  margin-bottom: 32px;
}

.can-ca-form .checkbox-small {
  padding-left: 16px;
  margin-bottom: 25px;
}

.can-ca-form .form-checkbox,
.can-ca-form .form-radio {
  margin-right: 30px;
  margin-bottom: 25px;
  min-width: 26%; /* prevents weird overlapping */
}

.can-ca-form .form-checkbox label,
.can-ca-form .form-radio label {
  padding-left: 50px;
}

.can-ca-form .checkbox label::before,
.can-ca-form .radio label::before,
.can-ca-form .form-checkbox label::before,
.can-ca-form .form-radio label::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  border: 2px solid #333;
  margin-top: -4px;
}

.can-ca-form .checkbox-small label::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 2px solid #333;
  margin-top: 0;
}


.can-ca-form .radio label::before,
.can-ca-form .form-radio label::before {
  content: "";
  border-radius: 50%;
}


.can-ca-form .checkbox label::after,
.can-ca-form .form-checkbox label::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 12px;
  top: 0px;
  width: 13px;
  height: 22px;
  border: solid #333;
  border-width: 0 5px 5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.can-ca-form .checkbox-small label::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 8px;
  top: 2px;
  width: 8px;
  height: 14px;
  border: solid #333;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.can-ca-form .radio label::after,
.can-ca-form .form-radio label::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #333;
}

/* hide the check */
.can-ca-form .form-checkbox input[type="checkbox"] + label::after,
.can-ca-form .form-radio input[type="radio"] + label::after,
.can-ca-form .checkbox input[type="checkbox"] + label::after,
.can-ca-form .radio input[type="radio"] + label::after {
  content: none;
}

/* unhide check when checked */
.can-ca-form .form-checkbox input[type="checkbox"]:checked + label::after,
.can-ca-form .form-radio input[type="radio"]:checked + label::after,
.can-ca-form .checkbox input[type="checkbox"]:checked + label::after,
.can-ca-form .radio input[type="radio"]:checked + label::after {
  content: "";
}

/* add focus */
.can-ca-form .checkbox input[type="checkbox"]:focus + label::before,
.can-ca-form .form-checkbox input[type="checkbox"]:focus + label::before,
.can-ca-form .form-radio input[type="radio"]:focus + label::before,
.can-ca-form .radio input[type="radio"]:focus + label::before  {
  box-shadow: 0 0 3pt 2pt rgb(59, 153, 252);
}

/* for green checks */
.can-ca-form .checkbox-green label::after {
  content: "";
  border: solid white;
  border-width: 0 5px 5px 0;
}

/* for green checks */
.can-ca-form .checkbox-green input[type="checkbox"]:checked + label:before {
  background-color: #318000;
}

@media only screen and (max-width: 1200px) {
  .can-ca-form .form-checkbox,
  .can-ca-form .form-radio {
    min-width: 50%;
  }
}
                              </code>
                           </pre>
                          </details>
                          <details id="optional-details-panel3">
                             <summary>JavaScript</summary>
                             <pre><code></code></pre>
                          </details>
                       </div>
                    </div>
                 </div>
                 <div class="code-variant wet4-variant hidden">
                    <pre><code>warning code for WET 4</code></pre>
                 </div>
                 <div class="code-variant wet5-variant hidden">
                    <pre><code>warning code for WET 5</code></pre>
                 </div>
                 <div class="code-variant react-variant hidden">
                    <pre><code>warning code for react</code></pre>
                 </div>
                 <div class="code-variant angular-variant hidden">
                    <pre><code>warning code for angular</code></pre>
                 </div>
              </div>
              <!-- <div id="inline-code" class="component-code hidden">
                 <div class="code-variant beta-variant">
                 	<div class="wb-tabs">
                 		<div class="tabpanels">
                 			<details id="inline-details-panel1">
                 				<summary>HTML</summary>
                 				<pre><code>&lt;div class="wb-frmvld"&gt;
                 &lt;form&gt;
                 &lt;fieldset class="chkbxrdio-grp form-inline"&gt;
                 &lt;legend&gt;Question&lt;/legend&gt;
                 &lt;ul class="list-unstyled can-ca-form"&gt;
                 &lt;li class="radio"&gt;
                  &lt;input id="radio-item-inline-1" type="radio" name="radio-inline-example" required="required"&gt;
                  &lt;label for="radio-item-inline-1"&gt;Item 1&lt;/label&gt;
                 &lt;/li&gt;
                 &lt;li class="radio"&gt;
                  &lt;input id="radio-item-inline-2" type="radio" name="radio-inline-example"&gt;
                  &lt;label for="radio-item-inline-2"&gt;Item 2&lt;/label&gt;
                 &lt;/li&gt;
                 &lt;/ul&gt;
                 &lt;/fieldset&gt;
                 &lt;input type="submit" value="Continue" class="btn btn-call-to-action mrgn-bttm-md"&gt;
                 &lt;/form&gt;
                 &lt;/div&gt;</code></pre>
                 			</details>
                 			<details id="inline-details-panel2">
                 				<summary>CSS</summary>
                 				<pre><code></code></pre>
                 			</details>
                 			<details id="inline-details-panel3">
                 				<summary>JavaScript</summary>
                 				<pre><code></pre></code>
                 			</details>
                 		</div>
                 	</div>
                 </div>
                 <div class="code-variant wet4-variant hidden">
                 	<pre><code>warning code for WET 4</code></pre>
                 </div>
                 <div class="code-variant wet5-variant hidden">
                 	<pre><code>warning code for WET 5</code></pre>
                 </div>
                 <div class="code-variant react-variant hidden">
                 	<pre><code>warning code for react</code></pre>
                 </div>
                 <div class="code-variant angular-variant hidden">
                 	<pre><code>warning code for angular</code></pre>
                 </div>
                 </div> -->
           </div>
           <div class="col-md-3 pull-left">
              <div class="mrgn-bttm-sm">
                 <fieldset>
                   <label for="code-variant-menu" class="h5">Code variant</label>
                   <select id="code-variant-menu" class="form-control">
                      <option value="beta">Beta</option>
                      <option value="wet4">WET 4</option>
                      <option value="wet4">AEM variant (fieldflow)</option>
                      <option value="wet5">WET 5</option>
                      <option value="react">ReactJS</option>
                      <option value="angular">Angular</option>
                   </select>
                 </fieldset>
              </div>
           </div>
        </div>
        <section>
           <h2 id="how">Customisation</h2>
           <section data-ajax-replace="./reusable-content/checkboxes-radio-buttons-customisation.html"></section>
        </section>
        <section>
           <h2 id="versions">Latest changes</h2>
           <dl class="dl-horizontal">
              <dt>Version x.x:<br><small><time datetime="2019-11-07" class="text-muted">Nov 7, 2019</time></small></dt>
              <dd>Component was updated to remove the asterix and required label on required radio buttons, add an optional label on optional radio button and use the call to action button.</dd>
           </dl>
        </section>
        <section>
           <h2 id="discuss">Discussion</h2>
           <div class="row">
              <div class="col-md-4 col-sm-6 col-xs-12">
                 <p><a href="https://github.com/canada-ca/design-system-systeme-conception/issues" class="btn btn-default btn-block"><span class="fab fa-github"></span> Report an issue in github</a></p>
                 <p><a href="" class="btn btn-default btn-block"><span class="fab fa-slack"></span> Join the conversation on slack</a></p>
              </div>
           </div>
        </section>
        <div class="row pagedetails">
           <div class="col-sm-6 col-lg-4 mrgn-tp-sm">
              <div class="panel-pane pane-block pane-bean-report-problem-button"  >
                 <div class="pane-content">
                    <section>
                       <div class="field field-name-field-bean-wetkit-body field-type-text-long field-label-hidden">
                          <div class="field-items">
                             <div class="field-item even"><a class="btn btn-default btn-block" href="https://www.canada.ca/en/report-problem.html">Report a problem on this page</a></div>
                          </div>
                       </div>
                    </section>
                 </div>
              </div>
           </div>
           <div class="col-sm-3 mrgn-tp-sm pull-right">
           </div>
           <div class="datemod col-xs-12 mrgn-tp-lg">
              <dl id="wb-dtmd">
                 <dt>Date modified:</dt>
                 <dd><time property="dateModified">2018-12-19</time></dd>
              </dl>
           </div>
        </div>
     </main>
     <footer id="wb-info">
        <div class="landscape">
           <nav class="container wb-navcurr">
              <h2 class="wb-inv">About government</h2>
              <ul class="list-unstyled colcount-sm-2 colcount-md-3">
                 <li><a href="https://www.canada.ca/en/contact.html">Contact us</a></li>
                 <li><a href="https://www.canada.ca/en/government/dept.html">Departments and agencies</a></li>
                 <li><a href="https://www.canada.ca/en/government/publicservice.html">Public service and military</a></li>
                 <li><a href="https://www.canada.ca/en/news.html">News</a></li>
                 <li><a href="https://www.canada.ca/en/government/system/laws.html">Treaties, laws and regulations</a></li>
                 <li><a href="https://www.canada.ca/en/transparency/reporting.html">Government-wide reporting</a></li>
                 <li><a href="https://pm.gc.ca/eng">Prime Minister</a></li>
                 <li><a href="https://www.canada.ca/en/government/system.html">How government works</a></li>
                 <li><a href="https://open.canada.ca/en/">Open government</a></li>
              </ul>
           </nav>
        </div>
        <div class="brand">
           <div class="container">
              <div class="row">
                 <nav class="col-md-9 col-lg-10 ftr-urlt-lnk">
                    <h2 class="wb-inv">About this site</h2>
                    <ul>
                       <li><a href="https://www.canada.ca/en/social.html">Social media</a></li>
                       <li><a href="https://www.canada.ca/en/mobile.html">Mobile applications</a></li>
                       <li><a href="https://www1.canada.ca/en/newsite.html">About Canada.ca</a></li>
                       <li><a href="https://www.canada.ca/en/transparency/terms.html">Terms and conditions</a></li>
                       <li><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li>
                    </ul>
                 </nav>
                 <div class="col-xs-6 visible-sm visible-xs tofpg">
                    <a href="#wb-cont">Top of Page <span class="glyphicon glyphicon-chevron-up"></span></a>
                 </div>
                 <div class="col-xs-6 col-md-3 col-lg-2 text-right">
                    <img src="http://www.canada.ca/etc/designs/canada/wet-boew/assets/wmms-blk.svg" alt="Symbol of the Government of Canada">
                 </div>
              </div>
           </div>
        </div>
     </footer>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
     <script src="https://wet-boew.github.io/themes-dist/GCWeb/wet-boew/js/wet-boew.min.js"></script>

     <script src="https://www.canada.ca/etc/designs/canada/wet-boew/js/theme.min.js"></script>
     <script src="../js/demo-toggles.js"></script>
  </body>
</html>
