.nobreak {
  white-space: nowrap;
}
figcaption {
  font-size: 17px !important;
  line-height: 1.5;
  max-width: 80ch;
}
abbr {
  text-decoration: none !important;
}
.blogholder {
  display: inline-block !important;
  position: relative;
  width: 52em;
}
.border {
  border: 2px solid #ccc;
}
.pquote {
  float: right;
  width: 500px;
  font-size: 30px !important;
  line-height: 1.1em;
  padding: 25px;
}
blockquote {
  margin: 10px;
  margin-left: 25px;
}
blockquote p {
  color: #3095B5 !important;
}
.quotesig {
  font-size: 14px;
}
.pagination {
  display: block !important; /* override wet */
  text-align: center !important;
}
.pagination a, span {
  padding: 0 0.3em 0 0.3em !important;
}
body {
  /* color: #768390; */
  background: #fff;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
/* fix spacing on paraphs lines */
main {
  line-height: 1.65em !important;
}
.gc-drmt p {
  margin-top: 13px !important;
  line-height: 1.35em !important;
}
/* fix spacing on paraphs lines */
.custli {
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: disc;
}
.container-fluid .row {
  padding: 0 0 1em 0;
}
.container-fluid .row:nth-child(even) {
  background: #ccc;
}
.title-timeline {
  /* margin-bottom: 60px; */
  padding: 0;
  /* border-bottom: 1px solid #ccc; */
}
/* .title-timeline p {
	margin: 0 auto;
	font-size: 16px;
	max-width: 400px;
} */
.drk-line {
  border-top: 1px solid #ddd;
}
.timeline-title {
  font-size: 20px;
  font-weight: 500;
  max-width: 400px;
}
.timeline-title-soon {
  font-size: 20px;
  font-weight: 500;
  max-width: 400px;
  margin: 0 0 0 1.8em;
}
.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* timeline block, date/projects */
.timeline-item {
  padding-left: 40px;
  position: relative;
}
/* timeline year */
.timeline-year {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 0 0.5em 0;
  text-transform: uppercase;
  white-space: nowrap5;
}
.allcaps {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
/* timeline markers */
.timeline-marker:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
  background: #cccccc;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
.timeline-marker:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
  content: "";
  width: 3px;
  background: #cccccc;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}
.timeline-item:last-child :after {
  content: none;
}
.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #cccccc;
}
/* timeline content */
.timeline-content {
  padding-bottom: 40px;
}
.timeline-content p:last-child {
  margin-bottom: 0;
}
.details-custom {
  border: none !important;
  margin-top: 25px;
}
.borderless {
  border: none !important;
  padding-top: 15px !important;
}
.bttm-brdr {
  border-bottom: 1px solid #ddd !important;
  width: 100%;
  border-radius: 0px;
  padding-left: 3px;
  margin-left: -7px;
  padding-bottom: 11px;
}
.summary-custom {
  border-top: 1px solid #ddd;
  margin-top: 10px;
}
/* ::-webkit-details-marker { display:none; } */
/* timeline finessing */
.table-smnum {
  padding-top: 13px;
}
.soon {
  color: #bbb;
}
.improvement {
  font-size: 33px;
  color: green;
  margin-top: -10px;
  font-weight: medium;
}
.table-slim {
  margin-left: -5px;
  margin-bottom: 0px;
}
.div-slim {
  padding-left: 3px !important;
  padding-right: 3px !important;
}
.pts {
  font-size: 18px !important;
}
/* design system image styling */
.pattern-demo {
  padding: 18px;
  border: 1px solid #e3e3e3;
  box-shadow: 0px 0px 10px #ddd;
}
.pattern-demo.no-pddng {
  padding: 0px !important;
}
@media only screen and (min-width: 992px) {
  .blog-list {
    margin-top: 1.8em;
  }
  .blog-photo {
    margin-top: 2.2em;
  }
}
@media only screen and (max-width: 992px) {
  .blog-photo {
    margin-top: 3em !important;
  }
}
