<table class="provisional gc-table table" id="myTable-demo" style="background-color: white;">
 <caption>Population growth in Canadian cities</caption>
 <thead>
  <tr>
   <th scope="col">City</th>
   <th scope="col">Population in 2007</th>
   <th scope="col">Population in 2017</th>
   <th scope="col">Percentage change</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td data-label="City">Toronto</td>
   <td data-label="Population in 2007">5,418,207</td>
   <td data-label="Population in 2017">6,346,088</td>
   <td data-label="Percentage change">17.1%</td>
  </tr>
  <tr>
   <td data-label="City">Montréal</td>
   <td data-label="Population in 2007">3,714,846</td>
   <td data-label="Population in 2017">4,138,254</td>
   <td data-label="Percentage change">11.4%</td>
  </tr>
  <tr>
   <td data-label="City">Vancouver</td>
   <td data-label="Population in 2007">2,218,134</td>
   <td data-label="Population in 2017">2,571,262</td>
   <td data-label="Percentage change">15.9%</td>
  </tr>
  <tr>
   <td data-label="City">Ottawa–Gatineau</td>
   <td data-label="Population in 2007">1,188,073</td>
   <td data-label="Population in 2017">1,377,016 </td>
   <td data-label="Percentage change">15.9%</td>
  </tr>
 </tbody>
</table>
