<table class="table">
  <thead>
    <tr>
      <th>Option</th>
      <th>Description</th>
      <th>How to use</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Disabled state</td>
      <td>Disabled inputs will not be clickable. Visual indications include greying out the control and adding a 'stop' cursor icon on hover.</td>
      <td>
        <ul>
          <li>Add the class <code>is-disabled</code> to the list item of the checkbox or radio item</li>
          <li>Add a <code>disabled</code> attribute to the input field</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Inline radio buttons</td>
      <td>Inline radio buttons or checkboxes will display side by side on larger screens and wrap to new lines, rather than vertically.</td>
      <td>Add the class <code>form-inline</code> to the <code>fieldset</code> or parent element of the checkbox <code>ul</code>.</td>
    </tr>
  </tbody>
</table>