---
layout: core
---
{%- include variable-core.liquid -%}
{%- capture page-title -%}
	{%- if page.titleH1 -%}
		{{ page.titleH1 }}
	{%- elsif page.title -%}
		{{ page.title }}
	{%- else -%}
		Page untitled
	{%- endif -%}
{%- endcapture -%}
	<main class="container" property="mainContentOfPage" resource="#wb-main" typeof="{% if page.layout == "post" %}Blog{% else %}WebPageElement{% endif %}">
		{%- if page.section-title or site.title -%}
		<h1 property="name" id="wb-cont" property="name headline" dir="ltr">
			<span class="stacked">
				<span>{{ page-title }}</span>: <span>{%- if page.section-title -%}{{ page.section-title }}{%- else -%}{{ site.title }}{%- endif -%}</span>
			</span>
		</h1>
		{%- else -%}
		<h1 class="gc-thickline" id="wb-cont">{{ page-title }}</h1>
		{%- endif -%}
		{{ content }}
		{% include page-details/footer.html %}
	</main>
